<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_baigujing_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,466},{230,276}}</string>
                <key>offset</key>
                <string>{40,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,41},{230,276}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{230,278}}</string>
                <key>offset</key>
                <string>{40,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,36},{230,278}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{228,280}}</string>
                <key>offset</key>
                <string>{40,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,28},{228,280}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{228,282}}</string>
                <key>offset</key>
                <string>{41,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,19},{228,282}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{228,282}}</string>
                <key>offset</key>
                <string>{45,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,15},{228,282}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{228,282}}</string>
                <key>offset</key>
                <string>{51,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,11},{228,282}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,282}}</string>
                <key>offset</key>
                <string>{56,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,9},{228,282}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,928},{230,278}}</string>
                <key>offset</key>
                <string>{57,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,13},{230,278}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,234},{230,276}}</string>
                <key>offset</key>
                <string>{57,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,18},{230,276}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1444},{234,274}}</string>
                <key>offset</key>
                <string>{55,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,25},{234,274}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{234,272}}</string>
                <key>offset</key>
                <string>{54,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,31},{234,272}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1208},{234,274}}</string>
                <key>offset</key>
                <string>{52,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,33},{234,274}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1680},{232,274}}</string>
                <key>offset</key>
                <string>{49,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,37},{232,274}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{230,276}}</string>
                <key>offset</key>
                <string>{45,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,38},{230,276}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_baigujing_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,698},{228,276}}</string>
                <key>offset</key>
                <string>{42,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,40},{228,276}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_baigujing_skill2.png</string>
            <key>size</key>
            <string>{510,1974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f84753720ab0ff0881f4410b35d1f96a$</string>
            <key>textureFileName</key>
            <string>qp_baigujing_skill2.png</string>
        </dict>
    </dict>
</plist>
