<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_baigujing_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{140,190}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{140,190}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,204},{162,170}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,66},{162,170}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{164,158}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,74},{164,158}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,204},{170,152}}</string>
                <key>offset</key>
                <string>{20,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,83},{170,152}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,190},{184,142}}</string>
                <key>offset</key>
                <string>{25,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,91},{184,142}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,188},{188,146}}</string>
                <key>offset</key>
                <string>{23,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,80},{188,146}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{172,188}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{172,188}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{138,204}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{138,204}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{120,204}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,14},{120,204}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,208}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,9},{120,208}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{106,128}}</string>
                <key>offset</key>
                <string>{12,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,3},{106,128}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,0},{110,130}}</string>
                <key>offset</key>
                <string>{14,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,6},{110,130}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{108,128}}</string>
                <key>offset</key>
                <string>{15,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,11},{108,128}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,234},{106,126}}</string>
                <key>offset</key>
                <string>{17,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,16},{106,126}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_baigujing_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,128},{106,126}}</string>
                <key>offset</key>
                <string>{18,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,19},{106,126}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_baigujing_skill1_low.png</string>
            <key>size</key>
            <string>{1014,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eb6733c1c3ad973cbd5c5fb1d6a3949$</string>
            <key>textureFileName</key>
            <string>qp_baigujing_skill1_low.png</string>
        </dict>
    </dict>
</plist>
