<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_baigujing_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,114},{114,137}}</string>
                <key>offset</key>
                <string>{20,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,20},{114,137}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,114},{114,139}}</string>
                <key>offset</key>
                <string>{20,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,18},{114,139}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{114,139}}</string>
                <key>offset</key>
                <string>{20,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,15},{114,139}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,114},{112,141}}</string>
                <key>offset</key>
                <string>{21,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,10},{112,141}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{114,141}}</string>
                <key>offset</key>
                <string>{22,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,7},{114,141}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,141}}</string>
                <key>offset</key>
                <string>{25,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,5},{114,141}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,114},{114,139}}</string>
                <key>offset</key>
                <string>{28,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,6},{114,139}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{114,139}}</string>
                <key>offset</key>
                <string>{29,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,6},{114,139}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{114,137}}</string>
                <key>offset</key>
                <string>{29,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,10},{114,137}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,137},{116,137}}</string>
                <key>offset</key>
                <string>{28,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,12},{116,137}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{116,137}}</string>
                <key>offset</key>
                <string>{27,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,15},{116,137}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,114},{116,135}}</string>
                <key>offset</key>
                <string>{26,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,18},{116,135}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,114},{114,137}}</string>
                <key>offset</key>
                <string>{25,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,18},{114,137}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,0},{114,137}}</string>
                <key>offset</key>
                <string>{23,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,19},{114,137}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
            <key>qp_baigujing_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{114,137}}</string>
                <key>offset</key>
                <string>{21,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,20},{114,137}}</string>
                <key>sourceSize</key>
                <string>{250,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_baigujing_skill2_low.png</string>
            <key>size</key>
            <string>{962,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64454772d964cdf260bbf40f5658b1ff$</string>
            <key>textureFileName</key>
            <string>qp_baigujing_skill2_low.png</string>
        </dict>
    </dict>
</plist>
