<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{112,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{112,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{112,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{112,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{112,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{112,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{112,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{112,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,112},{112,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{112,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,112},{112,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{112,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,112},{112,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{112,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,224},{112,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{112,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,336},{114,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{114,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{112,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{112,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{114,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{114,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,224},{114,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{114,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,338},{114,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{114,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,224},{114,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{114,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>crown_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,338},{122,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{122,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldkingcrown.png</string>
            <key>size</key>
            <string>{498,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf153d84949f5b08889f91a1916e77b2$</string>
            <key>textureFileName</key>
            <string>goldkingcrown.png</string>
        </dict>
    </dict>
</plist>
