<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{57,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{57,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{57,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{57,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,0},{57,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{57,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{57,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{57,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,114},{57,61}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{57,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,57},{57,61}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{57,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,171},{57,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{57,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,171},{57,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{57,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,171},{57,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{57,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,114},{57,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{57,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,114},{57,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{57,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{57,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{57,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,57},{57,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{57,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,57},{57,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{57,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,57},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{57,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>crown_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,171},{61,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{61,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldkingcrown_low.png</string>
            <key>size</key>
            <string>{250,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71839be4da2527935254fe0c36ac5dfa$</string>
            <key>textureFileName</key>
            <string>goldkingcrown_low.png</string>
        </dict>
    </dict>
</plist>
