<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_huangjinyuwang_jinguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,874},{294,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{294,290}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,292},{296,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{296,292}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,292},{294,292}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{294,292}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1172},{292,292}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{292,292}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1182},{292,294}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{292,294}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,880},{292,292}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{292,292}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,588},{292,292}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{292,292}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,584},{294,290}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{294,290}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{296,292}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{296,292}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,0},{294,292}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{294,292}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,888},{292,294}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{292,294}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{292,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{292,296}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{294,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{294,296}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{294,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{294,296}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1164},{292,290}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{292,290}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>qp_huangjinyuwang_jinguang_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1454},{286,286}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{286,286}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldkingflash.png</string>
            <key>size</key>
            <string>{887,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eac0b076463ef287fd8df88f503c3c56$</string>
            <key>textureFileName</key>
            <string>goldkingflash.png</string>
        </dict>
    </dict>
</plist>
