<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dazhangyu_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1050},{278,260}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{278,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{278,260}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{278,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{282,260}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{282,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{282,260}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{282,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1312},{264,260}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{264,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1050},{272,260}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{272,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,788},{310,260}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{310,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,788},{310,260}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{310,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,526},{322,260}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{322,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{320,260}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{320,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,526},{302,260}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{302,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{420,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{420,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,264},{404,260}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{392,260}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{392,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
            <key>qp_dazhangyu_catch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,260}}</string>
                <key>sourceSize</key>
                <string>{420,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dazhangyu_catch.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02b8245f7875750f4e6fdb0ae2ee5576:1/1$</string>
            <key>textureFileName</key>
            <string>qp_dazhangyu_catch.png</string>
        </dict>
    </dict>
</plist>
