<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dzy_dz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1},{306,266}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,79},{306,266}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,308},{284,266}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,79},{284,266}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1540},{286,278}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,78},{286,278}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1461},{290,278}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,78},{290,278}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1421},{324,278}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,78},{324,278}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1696},{326,278}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,78},{326,278}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1409},{326,286}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,70},{326,286}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,843},{336,282}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,71},{336,282}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1126},{334,282}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,71},{334,282}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1700},{326,274}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,79},{326,274}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1132},{324,288}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,79},{324,288}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1261},{302,278}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,97},{302,278}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1540},{274,280}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,97},{274,280}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1166},{294,312}}</string>
                <key>offset</key>
                <string>{-19,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,69},{294,312}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,823},{344,308}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,62},{344,308}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,422},{402,386}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{402,386}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,422},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,422},{404,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{404,400}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,809},{380,356}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,54},{380,356}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,910},{308,350}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{308,350}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_dzy_dz_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,593},{316,300}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,49},{316,300}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dzy_dz.png</string>
            <key>size</key>
            <string>{1531,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8944630d20373842d32c3dfb316d93b5:1/1$</string>
            <key>textureFileName</key>
            <string>qp_dzy_dz.png</string>
        </dict>
    </dict>
</plist>
