<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ufo_plate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,303},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>ufo_plate_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,308},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>ufo_plate_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,308},{44,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>ufo_plate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,308},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>ufo_plate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,318},{42,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{42,41}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>ufo_plate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,318},{40,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{40,47}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>ufo_plate_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,308},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>ufo_plate_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,308},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>ufo_plate_qp_bg_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,357}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>ufo_plate_qp_bg_dk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,2},{261,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{261,261}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>ufo_plate_qp_bg_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2},{103,131}}</string>
                <key>offset</key>
                <string>{-2,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,48},{103,131}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>ufo_plate_qp_bg_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,135},{77,107}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{77,107}}</string>
                <key>sourceSize</key>
                <string>{81,115}</string>
            </dict>
            <key>ufo_plate_qp_fdy_cd_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{355,356}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,356}}</string>
                <key>sourceSize</key>
                <string>{357,356}</string>
            </dict>
            <key>ufo_plate_qp_fdy_cd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{335,334}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{335,334}}</string>
                <key>sourceSize</key>
                <string>{357,356}</string>
            </dict>
            <key>ufo_plate_qp_fdy_zzg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,68},{62,63}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{62,63}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ufo_plate_qp_fdy_zzg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,2},{64,67}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,29},{64,67}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ufo_plate_qp_fdy_zzg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,244},{72,77}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{72,77}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ufo_plate_qp_fdy_zzg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,244},{72,77}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{72,77}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ufo_plate_qp_fdy_zzg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,265},{76,83}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{76,83}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ufo_plate_qp_fdy_zzg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,265},{80,87}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{80,87}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ufo_plate_qp_fdy_zzg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,135},{84,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{84,93}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ufo_plate_qp_fdy_zzg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,221},{80,93}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{80,93}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ufo_plate_qp_fdy_zzg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,265},{66,87}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{66,87}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ufo_plate_qp_fdy_zzg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,333},{20,7}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{20,7}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ufo_plate_qp_light_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,2},{304,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{304,304}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA5555</string>
            <key>realTextureFileName</key>
            <string>ufo_plate.png</string>
            <key>size</key>
            <string>{1798,361}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8506091307816f5ce1e843ee0c1787df$</string>
            <key>textureFileName</key>
            <string>ufo_plate.png</string>
        </dict>
    </dict>
</plist>
