<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ufo_ple_qp_fdy_bz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1},{186,187}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,127},{186,187}}</string>
                <key>sourceSize</key>
                <string>{436,433}</string>
            </dict>
            <key>ufo_ple_qp_fdy_bz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,385},{254,253}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,93},{254,253}}</string>
                <key>sourceSize</key>
                <string>{436,433}</string>
            </dict>
            <key>ufo_ple_qp_fdy_bz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,686},{312,307}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{312,307}}</string>
                <key>sourceSize</key>
                <string>{436,433}</string>
            </dict>
            <key>ufo_ple_qp_fdy_bz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,686},{354,335}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,51},{354,335}}</string>
                <key>sourceSize</key>
                <string>{436,433}</string>
            </dict>
            <key>ufo_ple_qp_fdy_bz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{410,383}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{410,383}}</string>
                <key>sourceSize</key>
                <string>{436,433}</string>
            </dict>
            <key>ufo_ple_qp_fdy_bz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1},{394,327}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,60},{394,327}}</string>
                <key>sourceSize</key>
                <string>{436,433}</string>
            </dict>
            <key>ufo_ple_qp_fdy_cd_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,329},{355,356}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,356}}</string>
                <key>sourceSize</key>
                <string>{357,356}</string>
            </dict>
            <key>ufo_ple_qp_fdy_cd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,686},{335,334}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{335,334}}</string>
                <key>sourceSize</key>
                <string>{357,356}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,375},{105,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,92}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,282},{103,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,92}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,375},{105,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,92}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,468},{103,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{103,90}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,571},{105,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,92}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,559},{103,90}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{103,90}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,478},{105,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,92}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,385},{105,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,92}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,189},{103,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,92}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,282},{105,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,92}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,468},{103,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{103,90}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,571},{105,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,92}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,468},{103,90}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{103,90}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>ufo_ple_qp_fdy_hjd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,189},{105,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,92}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ufo_ple.png</string>
            <key>size</key>
            <string>{1017,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b06829702e77665094f194648cb9fcd$</string>
            <key>textureFileName</key>
            <string>ufo_ple.png</string>
        </dict>
    </dict>
</plist>
