<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_sunwukong_1_special_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,321},{280,258}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,74},{280,258}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_1_special_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,647},{284,280}}</string>
                <key>offset</key>
                <string>{-24,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{284,280}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_1_special_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,315},{266,306}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{266,306}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,647},{286,296}}</string>
                <key>offset</key>
                <string>{-30,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{286,296}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1},{310,310}}</string>
                <key>offset</key>
                <string>{-37,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{310,310}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{270,320}}</string>
                <key>offset</key>
                <string>{-19,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{270,320}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1},{284,318}}</string>
                <key>offset</key>
                <string>{-32,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{284,318}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1},{260,312}}</string>
                <key>offset</key>
                <string>{-22,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{260,312}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,625},{254,312}}</string>
                <key>offset</key>
                <string>{-33,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,9},{254,312}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{286,320}}</string>
                <key>offset</key>
                <string>{-25,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,7},{286,320}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,325},{284,320}}</string>
                <key>offset</key>
                <string>{-37,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{284,320}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,625},{290,314}}</string>
                <key>offset</key>
                <string>{-38,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{290,314}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,625},{292,310}}</string>
                <key>offset</key>
                <string>{-43,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{292,310}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{298,322}}</string>
                <key>offset</key>
                <string>{-37,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{298,322}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
            <key>qp_sunwukong_2_special_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,313},{292,310}}</string>
                <key>offset</key>
                <string>{-37,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{292,310}}</string>
                <key>sourceSize</key>
                <string>{408,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_sunwukong_special.png</string>
            <key>size</key>
            <string>{1432,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea704a7da7bd2376ffacca2e1da002c$</string>
            <key>textureFileName</key>
            <string>qp_sunwukong_special.png</string>
        </dict>
    </dict>
</plist>
