<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swk_bz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1406},{68,60}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,176},{68,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,301},{114,114}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,147},{114,114}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,184},{126,116}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,148},{126,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,824},{146,130}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,143},{146,130}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,1501},{162,146}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,131},{162,146}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1},{182,172}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,121},{182,172}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1196},{184,178}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,118},{184,178}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,633},{190,182}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,117},{190,182}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,960},{196,190}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,113},{196,190}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1492},{234,200}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,106},{234,200}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1151},{254,214}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,99},{254,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1491},{228,228}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,92},{228,228}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1491},{244,240}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,87},{244,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1196},{294,280}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,57},{294,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1162},{354,338}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{354,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,799},{396,374}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{396,374}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1},{400,396}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,396}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,402},{400,396}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,396}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,398},{400,396}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,396}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1},{400,396}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,396}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{400,396}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,396}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,799},{396,396}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{396,396}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,402},{398,394}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{398,394}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,801},{378,370}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{378,370}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,330},{320,302}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,57},{320,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1501},{274,222}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{274,222}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_bz_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1172},{354,292}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,65},{354,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>swk_xl_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,649},{242,150}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,28},{242,150}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>swk_xl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,960},{244,196}}</string>
                <key>offset</key>
                <string>{-1,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,18},{244,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>swk_xl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1481},{264,234}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,23},{264,234}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>swk_xl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1196},{284,294}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,18},{284,294}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>swk_xl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1},{304,328}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{304,328}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>swk_xl_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1157},{314,334}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{314,334}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>swk_xl_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,649},{348,310}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{348,310}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>swk_xl_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,332},{360,316}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{360,316}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>swk_xl_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1},{360,330}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{360,330}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>swk_xl_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,801},{360,340}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{360,340}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>swk_xl_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1492},{310,230}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,130},{310,230}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_swk_dz.png</string>
            <key>size</key>
            <string>{2037,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:595a99933fc51927b96e91c26112cfd7:1/1$</string>
            <key>textureFileName</key>
            <string>qp_swk_dz.png</string>
        </dict>
    </dict>
</plist>
