<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magicbook_leave_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,68}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{171,68}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{165,66}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,44},{165,66}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,318},{129,70}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{129,70}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{165,68}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{165,68}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,242},{139,74}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{139,74}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{163,80}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{163,80}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,72},{163,82}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{163,82}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{139,80}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{139,80}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,156},{149,84}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{149,84}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{135,90}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{135,90}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,409},{123,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{123,98}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{109,94}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,10},{109,94}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,396},{103,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{103,92}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,318},{89,100}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,8},{89,100}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
            <key>magicbook_leave_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,156},{51,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,8},{51,102}}</string>
                <key>sourceSize</key>
                <string>{183,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magicbook_leave_low.png</string>
            <key>size</key>
            <string>{372,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5d143cfc2c28d2a1d7e250f906e737a$</string>
            <key>textureFileName</key>
            <string>magicbook_leave_low.png</string>
        </dict>
    </dict>
</plist>
