<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magicbook_init_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,127},{91,107}}</string>
                <key>offset</key>
                <string>{28,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,36},{91,107}}</string>
                <key>sourceSize</key>
                <string>{183,149}</string>
            </dict>
            <key>magicbook_init_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,133},{103,115}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,16},{103,115}}</string>
                <key>sourceSize</key>
                <string>{183,149}</string>
            </dict>
            <key>magicbook_init_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{103,129}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,3},{103,129}}</string>
                <key>sourceSize</key>
                <string>{183,149}</string>
            </dict>
            <key>magicbook_init_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{99,123}}</string>
                <key>offset</key>
                <string>{24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,6},{99,123}}</string>
                <key>sourceSize</key>
                <string>{183,149}</string>
            </dict>
            <key>magicbook_init_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{143,97}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,25},{143,97}}</string>
                <key>sourceSize</key>
                <string>{183,149}</string>
            </dict>
            <key>magicbook_init_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,147},{105,85}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,42},{105,85}}</string>
                <key>sourceSize</key>
                <string>{183,149}</string>
            </dict>
            <key>magicbook_init_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,75}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,61},{167,75}}</string>
                <key>sourceSize</key>
                <string>{183,149}</string>
            </dict>
            <key>magicbook_init_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{165,67}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,72},{165,67}}</string>
                <key>sourceSize</key>
                <string>{183,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magicbook_init_low.png</string>
            <key>size</key>
            <string>{460,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e55754fe10ad76b85caf4e2842d9cebf$</string>
            <key>textureFileName</key>
            <string>magicbook_init_low.png</string>
        </dict>
    </dict>
</plist>
