<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengjiu_lan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,455},{30,91}}</string>
                <key>offset</key>
                <string>{-133,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{30,91}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,184},{56,95}}</string>
                <key>offset</key>
                <string>{-120,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{56,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,196},{82,95}}</string>
                <key>offset</key>
                <string>{-107,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{82,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,410},{106,95}}</string>
                <key>offset</key>
                <string>{-93,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{106,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{130,95}}</string>
                <key>offset</key>
                <string>{-78,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{130,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,281},{152,95}}</string>
                <key>offset</key>
                <string>{-63,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{152,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{176,95}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{176,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,95}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{178,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,95}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,3},{178,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{176,95}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,3},{176,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,99},{174,95}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,3},{174,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,99},{156,95}}</string>
                <key>offset</key>
                <string>{71,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,3},{156,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,280},{128,95}}</string>
                <key>offset</key>
                <string>{85,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,3},{128,95}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,410},{100,91}}</string>
                <key>offset</key>
                <string>{97,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,6},{100,91}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,99},{70,83}}</string>
                <key>offset</key>
                <string>{110,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,10},{70,83}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
            <key>chengjiu_lan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{38,75}}</string>
                <key>offset</key>
                <string>{120,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,13},{38,75}}</string>
                <key>sourceSize</key>
                <string>{304,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chengjiu_lan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eba12ee700c6b863d5b25efaafc3b4b$</string>
            <key>textureFileName</key>
            <string>chengjiu_lan.png</string>
        </dict>
    </dict>
</plist>
