<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_xkzj_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,175}</string>
                <key>spriteSourceSize</key>
                <string>{171,175}</string>
                <key>textureRect</key>
                <string>{{2,2},{171,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{165,167}</string>
                <key>spriteSourceSize</key>
                <string>{171,175}</string>
                <key>textureRect</key>
                <string>{{2,710},{165,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_xkzj_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,175}</string>
                <key>spriteSourceSize</key>
                <string>{171,175}</string>
                <key>textureRect</key>
                <string>{{2,179},{171,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,175}</string>
                <key>spriteSourceSize</key>
                <string>{171,175}</string>
                <key>textureRect</key>
                <string>{{2,356},{171,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,175}</string>
                <key>spriteSourceSize</key>
                <string>{171,175}</string>
                <key>textureRect</key>
                <string>{{2,533},{171,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb_lyem_xukong.png</string>
            <key>size</key>
            <string>{175,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11aab12bcea207ba81a5d3e4df2c077b:41ef4aeb8da093fccfdb698d5a5f8b46:6b1a186a6d3166d2931e90e0a9c6285b$</string>
            <key>textureFileName</key>
            <string>bomb_lyem_xukong.png</string>
        </dict>
    </dict>
</plist>
