<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_ylpf_bz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{159,165}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{159,165}}</string>
                <key>sourceSize</key>
                <string>{161,165}</string>
            </dict>
            <key>qp_ylpf_bz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{161,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,165}}</string>
                <key>sourceSize</key>
                <string>{161,165}</string>
            </dict>
            <key>qp_ylpf_bz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{161,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,165}}</string>
                <key>sourceSize</key>
                <string>{161,165}</string>
            </dict>
            <key>qp_ylpf_bz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,165}}</string>
                <key>sourceSize</key>
                <string>{161,165}</string>
            </dict>
            <key>qp_ylpf_bz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{147,131}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{147,131}}</string>
                <key>sourceSize</key>
                <string>{161,165}</string>
            </dict>
            <key>qp_ylpf_bz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{137,131}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{137,131}}</string>
                <key>sourceSize</key>
                <string>{161,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_ylpu.png</string>
            <key>size</key>
            <string>{936,165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9697f1ede72fcf36578cd6313a68324b:1/1$</string>
            <key>textureFileName</key>
            <string>bomb_ylpu.png</string>
        </dict>
    </dict>
</plist>
