<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_penetrate_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,5}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{91,109},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_penetrate_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,4}</string>
                <key>spriteSize</key>
                <string>{16,37}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{1,304},{16,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_penetrate_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{88,63}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{1,109},{88,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_penetrate_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{126,57}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_penetrate_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{128,65}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{1,174},{128,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_penetrate_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{128,45}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{68,174},{128,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_penetrate_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{110,47}</string>
                <key>spriteSourceSize</key>
                <string>{140,65}</string>
                <key>textureRect</key>
                <string>{{1,60},{110,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb_penetrate.png</string>
            <key>size</key>
            <string>{128,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6db417b6a5f0f5bb11e909ef2d3e1756:a46fc9e35da4691315fdc2457e2e6182:f802ce1d311b54ba1c56bc531d6588a2$</string>
            <key>textureFileName</key>
            <string>bomb_penetrate.png</string>
        </dict>
    </dict>
</plist>
