<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_huanghei_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,458},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{176,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_huanghei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,678},{196,186}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,39},{196,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_huanghei_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,678},{198,196}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{198,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_huanghei_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,458},{218,216}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{218,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_huanghei_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{228,226}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{228,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_huanghei_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{236,226}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{236,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_huanghei_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,230},{238,226}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{238,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_huanghei_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{238,226}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{238,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_huanghei_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,226}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{238,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_huanghei_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,226}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{238,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_huanghei.png</string>
            <key>size</key>
            <string>{628,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f82ad7cf5b919eaac91f637f7298001$</string>
            <key>textureFileName</key>
            <string>bomb_huanghei.png</string>
        </dict>
    </dict>
</plist>
