<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_shengguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{120,114}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,71},{120,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_shengguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,240},{176,166}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{176,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_shengguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,252}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_shengguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,258},{216,218}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{216,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_shengguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{228,238}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{228,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_shengguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{250,252}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{250,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_shengguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{216,236}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{216,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_shengguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,240},{216,236}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{216,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_shengguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{216,236}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{216,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb_shengguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,256},{216,236}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{216,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_shengguang.png</string>
            <key>size</key>
            <string>{1078,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f441abf370af8e953257b270ef62b980$</string>
            <key>textureFileName</key>
            <string>bomb_shengguang.png</string>
        </dict>
    </dict>
</plist>
