<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heijin_paowang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,300},{64,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,106},{64,66}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,230},{196,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,41},{196,196}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{226,226}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{226,226}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{248,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{248,248}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,282},{264,264}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{264,264}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{274,274}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{274,274}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{274,276}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{274,276}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,278}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{276,278}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{260,258}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{260,258}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,428},{136,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,63},{136,156}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,390},{136,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,63},{136,156}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,252},{136,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,63},{136,156}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,836},{136,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,63},{136,156}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{136,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,63},{136,156}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,636},{134,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,64},{134,154}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,566},{134,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,64},{134,154}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,528},{134,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,64},{134,154}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,772},{116,134}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{116,134}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,428},{102,98}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,100},{102,98}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,532},{102,96}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,106},{102,96}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,366},{60,92}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,108},{60,92}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,252},{46,84}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,110},{46,84}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,460},{56,54}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,111},{56,54}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{28,26}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,112},{28,26}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>heijin_paowang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,994},{12,14}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,121},{12,14}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_shadowHunter3_goldenblackAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3e6373f5753a22f6ddb71714c215dbc$</string>
            <key>textureFileName</key>
            <string>bomb_shadowHunter3_goldenblackAtlas.png</string>
        </dict>
    </dict>
</plist>
