<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingchen_paohua_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{93,89}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{93,89}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>xingchen_paohua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,559},{169,161}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{169,161}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>xingchen_paohua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{197,191}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{197,191}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>xingchen_paohua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,382},{181,175}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{181,175}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>xingchen_paohua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{199,193}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{199,193}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>xingchen_paohua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{201,193}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{201,193}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>xingchen_paohua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,195}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{201,195}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>xingchen_paohua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,197},{189,183}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{189,183}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_xingchen.png</string>
            <key>size</key>
            <string>{407,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dafc7e810ab17d3a30456dd6be77839$</string>
            <key>textureFileName</key>
            <string>bomb_xingchen.png</string>
        </dict>
    </dict>
</plist>
