<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_slzj_bz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,524},{184,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,172}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>qp_slzj_bz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{184,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,172}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>qp_slzj_bz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,350},{184,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,172}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>qp_slzj_bz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{184,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,172}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>qp_slzj_bz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,176},{184,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,172}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>qp_slzj_bz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{184,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,172}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>qp_slzj_bz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,172}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>qp_slzj_bz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,172}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_slzj.png</string>
            <key>size</key>
            <string>{374,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dabcb032b7c4308504c8942adcbe0509:1/1$</string>
            <key>textureFileName</key>
            <string>bomb_slzj.png</string>
        </dict>
    </dict>
</plist>
