<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dream_gold_small_bomb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1030},{216,202}}</string>
                <key>offset</key>
                <string>{45,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,147},{216,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_small_bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,798},{332,268}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,111},{332,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_small_bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,364},{378,312}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,78},{378,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_small_bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,788},{442,340}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,65},{442,340}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_small_bomb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{506,364}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,76},{506,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_small_bomb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,2},{210,62}}</string>
                <key>offset</key>
                <string>{-114,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,167},{210,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_super_bomb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1230},{178,206}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,149},{178,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_super_bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1106},{256,278}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,118},{256,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_super_bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1130},{334,356}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,80},{334,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_super_bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{416,430}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{416,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_super_bomb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,512}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{486,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_gold_super_bomb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{444,362}}</string>
                <key>offset</key>
                <string>{16,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,12},{444,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_small_bomb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1234},{186,218}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,152},{186,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_small_bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,744},{270,284}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,110},{270,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_small_bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,760},{332,344}}</string>
                <key>offset</key>
                <string>{27,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,72},{332,344}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_small_bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,368},{372,390}}</string>
                <key>offset</key>
                <string>{32,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,49},{372,390}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_small_bomb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{360,428}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,34},{360,428}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_small_bomb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,366},{290,430}}</string>
                <key>offset</key>
                <string>{77,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,62},{290,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_super_bomb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1030},{198,184}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,171},{198,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_super_bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1068},{256,256}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,140},{256,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_super_bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1130},{334,336}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,100},{334,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_super_bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,368},{418,418}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,59},{418,418}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dream_silver_super_bomb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{486,494}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{486,494}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dream_coin_bomb.png</string>
            <key>size</key>
            <string>{2034,1468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e796bc9b5e29bdfb035f1ae0e55e75a6$</string>
            <key>textureFileName</key>
            <string>dream_coin_bomb.png</string>
        </dict>
    </dict>
</plist>
