<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iceBomb_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-17}</string>
                <key>spriteSize</key>
                <string>{242,216}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{747,249},{242,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iceBomb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{505,249},{250,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iceBomb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iceBomb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,253},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iceBomb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{253,1},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iceBomb_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{253,253},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iceBomb_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{250,246}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{505,1},{250,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iceBomb.png</string>
            <key>size</key>
            <string>{964,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e8d1316304ad14a9d1bd238070b3222:490b7f981476e4d5170443dd03ec5484:5b1be1df7d59687d68ef64a2d1fa9ec1$</string>
            <key>textureFileName</key>
            <string>iceBomb.png</string>
        </dict>
    </dict>
</plist>
