<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kp_bravePioneer_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{204,143},{80,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_bravePioneer_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{82,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{92,1},{82,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_bravePioneer_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{78,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{176,1},{78,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_flameKnight1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{633,129},{56,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_flameKnight1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{130,143},{82,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_flameKnight1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{634,1},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_flameKnight1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{634,71},{56,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_iceGuard_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,148},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_iceGuard_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{76,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{479,136},{76,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_iceGuard_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{344,142},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_iceGuard_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{557,132},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,23}</string>
                <key>spriteSize</key>
                <string>{49,39}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{633,187},{49,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{129,69}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{522,1},{129,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{145,89}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{135,139}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{256,1},{135,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{127,133}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{393,1},{127,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,10}</string>
                <key>spriteSize</key>
                <string>{51,103}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{426,136},{51,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_spaceGhost_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-35}</string>
                <key>spriteSize</key>
                <string>{123,39}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{593,1},{123,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kp_spaceGhost_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-26}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{169,159}</string>
                <key>textureRect</key>
                <string>{{79,148},{89,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kaiPao.png</string>
            <key>size</key>
            <string>{715,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:552d6916539b5f8351da256b71f82b64:b3311faeec440307cc7f1e77ef5e3ab2:bf6f55b4b46f06ec680d5fe8bec1ac5f$</string>
            <key>textureFileName</key>
            <string>kaiPao.png</string>
        </dict>
    </dict>
</plist>
