<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magicCircleGlow_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1006},{249,249}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1006},{249,249}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{249,249}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1006},{251,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{251,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{251,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{251,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,755},{249,249}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,755},{249,249}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,755},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,504},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,504},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,504},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,253},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,253},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,253},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{249,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
            <key>magicCircleGlow_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{251,249}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{251,249}}</string>
                <key>sourceSize</key>
                <string>{257,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magicCircleGlow.png</string>
            <key>size</key>
            <string>{1008,1257}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6854271bcd938375489b187c947c6196:1/1$</string>
            <key>textureFileName</key>
            <string>magicCircleGlow.png</string>
        </dict>
    </dict>
</plist>
