<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>silverSuperBomb_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{751,1},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silverSuperBomb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{290,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{721,671},{290,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silverSuperBomb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{300,290}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{721,369},{300,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silverSuperBomb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{336,316}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{383,369},{336,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silverSuperBomb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{380,398}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silverSuperBomb_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{366,366}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{383,1},{366,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silverSuperBomb_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{392,378}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,401},{392,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silverSuperBomb_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{332,274}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{381,687},{332,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>silverSuperBombAtlas.png</string>
            <key>size</key>
            <string>{1012,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b97c00d347be823f80afeed773299495:815afb155ed61415c381c549f5d51584:1160a867612a0c278d78060cd07d4b2b$</string>
            <key>textureFileName</key>
            <string>silverSuperBombAtlas.png</string>
        </dict>
    </dict>
</plist>
