<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yinbi_xiao_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{65,74}</string>
                <key>spriteSourceSize</key>
                <string>{383,400}</string>
                <key>textureRect</key>
                <string>{{382,744},{65,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinbi_xiao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{101,108}</string>
                <key>spriteSourceSize</key>
                <string>{383,400}</string>
                <key>textureRect</key>
                <string>{{272,744},{101,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yinbi_xiao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{129,138}</string>
                <key>spriteSourceSize</key>
                <string>{383,400}</string>
                <key>textureRect</key>
                <string>{{331,172},{129,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yinbi_xiao_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{169,172}</string>
                <key>spriteSourceSize</key>
                <string>{383,400}</string>
                <key>textureRect</key>
                <string>{{331,1},{169,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yinbi_xiao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{205,192}</string>
                <key>spriteSourceSize</key>
                <string>{383,400}</string>
                <key>textureRect</key>
                <string>{{314,303},{205,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yinbi_xiao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{229,220}</string>
                <key>spriteSourceSize</key>
                <string>{383,400}</string>
                <key>textureRect</key>
                <string>{{272,522},{229,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinbi_xiao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{269,270}</string>
                <key>spriteSourceSize</key>
                <string>{383,400}</string>
                <key>textureRect</key>
                <string>{{1,522},{269,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinbi_xiao_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{311,292}</string>
                <key>spriteSourceSize</key>
                <string>{383,400}</string>
                <key>textureRect</key>
                <string>{{1,228},{311,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinbi_xiao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-8}</string>
                <key>spriteSize</key>
                <string>{225,328}</string>
                <key>spriteSourceSize</key>
                <string>{383,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{225,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yinbi_xiao_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,142}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{383,400}</string>
                <key>textureRect</key>
                <string>{{1,794},{43,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smallBombSilverCoinAtlas.png</string>
            <key>size</key>
            <string>{507,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c97bbebf45c14b1cefca769e0b63c2dd:6af06036725904a7a4b17078288a4f7b:95bb88860bededc93267d3347b11981e$</string>
            <key>textureFileName</key>
            <string>smallBombSilverCoinAtlas.png</string>
        </dict>
    </dict>
</plist>
