<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kp_cja_ziji_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{130,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{258,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{1024,2},{120,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{80,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{1342,2},{80,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{124,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{898,2},{124,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{386,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{514,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{106,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{1146,2},{106,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{1254,2},{86,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{642,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{770,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kp_cja_ziji_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{126,176}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kp_cja_ziji.png</string>
            <key>size</key>
            <string>{1424,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c15569a16536faaeb780b0b57ae461a9:f668f87b58d01fe98688334fe17eae8c:03cc7a1317eecceb7ca1f952f35c10dc$</string>
            <key>textureFileName</key>
            <string>kp_cja_ziji.png</string>
        </dict>
    </dict>
</plist>
