<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_laba_dh_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{114,86}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{424,366},{114,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_laba_dh_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{124,92}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{408,240},{124,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_laba_dh_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,5}</string>
                <key>spriteSize</key>
                <string>{152,98}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{316,140},{152,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_laba_dh_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{158,104}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{156,138},{158,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_laba_dh_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{166,134}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{156,2},{166,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_laba_dh_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{158,144}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{2,156},{158,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_laba_dh_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{2,2},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_laba_dh_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{144,148}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{2,316},{144,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_laba_dh_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{324,2},{136,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_laba_dh_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-6}</string>
                <key>spriteSize</key>
                <string>{136,132}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{148,244},{136,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_laba_dh_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-9}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{148,378},{136,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_laba_dh_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{286,244},{136,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_laba_dh_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{136,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{286,382},{136,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_laba_dh.png</string>
            <key>size</key>
            <string>{512,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16a0ff9d22bbe3202e54821f21326a07:55278bc1dd2e6166aeaeb4fe2eb3bdbe:049ad38e58a07f4aa90d8907d893c4cd$</string>
            <key>textureFileName</key>
            <string>qp_laba_dh.png</string>
        </dict>
    </dict>
</plist>
