<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yiwangdajin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,962},{214,164}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,31},{214,164}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,542},{222,174}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{222,174}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,184},{248,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,19},{248,182}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,194},{260,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{260,192}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,580},{258,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{258,192}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,882},{254,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{254,188}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,717},{214,164}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,31},{214,164}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,367},{222,174}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{222,174}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1},{248,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,19},{248,182}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{260,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{260,192}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,387},{258,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{258,192}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>yiwangdajin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,773},{254,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{254,188}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yiwangdajin.png</string>
            <key>size</key>
            <string>{511,1127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cb9c3161148f826461962718b75fe96:1/1$</string>
            <key>textureFileName</key>
            <string>yiwangdajin.png</string>
        </dict>
    </dict>
</plist>
