<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dream_cannon_bullet_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,366},{80,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{80,124}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{80,124}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,366},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,244},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,244},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,366},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,122},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,122},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,244},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,122},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>dream_cannon_bullet_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{80,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dream_cannon_bullet_1.png</string>
            <key>size</key>
            <string>{320,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:268160c304aab3f606e420d613322255$</string>
            <key>textureFileName</key>
            <string>dream_cannon_bullet_1.png</string>
        </dict>
    </dict>
</plist>
