<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_yidengjiang_cb_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-18}</string>
                <key>spriteSize</key>
                <string>{136,160}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{318,1186},{136,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_yidengjiang_cb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-12}</string>
                <key>spriteSize</key>
                <string>{160,176}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{2,1186},{160,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-3}</string>
                <key>spriteSize</key>
                <string>{190,200}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{308,2},{190,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,1}</string>
                <key>spriteSize</key>
                <string>{216,212}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{278,786},{216,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,3}</string>
                <key>spriteSize</key>
                <string>{246,224}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{278,538},{246,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_yidengjiang_cb_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{274,234}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{2,478},{274,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{304,244}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{304,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{290,228}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{2,248},{290,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-12}</string>
                <key>spriteSize</key>
                <string>{274,212}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{2,714},{274,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-17}</string>
                <key>spriteSize</key>
                <string>{252,198}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{2,928},{252,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-21}</string>
                <key>spriteSize</key>
                <string>{230,184}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{256,1000},{230,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-25}</string>
                <key>spriteSize</key>
                <string>{208,172}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{294,364},{208,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-29}</string>
                <key>spriteSize</key>
                <string>{188,158}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{308,204},{188,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cb_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-28}</string>
                <key>spriteSize</key>
                <string>{170,152}</string>
                <key>spriteSourceSize</key>
                <string>{310,250}</string>
                <key>textureRect</key>
                <string>{{164,1186},{170,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_yidengjiang_cb.png</string>
            <key>size</key>
            <string>{504,1364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd76527a537aff0631a724f98a35dba:99b3d03cf1fd620a59fba6c3cede4657:da28eb99cb4b121f98fa1457cfc6a211$</string>
            <key>textureFileName</key>
            <string>qp_yidengjiang_cb.png</string>
        </dict>
    </dict>
</plist>
