<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_erdengjiang_pmxs_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,143}</string>
                <key>spriteSourceSize</key>
                <string>{436,143}</string>
                <key>textureRect</key>
                <string>{{2,2},{436,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_pmxs_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,143}</string>
                <key>spriteSourceSize</key>
                <string>{436,143}</string>
                <key>textureRect</key>
                <string>{{2,147},{436,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_pmxs_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,143}</string>
                <key>spriteSourceSize</key>
                <string>{436,143}</string>
                <key>textureRect</key>
                <string>{{2,292},{436,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_pmxs_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,143}</string>
                <key>spriteSourceSize</key>
                <string>{436,143}</string>
                <key>textureRect</key>
                <string>{{2,437},{436,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_pmxs_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,143}</string>
                <key>spriteSourceSize</key>
                <string>{436,143}</string>
                <key>textureRect</key>
                <string>{{2,582},{436,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_pmxs_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,143}</string>
                <key>spriteSourceSize</key>
                <string>{436,143}</string>
                <key>textureRect</key>
                <string>{{2,727},{436,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_pmxs_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,143}</string>
                <key>spriteSourceSize</key>
                <string>{436,143}</string>
                <key>textureRect</key>
                <string>{{2,872},{436,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_pmxs_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,143}</string>
                <key>spriteSourceSize</key>
                <string>{436,143}</string>
                <key>textureRect</key>
                <string>{{2,1017},{436,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_pmxs_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,143}</string>
                <key>spriteSourceSize</key>
                <string>{436,143}</string>
                <key>textureRect</key>
                <string>{{2,1162},{436,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_erdengjiang_pmxs.png</string>
            <key>size</key>
            <string>{440,1307}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5d88d1a1386b1a4750cb5cca647e760:0fa1dd7284bb28e780c63a0e44f90e0c:7df02ebf538d767393d2f318db1cf87a$</string>
            <key>textureFileName</key>
            <string>qp_erdengjiang_pmxs.png</string>
        </dict>
    </dict>
</plist>
