<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heijin_kuangbao_kaipao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,522},{204,172}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{204,172}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_kuangbao_kaipao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,360},{212,160}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{212,160}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_kuangbao_kaipao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{220,158}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{220,158}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_kuangbao_kaipao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,198},{220,160}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{220,160}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_kuangbao_kaipao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{220,176}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{220,176}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_kuangbao_kaipao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{224,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{224,194}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_kuangbao_kaipao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,172}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{226,172}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_kuangbao_kaipao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{204,172}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{204,172}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_kuangbao_kaipao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,696},{204,170}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{204,170}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_kuangbao_kaipao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{204,170}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{204,170}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_shadowHunter3_goldenblack_violent.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5365018a384b48bf13d32f7f328ef9bc$</string>
            <key>textureFileName</key>
            <string>cannon_shadowHunter3_goldenblack_violent.png</string>
        </dict>
    </dict>
</plist>
