<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_lyem_xukong_kb_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{277,191}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{1134,2},{277,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_lyem_xukong_kb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{283,193}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{849,2},{283,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_lyem_xukong_kb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{283,197}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{283,2},{283,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_lyem_xukong_kb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{279,201}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{2,2},{279,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_lyem_xukong_kb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{279,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{568,2},{279,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon_lyem_xukong_violent.png</string>
            <key>size</key>
            <string>{1413,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4de3a26672c404567c8860f3f638660:a14efa59c592443bf0c4255bb6242fd1:29b8ba1cd0cd2f9a48ee3707e7f1d061$</string>
            <key>textureFileName</key>
            <string>cannon_lyem_xukong_violent.png</string>
        </dict>
    </dict>
</plist>
