<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hdy_ysbz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1434},{233,225}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,225}}</string>
                <key>sourceSize</key>
                <string>{245,241}</string>
            </dict>
            <key>qp_hdy_ysbz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{243,235}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,235}}</string>
                <key>sourceSize</key>
                <string>{245,241}</string>
            </dict>
            <key>qp_hdy_ysbz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{243,237}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{243,237}}</string>
                <key>sourceSize</key>
                <string>{245,241}</string>
            </dict>
            <key>qp_hdy_ysbz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{241,235}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{241,235}}</string>
                <key>sourceSize</key>
                <string>{245,241}</string>
            </dict>
            <key>qp_hdy_ysbz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{239,237}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{239,237}}</string>
                <key>sourceSize</key>
                <string>{245,241}</string>
            </dict>
            <key>qp_hdy_ysbz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{241,239}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{241,239}}</string>
                <key>sourceSize</key>
                <string>{245,241}</string>
            </dict>
            <key>qp_hdy_ysbz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,237}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{243,237}}</string>
                <key>sourceSize</key>
                <string>{245,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_phantomshark.png</string>
            <key>size</key>
            <string>{247,1661}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8cb72818eefc52cad17dc7d411943fc:1/1$</string>
            <key>textureFileName</key>
            <string>bomb_phantomshark.png</string>
        </dict>
    </dict>
</plist>
