<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hdy_zd_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,369},{242,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{242,123}}</string>
                <key>sourceSize</key>
                <string>{246,123}</string>
            </dict>
            <key>qp_hdy_zd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{244,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,123}}</string>
                <key>sourceSize</key>
                <string>{246,123}</string>
            </dict>
            <key>qp_hdy_zd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{242,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{242,123}}</string>
                <key>sourceSize</key>
                <string>{246,123}</string>
            </dict>
            <key>qp_hdy_zd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{244,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{244,123}}</string>
                <key>sourceSize</key>
                <string>{246,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hdyzd.png</string>
            <key>size</key>
            <string>{244,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d806b60573489c7ef25ef3b4b96b682$</string>
            <key>textureFileName</key>
            <string>hdyzd.png</string>
        </dict>
    </dict>
</plist>
