<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_armour_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{183,191}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{183,191}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_armour_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{203,191}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{203,191}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_armour_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,197}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{213,197}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_armour_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{205,195}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{205,195}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_armour_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{187,189}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{187,189}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_slzjAtlas.png</string>
            <key>size</key>
            <string>{1003,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a26e8eaa2bc2c70b1ca04402895a5b7:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_slzjAtlas.png</string>
        </dict>
    </dict>
</plist>
