<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_ylpf_fp_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{109,175}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,30},{109,175}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_fp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{111,189}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,16},{111,189}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_fp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,207}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,207}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_fp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{247,205}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,205}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_fp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{107,187}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,17},{107,187}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_specter_pharaoh_vio2.png</string>
            <key>size</key>
            <string>{833,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47643310c31145d558a173e436ea4f75:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_specter_pharaoh_vio2.png</string>
        </dict>
    </dict>
</plist>
