<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_shengguang_vio_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,298},{134,224}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,71},{134,224}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>cannon_shengguang_vio_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{150,294}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,3},{150,294}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>cannon_shengguang_vio_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{156,280}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{156,280}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>cannon_shengguang_vio_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,230}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,67},{158,230}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>cannon_shengguang_vio_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,212},{120,208}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,82},{120,208}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>cannon_shengguang_vio_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{120,208}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,82},{120,208}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_shengguang_ghost.png</string>
            <key>size</key>
            <string>{508,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ff3eb4bd9132b5af3e4ceefadcd9137$</string>
            <key>textureFileName</key>
            <string>cannon_shengguang_ghost.png</string>
        </dict>
    </dict>
</plist>
