<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mjys_kp_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1302},{210,258}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,55},{210,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>mjys_kp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{212,276}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,37},{212,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>mjys_kp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,762},{216,264}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,49},{216,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>mjys_kp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{220,264}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,49},{220,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>mjys_kp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{222,272}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,41},{222,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>mjys_kp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{226,224}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,89},{226,224}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_mjys.png</string>
            <key>size</key>
            <string>{224,1560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9587342e6252c1bb3f5021fef7fbb10b$</string>
            <key>textureFileName</key>
            <string>cannon_mjys.png</string>
        </dict>
    </dict>
</plist>
