<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qd_kp_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{158,212}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,61},{158,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_kp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,212},{162,192}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,81},{162,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_kp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{166,204}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,69},{166,204}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_kp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,210},{168,208}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,65},{168,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_kp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{172,210}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,63},{172,210}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_kp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,212}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,61},{176,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_qd.png</string>
            <key>size</key>
            <string>{506,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e741e5d7228ff18188ae81bd88e46017$</string>
            <key>textureFileName</key>
            <string>cannon_qd.png</string>
        </dict>
    </dict>
</plist>
