<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_specter_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{247,197}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{247,197}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_specter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{247,225}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{247,225}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_specter_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{247,231}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{247,231}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_specter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{247,233}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{247,233}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_specter_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,235}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{247,235}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_specterAtlas.png</string>
            <key>size</key>
            <string>{251,1133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c97555d116841837aa0b27bbab43966d:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_specterAtlas.png</string>
        </dict>
    </dict>
</plist>
