<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_shengguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,284},{216,224}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,70},{216,224}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>cannon_shengguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,292}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{236,292}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>cannon_shengguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{246,280}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{246,280}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>cannon_shengguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,256},{250,232}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,66},{250,232}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>cannon_shengguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{254,232}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,66},{254,232}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
            <key>cannon_shengguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{252,226}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,70},{252,226}}</string>
                <key>sourceSize</key>
                <string>{260,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_shengguang.png</string>
            <key>size</key>
            <string>{778,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9696f5eb3c508adfd88a5f324a42d30e$</string>
            <key>textureFileName</key>
            <string>cannon_shengguang.png</string>
        </dict>
    </dict>
</plist>
