<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_armour_xingchen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{177,201}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{177,201}}</string>
                <key>sourceSize</key>
                <string>{235,221}</string>
            </dict>
            <key>cannon_armour_xingchen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,199},{191,209}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{191,209}}</string>
                <key>sourceSize</key>
                <string>{235,221}</string>
            </dict>
            <key>cannon_armour_xingchen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,217}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{203,217}}</string>
                <key>sourceSize</key>
                <string>{235,221}</string>
            </dict>
            <key>cannon_armour_xingchen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{195,211}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{195,211}}</string>
                <key>sourceSize</key>
                <string>{235,221}</string>
            </dict>
            <key>cannon_armour_xingchen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{187,207}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{187,207}}</string>
                <key>sourceSize</key>
                <string>{235,221}</string>
            </dict>
            <key>cannon_armour_xingchen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,392},{177,203}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{177,203}}</string>
                <key>sourceSize</key>
                <string>{235,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_leiting_xingchenAtlas.png</string>
            <key>size</key>
            <string>{434,575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42dad88c201d34e2692377c392a32b0c$</string>
            <key>textureFileName</key>
            <string>cannon_leiting_xingchenAtlas.png</string>
        </dict>
    </dict>
</plist>
