<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_shadowHunter3_fire_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{247,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,241}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_shadowHunter3_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{247,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,241}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_shadowHunter3_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{247,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,241}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_shadowHunter3_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,241}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_shadowHunter3_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1193},{247,217}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,217}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>cannon_shadowHunter3_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{247,217}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,217}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_shadowHunter3_fireAtlas.png</string>
            <key>size</key>
            <string>{251,1412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab0a0fc4fb03878497708017848f5223:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_shadowHunter3_fireAtlas.png</string>
        </dict>
    </dict>
</plist>
