<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_lyem_pao_dragon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{294,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,260}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{294,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,260}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{294,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,260}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{294,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,260}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,260}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_lyem_dragonAtlas.png</string>
            <key>size</key>
            <string>{298,1312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1881e5f5ddbef2787e1053995c6aa39a:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_lyem_dragonAtlas.png</string>
        </dict>
    </dict>
</plist>
