<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_shadowHunter1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{242,236}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,237},{242,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_shadowHunter1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{238,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{247,1},{238,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_shadowHunter1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{234,234}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{241,475},{234,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_shadowHunter1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{238,234}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,475},{238,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_shadowHunter1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{244,234}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon_shadowHunter1Atlas.png</string>
            <key>size</key>
            <string>{486,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ba130fbe33e0d75139376af2d09319:32176c6c2dded6a56498529f91287eab:aeeb5fd3c18ca45e2aa9c77bd8a80549$</string>
            <key>textureFileName</key>
            <string>cannon_shadowHunter1Atlas.png</string>
        </dict>
    </dict>
</plist>
