<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slzj_pifu_kaipao_guang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,174}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,40},{152,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>slzj_pifu_kaipao_guang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{154,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,44},{154,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>slzj_pifu_kaipao_guang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{152,170}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,44},{152,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>slzj_pifu_kaipao_guang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{150,160}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,45},{150,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>slzj_pifu_kaipao_guang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,454},{138,148}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,48},{138,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>slzj_pifu_kaipao_guang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,310},{142,152}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,40},{142,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>slzj_pifu_kaipao_guang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,154},{148,158}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,37},{148,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>slzj_pifu_kaipao_guang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,304},{152,162}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,37},{152,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>slzj_pifu_kaipao_guang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{150,162}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,37},{150,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>slzj_pifu_kaipao_guang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,158},{150,166}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,38},{150,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slzj_pifu_kaipao_guang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8336ca8d71d4854c13af91ad7d990088$</string>
            <key>textureFileName</key>
            <string>slzj_pifu_kaipao_guang.png</string>
        </dict>
    </dict>
</plist>
