<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>specterGhost2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{124,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{124,173}}</string>
                <key>sourceSize</key>
                <string>{124,241}</string>
            </dict>
            <key>specterGhost2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{124,185}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{124,185}}</string>
                <key>sourceSize</key>
                <string>{124,241}</string>
            </dict>
            <key>specterGhost2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,189}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{124,189}}</string>
                <key>sourceSize</key>
                <string>{124,241}</string>
            </dict>
            <key>specterGhost2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{112,159}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,48},{112,159}}</string>
                <key>sourceSize</key>
                <string>{124,241}</string>
            </dict>
            <key>specterGhost2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{124,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{124,173}}</string>
                <key>sourceSize</key>
                <string>{124,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>specterGhost2.png</string>
            <key>size</key>
            <string>{128,891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54f8e7495e16dfc7d64417a7f89f1a13:1/1$</string>
            <key>textureFileName</key>
            <string>specterGhost2.png</string>
        </dict>
    </dict>
</plist>
