<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_erdengjiang_mas_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-39}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{129,153}</string>
                <key>textureRect</key>
                <string>{{216,210},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_mas_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-27}</string>
                <key>spriteSize</key>
                <string>{81,85}</string>
                <key>spriteSourceSize</key>
                <string>{129,153}</string>
                <key>textureRect</key>
                <string>{{216,127},{81,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_erdengjiang_mas_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{101,141}</string>
                <key>spriteSourceSize</key>
                <string>{129,153}</string>
                <key>textureRect</key>
                <string>{{109,2},{101,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_mas_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{105,147}</string>
                <key>spriteSourceSize</key>
                <string>{129,153}</string>
                <key>textureRect</key>
                <string>{{2,2},{105,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_mas_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{89,135}</string>
                <key>spriteSourceSize</key>
                <string>{129,153}</string>
                <key>textureRect</key>
                <string>{{2,151},{89,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_erdengjiang_mas_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,8}</string>
                <key>spriteSize</key>
                <string>{87,123}</string>
                <key>spriteSourceSize</key>
                <string>{129,153}</string>
                <key>textureRect</key>
                <string>{{216,2},{87,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_mas_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,4}</string>
                <key>spriteSize</key>
                <string>{75,101}</string>
                <key>spriteSourceSize</key>
                <string>{129,153}</string>
                <key>textureRect</key>
                <string>{{139,145},{75,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_erdengjiang_mas.png</string>
            <key>size</key>
            <string>{305,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f32e0eef6cf78181b014c5744fc7adff:5e800da940f099c3ff17b587ad87ca45:0a5bd48c31fb6fb6dfcc9cb083354321$</string>
            <key>textureFileName</key>
            <string>qp_erdengjiang_mas.png</string>
        </dict>
    </dict>
</plist>
