<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_ghostplate_caipan.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,608},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{192,190}</string>
            </dict>
            <key>qp_ghostplate_quan_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{274,274}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{274,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_ghostplate_quan_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_ghostplate_scanlight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,206},{24,118}}</string>
                <key>offset</key>
                <string>{-93,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,44},{24,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>qp_ghostplate_scanlight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1},{82,204}}</string>
                <key>offset</key>
                <string>{-64,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,204}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>qp_ghostplate_scanlight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,799},{148,210}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{148,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>qp_ghostplate_scanlight_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,577},{200,210}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{200,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>qp_ghostplate_scanlight_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,799},{162,210}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,4},{162,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>qp_ghostplate_scanlight_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,397},{114,210}}</string>
                <key>offset</key>
                <string>{47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,4},{114,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>qp_ghostplate_scanlight_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,206},{72,190}}</string>
                <key>offset</key>
                <string>{68,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,11},{72,190}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>qp_ghostplate_scanlight_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,799},{30,132}}</string>
                <key>offset</key>
                <string>{89,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,38},{30,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>qp_ghostplate_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,799},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_ghostplate.png</string>
            <key>size</key>
            <string>{400,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79a4291edc16bc2a9e351ef13b3087f9$</string>
            <key>textureFileName</key>
            <string>qp_ghostplate.png</string>
        </dict>
    </dict>
</plist>
