<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_ghostplate_baozha_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,242},{250,236}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qp_ghostplate_baozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,242},{250,238}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qp_ghostplate_baozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1},{250,240}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qp_ghostplate_baozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,240}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qp_ghostplate_baozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1},{232,204}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{232,204}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qp_ghostplate_baozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,206},{188,162}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,50},{188,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qp_ghostplate_baozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1},{148,186}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{148,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>qp_ghostplate_baozha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,206},{166,196}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{166,196}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_ghostplate_baozha.png</string>
            <key>size</key>
            <string>{885,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6da2869097702dd67d4acb6e454db53b$</string>
            <key>textureFileName</key>
            <string>qp_ghostplate_baozha.png</string>
        </dict>
    </dict>
</plist>
