<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nezha_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,2},{340,375}}</string>
                <key>offset</key>
                <string>{-45,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,307},{340,375}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,379},{352,359}}</string>
                <key>offset</key>
                <string>{-66,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,313},{352,359}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,740},{368,345}}</string>
                <key>offset</key>
                <string>{-84,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,323},{368,345}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1294},{372,359}}</string>
                <key>offset</key>
                <string>{-86,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,329},{372,359}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1672},{378,373}}</string>
                <key>offset</key>
                <string>{-89,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,337},{378,373}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1636},{388,365}}</string>
                <key>offset</key>
                <string>{-92,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,343},{388,365}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1454},{394,355}}</string>
                <key>offset</key>
                <string>{-94,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,349},{394,355}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1317},{398,353}}</string>
                <key>offset</key>
                <string>{-92,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,353},{398,353}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1283},{398,351}}</string>
                <key>offset</key>
                <string>{-86,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,352},{398,351}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1655},{382,365}}</string>
                <key>offset</key>
                <string>{-66,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,320},{382,365}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,643},{398,329}}</string>
                <key>offset</key>
                <string>{-21,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,333},{398,329}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,314},{408,327}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,332},{408,327}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{408,329}}</string>
                <key>offset</key>
                <string>{-11,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,339},{408,329}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,974},{382,341}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,344},{382,341}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1110},{342,413}}</string>
                <key>offset</key>
                <string>{13,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{467,338},{342,413}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,314},{316,441}}</string>
                <key>offset</key>
                <string>{3,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{470,324},{316,441}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{318,435}}</string>
                <key>offset</key>
                <string>{12,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{478,321},{318,435}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,632},{326,431}}</string>
                <key>offset</key>
                <string>{21,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,328},{326,431}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{314,427}}</string>
                <key>offset</key>
                <string>{15,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,330},{314,427}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,417}}</string>
                <key>offset</key>
                <string>{8,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{481,323},{304,417}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{306,439}}</string>
                <key>offset</key>
                <string>{-3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{469,316},{306,439}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{310,435}}</string>
                <key>offset</key>
                <string>{-19,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,310},{310,435}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_jump_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,960},{332,381}}</string>
                <key>offset</key>
                <string>{-38,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,307},{332,381}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nezhajump.png</string>
            <key>size</key>
            <string>{1641,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f58a58b255a31a09c0cd26248c3ad6e$</string>
            <key>textureFileName</key>
            <string>nezhajump.png</string>
        </dict>
    </dict>
</plist>
