<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nezha_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,736},{181,185}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,152},{181,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,553},{183,183}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{183,183}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,185},{185,185}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,148},{185,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,746},{187,185}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,147},{187,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,370},{189,185}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,146},{189,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{191,185}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,145},{191,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{191,183}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,147},{191,183}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{191,183}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,149},{191,183}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,561},{189,185}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,149},{189,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{189,185}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,149},{189,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,559},{187,185}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,150},{187,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,370},{183,185}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,151},{183,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{181,185}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,152},{181,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nezha_idle_low.png</string>
            <key>size</key>
            <string>{553,931}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77527cf7ebce23493ca62cbb1d1ef32a$</string>
            <key>textureFileName</key>
            <string>nezha_idle_low.png</string>
        </dict>
    </dict>
</plist>
