<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nezha_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,331},{366,367}}</string>
                <key>offset</key>
                <string>{-32,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,306},{366,367}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{496,347}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,319},{496,347}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{540,327}}</string>
                <key>offset</key>
                <string>{106,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,353},{540,327}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,321}}</string>
                <key>offset</key>
                <string>{221,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,355},{750,321}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,351},{378,325}}</string>
                <key>offset</key>
                <string>{42,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{478,353},{378,325}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,713},{366,337}}</string>
                <key>offset</key>
                <string>{42,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,343},{366,337}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1052},{354,345}}</string>
                <key>offset</key>
                <string>{40,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,335},{354,345}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,700},{342,355}}</string>
                <key>offset</key>
                <string>{35,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,326},{342,355}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1052},{334,363}}</string>
                <key>offset</key>
                <string>{27,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{485,319},{334,363}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1032},{328,369}}</string>
                <key>offset</key>
                <string>{19,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{480,314},{328,369}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,700},{330,375}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,313},{330,375}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{446,553}}</string>
                <key>offset</key>
                <string>{31,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,139},{446,553}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{470,435}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,248},{470,435}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,351},{360,365}}</string>
                <key>offset</key>
                <string>{-51,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,315},{360,365}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,731},{360,363}}</string>
                <key>offset</key>
                <string>{-52,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,314},{360,363}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,331},{366,367}}</string>
                <key>offset</key>
                <string>{-32,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,306},{366,367}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nezhaskill1.png</string>
            <key>size</key>
            <string>{1914,1399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7c76f643a088ad532996dc0ba7c5e7f$</string>
            <key>textureFileName</key>
            <string>nezhaskill1.png</string>
        </dict>
    </dict>
</plist>
