<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nezha_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{338,373}}</string>
                <key>offset</key>
                <string>{-45,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,309},{338,373}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{364,387}}</string>
                <key>offset</key>
                <string>{-53,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,293},{364,387}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,819},{198,377}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{526,290},{198,377}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,546},{394,419}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,253},{394,419}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,400},{356,417}}</string>
                <key>offset</key>
                <string>{-54,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,229},{356,417}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1019},{334,401}}</string>
                <key>offset</key>
                <string>{-94,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,234},{334,401}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{542,395}}</string>
                <key>offset</key>
                <string>{184,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{538,253},{542,395}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{396,393}}</string>
                <key>offset</key>
                <string>{48,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{475,250},{396,393}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1095},{462,395}}</string>
                <key>offset</key>
                <string>{56,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,249},{462,395}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,561},{532,423}}</string>
                <key>offset</key>
                <string>{76,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,253},{532,423}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1422},{354,375}}</string>
                <key>offset</key>
                <string>{-28,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,269},{354,375}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,557}}</string>
                <key>offset</key>
                <string>{73,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,268},{496,557}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,391},{326,417}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,279},{326,417}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1095},{340,493}}</string>
                <key>offset</key>
                <string>{6,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{461,281},{340,493}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{420,601}}</string>
                <key>offset</key>
                <string>{42,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,291},{420,601}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{420,569}}</string>
                <key>offset</key>
                <string>{0,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,302},{420,569}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1437},{286,533}}</string>
                <key>offset</key>
                <string>{-4,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{478,305},{286,533}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1559},{240,481}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,303},{240,481}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>nezha_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,810},{300,415}}</string>
                <key>offset</key>
                <string>{-33,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,305},{300,415}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nezhaskill2.png</string>
            <key>size</key>
            <string>{1998,1801}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7227632189c74204e1d400915b65025$</string>
            <key>textureFileName</key>
            <string>nezhaskill2.png</string>
        </dict>
    </dict>
</plist>
