<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nezha_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,370},{167,187}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,154},{167,187}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,636},{183,193}}</string>
                <key>offset</key>
                <string>{-27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,147},{183,193}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,537},{99,187}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,146},{99,187}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,0},{195,209}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,127},{195,209}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,547},{177,209}}</string>
                <key>offset</key>
                <string>{-28,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,115},{177,209}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,346},{165,201}}</string>
                <key>offset</key>
                <string>{-47,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,116},{165,201}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,0},{269,197}}</string>
                <key>offset</key>
                <string>{92,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,127},{269,197}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,350},{197,195}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,126},{197,195}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,350},{231,197}}</string>
                <key>offset</key>
                <string>{27,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,125},{231,197}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,580},{265,209}}</string>
                <key>offset</key>
                <string>{38,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,128},{265,209}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,195},{175,187}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,135},{175,187}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{247,279}}</string>
                <key>offset</key>
                <string>{36,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,134},{247,279}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,547},{161,209}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,140},{161,209}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,547},{169,245}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,142},{169,245}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,279},{209,301}}</string>
                <key>offset</key>
                <string>{21,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,145},{209,301}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,0},{209,285}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,151},{209,285}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,209},{141,265}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,153},{141,265}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,547},{119,239}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,152},{119,239}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,197},{149,207}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,153},{149,207}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nezha_skill2_low.png</string>
            <key>size</key>
            <string>{1022,845}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5f460d296bb2f42be713cc309428c0$</string>
            <key>textureFileName</key>
            <string>nezha_skill2_low.png</string>
        </dict>
    </dict>
</plist>
