<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nezha_skill3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,213},{175,191}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,150},{175,191}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,362},{171,185}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,167},{171,185}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,0},{159,187}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,155},{159,187}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,404},{187,177}}</string>
                <key>offset</key>
                <string>{-31,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,139},{187,177}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,468},{183,225}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,103},{183,225}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{171,243}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,91},{171,243}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,0},{143,225}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,100},{143,225}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,693},{119,211}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,99},{119,211}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{149,229}}</string>
                <key>offset</key>
                <string>{13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,91},{149,229}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,472},{133,227}}</string>
                <key>offset</key>
                <string>{18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,97},{133,227}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,693},{141,209}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,111},{141,209}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,699},{183,205}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,108},{183,205}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,697},{145,207}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,101},{145,207}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,440},{131,209}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,97},{131,209}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,0},{161,213}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,94},{161,213}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,223},{179,217}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,93},{179,217}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{193,223}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,93},{193,223}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,472},{193,225}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,95},{193,225}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,243},{183,225}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,101},{183,225}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,533},{179,183}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,137},{179,183}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,649},{189,181}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,135},{189,181}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,0},{181,189}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,147},{181,189}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,189},{173,187}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,147},{173,187}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>nezha_skill3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,712},{183,175}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,150},{183,175}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nezha_skill3_low.png</string>
            <key>size</key>
            <string>{1014,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5877b4ee866e012bee9e736d7e0da301$</string>
            <key>textureFileName</key>
            <string>nezha_skill3_low.png</string>
        </dict>
    </dict>
</plist>
