<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,0}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{154,2},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,0}</string>
                <key>spriteSize</key>
                <string>{112,64}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{242,2},{112,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,0}</string>
                <key>spriteSize</key>
                <string>{138,64}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{2,66},{138,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{162,64}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{142,68},{162,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{186,64}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{306,68},{186,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{186,64}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{116,134},{186,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,0}</string>
                <key>spriteSize</key>
                <string>{162,64}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{304,134},{162,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{136,64}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{356,2},{136,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,0}</string>
                <key>spriteSize</key>
                <string>{112,64}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{2,132},{112,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,1}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{66,2},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,1}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sg.png</string>
            <key>size</key>
            <string>{494,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eb21e310824448a3e6863385b0f273a:7723946d4c0f837ed0679e34e83a9d69:ce2d88abec859fcf8ec5ee732d30d274$</string>
            <key>textureFileName</key>
            <string>sg.png</string>
        </dict>
    </dict>
</plist>
