<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishKing_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,916},{166,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{166,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,383},{190,184}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{190,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1},{190,192}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{190,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,916},{166,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{166,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,568},{182,190}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{182,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,192},{190,190}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{190,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,916},{166,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{166,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,383},{190,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{190,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,192},{190,190}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{190,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,749},{168,166}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{168,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,566},{182,190}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{182,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fishKing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{192,190}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{192,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fishKing.png</string>
            <key>size</key>
            <string>{502,1083}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d6ba1f45c34f82c676deae70bebc3ef:1/1$</string>
            <key>textureFileName</key>
            <string>fishKing.png</string>
        </dict>
    </dict>
</plist>
