<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossbaozha_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,0},{186,166}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,134},{186,166}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>bossbaozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,326},{254,228}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,101},{254,228}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>bossbaozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,710},{312,306}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,65},{312,306}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>bossbaozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,662},{354,336}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,45},{354,336}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>bossbaozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{410,384}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{410,384}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>bossbaozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{394,326}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{394,326}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>bossbaozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,710},{312,300}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,68},{312,300}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>bossbaozha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,326},{354,336}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,45},{354,336}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>bossbaozha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{394,326}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{394,326}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossbaozha.png</string>
            <key>size</key>
            <string>{992,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b36e2ea2d86a34baf887dcfdb709c95$</string>
            <key>textureFileName</key>
            <string>bossbaozha.png</string>
        </dict>
    </dict>
</plist>
