<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,192},{235,228}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{235,228}}</string>
                <key>sourceSize</key>
                <string>{337,228}</string>
            </dict>
            <key>guang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,196},{265,228}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{265,228}}</string>
                <key>sourceSize</key>
                <string>{337,228}</string>
            </dict>
            <key>guang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,0},{151,154}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,35},{151,154}}</string>
                <key>sourceSize</key>
                <string>{337,228}</string>
            </dict>
            <key>guang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{297,228}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{297,228}}</string>
                <key>sourceSize</key>
                <string>{337,228}</string>
            </dict>
            <key>guang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,192},{195,186}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,21},{195,186}}</string>
                <key>sourceSize</key>
                <string>{337,228}</string>
            </dict>
            <key>guang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,0},{295,192}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{295,192}}</string>
                <key>sourceSize</key>
                <string>{337,228}</string>
            </dict>
            <key>guang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{337,196}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{337,196}}</string>
                <key>sourceSize</key>
                <string>{337,228}</string>
            </dict>
            <key>guang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{337,182}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{337,182}}</string>
                <key>sourceSize</key>
                <string>{337,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop_bg_guang.png</string>
            <key>size</key>
            <string>{1011,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ce6e7d6d665f51014710fb4f0f6b3d$</string>
            <key>textureFileName</key>
            <string>prop_bg_guang.png</string>
        </dict>
    </dict>
</plist>
