<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jujipaojineng_paokouhuoyan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,240}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{194,240}}</string>
                <key>sourceSize</key>
                <string>{230,260}</string>
            </dict>
            <key>qp_jujipaojineng_paokouhuoyan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{188,238}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{188,238}}</string>
                <key>sourceSize</key>
                <string>{230,260}</string>
            </dict>
            <key>qp_jujipaojineng_paokouhuoyan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{182,246}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,13},{182,246}}</string>
                <key>sourceSize</key>
                <string>{230,260}</string>
            </dict>
            <key>qp_jujipaojineng_paokouhuoyan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{190,222}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{190,222}}</string>
                <key>sourceSize</key>
                <string>{230,260}</string>
            </dict>
            <key>qp_jujipaojineng_paokouhuoyan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{160,204}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,13},{160,204}}</string>
                <key>sourceSize</key>
                <string>{230,260}</string>
            </dict>
            <key>qp_jujipaojineng_paokouhuoyan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{92,200}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,12},{92,200}}</string>
                <key>sourceSize</key>
                <string>{230,260}</string>
            </dict>
            <key>qp_jujipaojineng_paokouhuoyan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,96},{90,176}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,12},{90,176}}</string>
                <key>sourceSize</key>
                <string>{230,260}</string>
            </dict>
            <key>qp_jujipaojineng_paokouhuoyan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,96},{80,162}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,19},{80,162}}</string>
                <key>sourceSize</key>
                <string>{230,260}</string>
            </dict>
            <key>qp_jujipaojineng_paokouhuoyan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{74,138}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,32},{74,138}}</string>
                <key>sourceSize</key>
                <string>{230,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jujipaojineng_paokouhuoyan.png</string>
            <key>size</key>
            <string>{1504,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:522f8e7e7dffbcbc94336613036cac4f:1/1$</string>
            <key>textureFileName</key>
            <string>qp_jujipaojineng_paokouhuoyan.png</string>
        </dict>
    </dict>
</plist>
