<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jujipaojineng_xunhuan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{240,154}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{240,154}}</string>
                <key>sourceSize</key>
                <string>{250,154}</string>
            </dict>
            <key>qp_jujipaojineng_xunhuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{240,154}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{240,154}}</string>
                <key>sourceSize</key>
                <string>{250,154}</string>
            </dict>
            <key>qp_jujipaojineng_xunhuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{238,154}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{238,154}}</string>
                <key>sourceSize</key>
                <string>{250,154}</string>
            </dict>
            <key>qp_jujipaojineng_xunhuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{240,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{240,154}}</string>
                <key>sourceSize</key>
                <string>{250,154}</string>
            </dict>
            <key>qp_jujipaojineng_xunhuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,154}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{240,154}}</string>
                <key>sourceSize</key>
                <string>{250,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jujipaojineng_xunhuan.png</string>
            <key>size</key>
            <string>{244,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43b8a2a1ae711f0aa493b13ea5f4c068:1/1$</string>
            <key>textureFileName</key>
            <string>qp_jujipaojineng_xunhuan.png</string>
        </dict>
    </dict>
</plist>
