<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jujipaojineng_jiantouzhishi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{102,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{102,240}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>qp_jujipaojineng_jiantouzhishi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{104,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{104,240}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>qp_jujipaojineng_jiantouzhishi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{104,240}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{104,240}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>qp_jujipaojineng_jiantouzhishi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{104,240}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>qp_jujipaojineng_jiantouzhishi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{102,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{102,240}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
            <key>qp_jujipaojineng_jiantouzhishi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{86,240}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{86,240}}</string>
                <key>sourceSize</key>
                <string>{140,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jujipaojineng_jiantouzhishi.png</string>
            <key>size</key>
            <string>{108,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c497da6c0f3d9c39890d6668259620f9:1/1$</string>
            <key>textureFileName</key>
            <string>qp_jujipaojineng_jiantouzhishi.png</string>
        </dict>
    </dict>
</plist>
