<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jujipaojineng_baozha_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{146,126}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,138},{146,126}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_jujipaojineng_baozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,764},{166,144}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,131},{166,144}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_jujipaojineng_baozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,746},{218,204}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,106},{218,204}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_jujipaojineng_baozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,376},{174,192}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,118},{174,192}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_jujipaojineng_baozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{224,216}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,106},{224,216}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_jujipaojineng_baozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,746},{292,278}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,72},{292,278}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_jujipaojineng_baozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{388,372}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{388,372}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_jujipaojineng_baozha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{388,378}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{388,378}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_jujipaojineng_baozha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,380}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{388,380}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>qp_jujipaojineng_baozha_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,376},{370,368}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{370,368}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jujipaojineng_baozha.png</string>
            <key>size</key>
            <string>{940,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b5b1fc38bced61d1e26ef6d7c90fb5f:1/1$</string>
            <key>textureFileName</key>
            <string>qp_jujipaojineng_baozha.png</string>
        </dict>
    </dict>
</plist>
