<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jujipaojineng_xiaochuantoubaozha_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>qp_jujipaojineng_xiaochuantoubaozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>qp_jujipaojineng_xiaochuantoubaozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>qp_jujipaojineng_xiaochuantoubaozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{270,262}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{270,262}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>qp_jujipaojineng_xiaochuantoubaozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{270,260}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{270,260}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>qp_jujipaojineng_xiaochuantoubaozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{268,248}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{268,248}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>qp_jujipaojineng_xiaochuantoubaozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1594},{244,214}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,41},{244,214}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>qp_jujipaojineng_xiaochuantoubaozha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{234,200}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{234,200}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jujipaojineng_xiaochuantoubaozha.png</string>
            <key>size</key>
            <string>{274,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54d7b8d94349794b3abb58caba05c38c:1/1$</string>
            <key>textureFileName</key>
            <string>qp_jujipaojineng_xiaochuantoubaozha.png</string>
        </dict>
    </dict>
</plist>
