<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jujipaojineng_feidan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{150,272}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{150,272}}</string>
                <key>sourceSize</key>
                <string>{170,300}</string>
            </dict>
            <key>qp_jujipaojineng_feidan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{150,276}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{150,276}}</string>
                <key>sourceSize</key>
                <string>{170,300}</string>
            </dict>
            <key>qp_jujipaojineng_feidan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{150,278}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{150,278}}</string>
                <key>sourceSize</key>
                <string>{170,300}</string>
            </dict>
            <key>qp_jujipaojineng_feidan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,280}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{150,280}}</string>
                <key>sourceSize</key>
                <string>{170,300}</string>
            </dict>
            <key>qp_jujipaojineng_feidan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{148,280}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{148,280}}</string>
                <key>sourceSize</key>
                <string>{170,300}</string>
            </dict>
            <key>qp_jujipaojineng_feidan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{148,276}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{148,276}}</string>
                <key>sourceSize</key>
                <string>{170,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jujipaojineng_feidan.png</string>
            <key>size</key>
            <string>{154,1676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdc3a49fb9862961c1c90753a9eee918:1/1$</string>
            <key>textureFileName</key>
            <string>qp_jujipaojineng_feidan.png</string>
        </dict>
    </dict>
</plist>
