<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chain_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,0},{299,68}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{299,68}}</string>
                <key>sourceSize</key>
                <string>{309,84}</string>
            </dict>
            <key>chain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,461},{305,66}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{305,66}}</string>
                <key>sourceSize</key>
                <string>{309,84}</string>
            </dict>
            <key>chain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,313},{305,76}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{305,76}}</string>
                <key>sourceSize</key>
                <string>{309,84}</string>
            </dict>
            <key>chain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,247},{305,66}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{305,66}}</string>
                <key>sourceSize</key>
                <string>{309,84}</string>
            </dict>
            <key>chain_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,389},{301,72}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{301,72}}</string>
                <key>sourceSize</key>
                <string>{309,84}</string>
            </dict>
            <key>chain_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,247},{303,66}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{303,66}}</string>
                <key>sourceSize</key>
                <string>{309,84}</string>
            </dict>
            <key>dq_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,664},{102,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{102,104}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>dq_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,778},{102,104}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{102,104}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>dq_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,299},{100,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{100,104}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>dq_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,403},{100,100}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{100,100}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>dq_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,778},{112,110}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{112,110}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>dq_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,664},{114,120}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,120}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>dq_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,611},{52,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>dq_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,503},{56,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>dq_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,822},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>dq_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,768},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>dq_up_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,239},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>dq_up_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,557},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>flash_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,493},{151,171}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{151,171}}</string>
                <key>sourceSize</key>
                <string>{263,253}</string>
            </dict>
            <key>flash_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,0},{233,247}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{233,247}}</string>
                <key>sourceSize</key>
                <string>{263,253}</string>
            </dict>
            <key>flash_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{243,233}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{243,233}}</string>
                <key>sourceSize</key>
                <string>{263,253}</string>
            </dict>
            <key>light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,313},{180,180}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{180,180}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,493},{180,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{180,178}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,761},{176,176}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{176,176}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,761},{176,178}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{176,178}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,527},{184,186}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{184,186}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,720},{180,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{180,184}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,720},{182,178}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{182,178}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,313},{180,178}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{180,178}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>sdz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,527},{193,155}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,26},{193,155}}</string>
                <key>sourceSize</key>
                <string>{281,281}</string>
            </dict>
            <key>sdz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{217,247}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{217,247}}</string>
                <key>sourceSize</key>
                <string>{281,281}</string>
            </dict>
            <key>sdz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{243,261}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{243,261}}</string>
                <key>sourceSize</key>
                <string>{281,281}</string>
            </dict>
            <key>sdz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,261},{257,235}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{257,235}}</string>
                <key>sourceSize</key>
                <string>{281,281}</string>
            </dict>
            <key>sdz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,0},{221,239}}</string>
                <key>offset</key>
                <string>{22,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{221,239}}</string>
                <key>sourceSize</key>
                <string>{281,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightningchain.png</string>
            <key>size</key>
            <string>{1003,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7626cf8ba8dabb96ea8e37e38f0ea762$</string>
            <key>textureFileName</key>
            <string>lightningchain.png</string>
        </dict>
    </dict>
</plist>
