<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bg_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{291,121}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{291,121}}</string>
                <key>sourceSize</key>
                <string>{317,147}</string>
            </dict>
            <key>qp_bx_dead_djiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,266},{43,47}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{43,47}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>qp_bx_dead_djiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,203},{55,63}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{55,63}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>qp_bx_dead_djiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,422},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,73}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>qp_bx_dead_sg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,321},{110,101}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{248,101}</string>
            </dict>
            <key>qp_bx_dead_sg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,321},{110,101}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{248,101}</string>
            </dict>
            <key>qp_bx_dead_sg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,321},{220,101}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{220,101}}</string>
                <key>sourceSize</key>
                <string>{248,101}</string>
            </dict>
            <key>qp_bx_dead_sg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,119},{248,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,101}}</string>
                <key>sourceSize</key>
                <string>{248,101}</string>
            </dict>
            <key>qp_bx_dead_sg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,119},{248,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,101}}</string>
                <key>sourceSize</key>
                <string>{248,101}</string>
            </dict>
            <key>qp_bx_dead_sg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,389},{246,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{246,101}}</string>
                <key>sourceSize</key>
                <string>{248,101}</string>
            </dict>
            <key>qp_bx_dead_sg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,220},{238,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{238,101}}</string>
                <key>sourceSize</key>
                <string>{248,101}</string>
            </dict>
            <key>qp_bx_dead_sg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,220},{238,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{238,101}}</string>
                <key>sourceSize</key>
                <string>{248,101}</string>
            </dict>
            <key>qp_bx_dead_xjjiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,0},{25,57}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{25,57}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
            <key>qp_bx_dead_xjjiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,422},{31,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,71}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
            <key>qp_bx_dead_xjjiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,119},{29,65}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{29,65}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
            <key>qp_bxy_bl_cd_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{298,134}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{298,134}}</string>
                <key>sourceSize</key>
                <string>{318,154}</string>
            </dict>
            <key>qp_bxy_bl_cd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{298,134}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{298,134}}</string>
                <key>sourceSize</key>
                <string>{318,154}</string>
            </dict>
            <key>qp_light_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{295,119}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{295,119}}</string>
                <key>sourceSize</key>
                <string>{311,133}</string>
            </dict>
            <key>qp_shipin_chibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,119},{84,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{84,41}</string>
            </dict>
            <key>qp_shipin_huangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,220},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>qp_shipin_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,422},{258,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,38}}</string>
                <key>sourceSize</key>
                <string>{258,38}</string>
            </dict>
            <key>qp_shipin_jinbi_dream.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,460},{256,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,38}}</string>
                <key>sourceSize</key>
                <string>{258,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boxmult.png</string>
            <key>size</key>
            <string>{621,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cb42fd57a80cedefaeced4509c07b9a$</string>
            <key>textureFileName</key>
            <string>boxmult.png</string>
        </dict>
    </dict>
</plist>
