<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doubledragon_skill3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{498,390}}</string>
                <key>offset</key>
                <string>{-86,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,249},{498,390}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,394},{486,388}}</string>
                <key>offset</key>
                <string>{-88,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,245},{486,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1236},{470,390}}</string>
                <key>offset</key>
                <string>{-92,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,233},{470,390}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1628},{442,414}}</string>
                <key>offset</key>
                <string>{-98,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,210},{442,414}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{444,414}}</string>
                <key>offset</key>
                <string>{-100,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,217},{444,414}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1636},{446,398}}</string>
                <key>offset</key>
                <string>{-100,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,241},{446,398}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1240},{456,394}}</string>
                <key>offset</key>
                <string>{-101,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,249},{456,394}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,840},{462,398}}</string>
                <key>offset</key>
                <string>{-101,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,248},{462,398}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1628},{468,406}}</string>
                <key>offset</key>
                <string>{-101,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,246},{468,406}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,830},{478,428}}</string>
                <key>offset</key>
                <string>{-101,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,241},{478,428}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,402},{482,436}}</string>
                <key>offset</key>
                <string>{-101,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,240},{482,436}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{482,444}}</string>
                <key>offset</key>
                <string>{-100,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,237},{482,444}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,784},{482,450}}</string>
                <key>offset</key>
                <string>{-100,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,233},{482,450}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{484,442}}</string>
                <key>offset</key>
                <string>{-98,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,234},{484,442}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,398},{484,430}}</string>
                <key>offset</key>
                <string>{-95,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,234},{484,430}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{488,398}}</string>
                <key>offset</key>
                <string>{-89,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,241},{488,398}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{494,394}}</string>
                <key>offset</key>
                <string>{-87,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,245},{494,394}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,392}}</string>
                <key>offset</key>
                <string>{-85,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,247},{500,392}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>doubledragon_skill3.png</string>
            <key>size</key>
            <string>{1990,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e42a64177b59ed6ed987a00ef6dd311$</string>
            <key>textureFileName</key>
            <string>doubledragon_skill3.png</string>
        </dict>
    </dict>
</plist>
