<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doubledragon_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,772},{498,388}}</string>
                <key>offset</key>
                <string>{-91,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,251},{498,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,772},{490,388}}</string>
                <key>offset</key>
                <string>{-93,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,248},{490,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1162},{476,390}}</string>
                <key>offset</key>
                <string>{-95,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,242},{476,390}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1338},{448,406}}</string>
                <key>offset</key>
                <string>{-98,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,228},{448,406}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,886},{450,394}}</string>
                <key>offset</key>
                <string>{-91,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,247},{450,394}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{466,392}}</string>
                <key>offset</key>
                <string>{-81,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,254},{466,392}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1552},{478,392}}</string>
                <key>offset</key>
                <string>{-78,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,257},{478,392}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1554},{482,392}}</string>
                <key>offset</key>
                <string>{-76,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,259},{482,392}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{486,388}}</string>
                <key>offset</key>
                <string>{-73,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,261},{486,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{498,386}}</string>
                <key>offset</key>
                <string>{-69,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,263},{498,386}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{502,384}}</string>
                <key>offset</key>
                <string>{-70,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,264},{502,384}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,386},{506,384}}</string>
                <key>offset</key>
                <string>{-70,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,263},{506,384}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,382}}</string>
                <key>offset</key>
                <string>{-72,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,263},{506,382}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{504,382}}</string>
                <key>offset</key>
                <string>{-74,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,262},{504,382}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{500,382}}</string>
                <key>offset</key>
                <string>{-77,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,261},{500,382}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,386},{496,384}}</string>
                <key>offset</key>
                <string>{-84,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,257},{496,384}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,386},{498,386}}</string>
                <key>offset</key>
                <string>{-87,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,254},{498,386}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1162},{500,388}}</string>
                <key>offset</key>
                <string>{-90,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,252},{500,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>doubledragon_skill1.png</string>
            <key>size</key>
            <string>{1900,1948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a3f4ff967350162256fab54d6a42b3e$</string>
            <key>textureFileName</key>
            <string>doubledragon_skill1.png</string>
        </dict>
    </dict>
</plist>
