<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doubledragon_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,962},{460,388}}</string>
                <key>offset</key>
                <string>{-67,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,251},{460,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,980},{450,388}}</string>
                <key>offset</key>
                <string>{-69,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,251},{450,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{440,388}}</string>
                <key>offset</key>
                <string>{-70,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,251},{440,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{436,386}}</string>
                <key>offset</key>
                <string>{-70,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,253},{436,386}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,992},{438,384}}</string>
                <key>offset</key>
                <string>{-71,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,255},{438,384}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{448,384}}</string>
                <key>offset</key>
                <string>{-71,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,255},{448,384}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,918},{460,382}}</string>
                <key>offset</key>
                <string>{-71,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,257},{460,382}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,444},{472,382}}</string>
                <key>offset</key>
                <string>{-71,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,257},{472,382}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,494},{484,382}}</string>
                <key>offset</key>
                <string>{-71,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,257},{484,382}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,498},{492,384}}</string>
                <key>offset</key>
                <string>{-70,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,255},{492,384}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{494,384}}</string>
                <key>offset</key>
                <string>{-69,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,255},{494,384}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,386}}</string>
                <key>offset</key>
                <string>{-67,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,253},{494,386}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{490,388}}</string>
                <key>offset</key>
                <string>{-67,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,251},{490,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{482,388}}</string>
                <key>offset</key>
                <string>{-66,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,251},{482,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
            <key>doubledragon_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,486},{474,388}}</string>
                <key>offset</key>
                <string>{-67,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,251},{474,388}}</string>
                <key>sourceSize</key>
                <string>{712,854}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>doubledragon_idle.png</string>
            <key>size</key>
            <string>{1946,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fd9bf85b4c2780d0874d1b5c964a07c$</string>
            <key>textureFileName</key>
            <string>doubledragon_idle.png</string>
        </dict>
    </dict>
</plist>
