<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_firecracker_vio_small_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>bullet_firecracker_vio_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
            <key>bullet_firecracker_vio_small_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,23}}</string>
                <key>sourceSize</key>
                <string>{94,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_firecracker_vio_small.png</string>
            <key>size</key>
            <string>{194,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:808a21dea6347227c0f3b701fa041d85:19197aeade76de73623162aed108fe2a:d46598eb9f06b8633e0e78500bd39f47$</string>
            <key>textureFileName</key>
            <string>bullet_firecracker_vio_small.png</string>
        </dict>
    </dict>
</plist>
