<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_firecracker_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,55}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>bullet_firecracker_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,55}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>bullet_firecracker_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,55}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_firecracker_2.png</string>
            <key>size</key>
            <string>{284,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4185480caf0ea8ff292a73c525e2583e:8201db9a8edc96af436763cce3ddd77e:aef8251e8d2aa380057e5169fe7e4c5e$</string>
            <key>textureFileName</key>
            <string>bullet_firecracker_2.png</string>
        </dict>
    </dict>
</plist>
