<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_firecracker_3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{103,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{103,70}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>bullet_firecracker_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{103,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{103,70}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>bullet_firecracker_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{103,70}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_firecracker_3.png</string>
            <key>size</key>
            <string>{107,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5521e639a40849a19f13ac9339379ef:bf1ac9eeb027947f70482ed3a282e8b1:1dd231439c186be7efbfff3fc11db24a$</string>
            <key>textureFileName</key>
            <string>bullet_firecracker_3.png</string>
        </dict>
    </dict>
</plist>
