<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_erdengjiang_chibang_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-51}</string>
                <key>spriteSize</key>
                <string>{94,120}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{532,116},{94,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-35}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{470,238},{122,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_erdengjiang_chibang_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{134,164}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{334,176},{134,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{148,182}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{184,214},{148,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{162,198}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{2,420},{162,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{180,204}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{2,214},{180,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{194,210}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{2,2},{194,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{184,190}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{166,420},{184,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{170,172}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{198,2},{170,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{160,162}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{370,2},{160,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-23}</string>
                <key>spriteSize</key>
                <string>{146,148}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{352,362},{146,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-29}</string>
                <key>spriteSize</key>
                <string>{134,136}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{500,362},{134,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_erdengjiang_chibang_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-34}</string>
                <key>spriteSize</key>
                <string>{124,126}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{352,512},{124,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-34}</string>
                <key>spriteSize</key>
                <string>{124,126}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{478,512},{124,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_erdengjiang_chibang_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-41}</string>
                <key>spriteSize</key>
                <string>{106,112}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{532,2},{106,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_erdengjiang_chibang.png</string>
            <key>size</key>
            <string>{640,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0f3f3e3110eefb5c470b887cae6458c:b4df42825cf7c504162d97f97bd8e08f:ebffdb60874d70e820a166db10e842d8$</string>
            <key>textureFileName</key>
            <string>qp_erdengjiang_chibang.png</string>
        </dict>
    </dict>
</plist>
