<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_gxsj_sg_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{218,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_gxsj_sg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{218,0},{218,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_gxsj_sg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{0,65},{218,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_gxsj_sg_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{218,65},{218,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_gxsj_sg_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{0,130},{218,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_gxsj_sg_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{218,130},{218,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_gxsj_sg_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{0,195},{218,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_gxsj_sg_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{218,195},{218,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_gxsj_sg.png</string>
            <key>size</key>
            <string>{436,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:054c6dc5290c1bdb030088bd0ff8941e:e6a51e8e7d08e7b3a73d5091191f4fb5:b75ec7d215152154eaa0a9a11396aafb$</string>
            <key>textureFileName</key>
            <string>qp_gxsj_sg.png</string>
        </dict>
    </dict>
</plist>
