<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozhalizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{74,79}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,92},{74,79}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,426},{114,123}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,68},{114,123}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,390},{132,141}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,54},{132,141}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,383},{156,171}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,44},{156,171}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,213},{170,187}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,35},{170,187}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,197},{174,193}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,26},{174,193}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{188,197}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,32},{188,197}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{192,213}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,18},{192,213}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{196,215}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{196,215}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,215},{206,211}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{206,211}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,223},{206,221}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{206,221}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{208,223}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{208,223}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{212,223}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{212,223}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
            <key>baozhalizi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{210,215}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,15},{210,215}}</string>
                <key>sourceSize</key>
                <string>{268,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozhalizi.png</string>
            <key>size</key>
            <string>{998,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7bf89cddadf2c6a009edd7a5a88803c$</string>
            <key>textureFileName</key>
            <string>baozhalizi.png</string>
        </dict>
    </dict>
</plist>
