<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhakai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,498},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,126}</string>
            </dict>
            <key>zhakai3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,750},{580,686}}</string>
                <key>offset</key>
                <string>{73,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,34},{580,686}}</string>
                <key>sourceSize</key>
                <string>{726,750}</string>
            </dict>
            <key>zhakai3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{596,750}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,0},{596,750}}</string>
                <key>sourceSize</key>
                <string>{726,750}</string>
            </dict>
            <key>zhakai3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{580,748}}</string>
                <key>offset</key>
                <string>{73,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,0},{580,748}}</string>
                <key>sourceSize</key>
                <string>{726,750}</string>
            </dict>
            <key>zhakai3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1436},{476,494}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,132},{476,494}}</string>
                <key>sourceSize</key>
                <string>{726,750}</string>
            </dict>
            <key>zhakai3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,0},{480,498}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,126},{480,498}}</string>
                <key>sourceSize</key>
                <string>{726,750}</string>
            </dict>
            <key>zhakai3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1498},{408,492}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,128},{408,492}}</string>
                <key>sourceSize</key>
                <string>{726,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhakai.png</string>
            <key>size</key>
            <string>{1160,1912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50486249a1dda55d9427c004de7eac01$</string>
            <key>textureFileName</key>
            <string>zhakai.png</string>
        </dict>
    </dict>
</plist>
