<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_sandengjiang_cd_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,10}</string>
                <key>spriteSize</key>
                <string>{96,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,170}</string>
                <key>textureRect</key>
                <string>{{148,308},{96,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_cd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,9}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,170}</string>
                <key>textureRect</key>
                <string>{{2,290},{100,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_cd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,7}</string>
                <key>spriteSize</key>
                <string>{108,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,170}</string>
                <key>textureRect</key>
                <string>{{342,138},{108,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_cd_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{134,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,170}</string>
                <key>textureRect</key>
                <string>{{342,2},{134,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_cd_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-9}</string>
                <key>spriteSize</key>
                <string>{174,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,170}</string>
                <key>textureRect</key>
                <string>{{2,2},{174,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_cd_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-8}</string>
                <key>spriteSize</key>
                <string>{170,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,170}</string>
                <key>textureRect</key>
                <string>{{2,144},{170,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_cd_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,170}</string>
                <key>textureRect</key>
                <string>{{178,2},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_cd_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{200,170}</string>
                <key>textureRect</key>
                <string>{{174,154},{156,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_cd_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{156,144}</string>
                <key>spriteSourceSize</key>
                <string>{200,170}</string>
                <key>textureRect</key>
                <string>{{332,248},{156,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_sandengjiang_cd.png</string>
            <key>size</key>
            <string>{480,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1765001d79d2425cf8f9190921c01105:f7c080a6ecd4d5cfb541d7ace763ccb9:3d0d4f0ab7efda205375a3182d017c18$</string>
            <key>textureFileName</key>
            <string>qp_sandengjiang_cd.png</string>
        </dict>
    </dict>
</plist>
