<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hulu_release_close_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,369}}</string>
                <key>offset</key>
                <string>{6,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,44},{164,369}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_close_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{174,367}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,55},{174,367}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_close_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{182,365}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,62},{182,365}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{170,245}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,169},{170,245}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{214,249}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,159},{214,249}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{204,261}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,155},{204,261}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,265},{176,261}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,155},{176,261}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,253},{212,249}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,156},{212,249}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2},{200,249}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,155},{200,249}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,369},{174,249}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,156},{174,249}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,265},{204,257}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,155},{204,257}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,349},{190,259}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,156},{190,259}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,371},{172,247}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,165},{172,247}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_open_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{188,339}}</string>
                <key>offset</key>
                <string>{8,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,61},{188,339}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_open_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{196,345}}</string>
                <key>offset</key>
                <string>{6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,61},{196,345}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_open_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{212,359}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,61},{212,359}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_open_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{216,361}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,60},{216,361}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
            <key>hulu_release_open_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,363},{180,359}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,53},{180,359}}</string>
                <key>sourceSize</key>
                <string>{750,563}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hulu_release_skill.png</string>
            <key>size</key>
            <string>{1983,545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eb88190aebe8ea41a00a71800941d7b$</string>
            <key>textureFileName</key>
            <string>hulu_release_skill.png</string>
        </dict>
    </dict>
</plist>
