<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hulu_skill_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,162},{112,162}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,72},{112,162}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{110,158}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,75},{110,158}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,320},{102,158}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,74},{102,158}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,164},{82,164}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,71},{82,164}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{80,168}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,70},{80,168}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,170}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,64},{76,170}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{78,168}}</string>
                <key>offset</key>
                <string>{17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,59},{78,168}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,168},{98,166}}</string>
                <key>offset</key>
                <string>{23,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,52},{98,166}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{106,164}}</string>
                <key>offset</key>
                <string>{24,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,43},{106,164}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,324},{104,162}}</string>
                <key>offset</key>
                <string>{25,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,35},{104,162}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,82},{80,160}}</string>
                <key>offset</key>
                <string>{26,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,26},{80,160}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,162},{80,158}}</string>
                <key>offset</key>
                <string>{31,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,20},{80,158}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,162},{78,156}}</string>
                <key>offset</key>
                <string>{38,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,14},{78,156}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,334},{106,154}}</string>
                <key>offset</key>
                <string>{47,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,10},{106,154}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{114,148}}</string>
                <key>offset</key>
                <string>{34,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,37},{114,148}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,240},{100,144}}</string>
                <key>offset</key>
                <string>{19,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,63},{100,144}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,340},{82,136}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,88},{82,136}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,340},{76,142}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,85},{76,142}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{82,162}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,73},{82,162}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,162},{102,158}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,75},{102,158}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,328},{106,160}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,74},{106,160}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>hulu_skill_jump_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{112,162}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,72},{112,162}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hulu_jump_low.png</string>
            <key>size</key>
            <string>{710,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c3444255eb37232d27bd74722de64c6$</string>
            <key>textureFileName</key>
            <string>hulu_jump_low.png</string>
        </dict>
    </dict>
</plist>
