<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hulu_skill_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,329},{227,325}}</string>
                <key>offset</key>
                <string>{-11,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,142},{227,325}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,654},{223,319}}</string>
                <key>offset</key>
                <string>{-8,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,146},{223,319}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,656},{203,317}}</string>
                <key>offset</key>
                <string>{-2,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,148},{203,317}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{165,327}}</string>
                <key>offset</key>
                <string>{10,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,142},{165,327}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,339},{161,335}}</string>
                <key>offset</key>
                <string>{13,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,141},{161,335}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,339}}</string>
                <key>offset</key>
                <string>{22,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,128},{153,339}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{157,337}}</string>
                <key>offset</key>
                <string>{35,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,116},{157,337}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{195,335}}</string>
                <key>offset</key>
                <string>{46,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,101},{195,335}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,339},{215,329}}</string>
                <key>offset</key>
                <string>{48,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,85},{215,329}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{209,325}}</string>
                <key>offset</key>
                <string>{50,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,68},{209,325}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{161,321}}</string>
                <key>offset</key>
                <string>{53,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,51},{161,321}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{159,317}}</string>
                <key>offset</key>
                <string>{63,169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,38},{159,317}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,277},{155,311}}</string>
                <key>offset</key>
                <string>{76,181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,29},{155,311}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,590},{213,309}}</string>
                <key>offset</key>
                <string>{94,192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,19},{213,309}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,676},{229,297}}</string>
                <key>offset</key>
                <string>{68,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,72},{229,297}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{199,289}}</string>
                <key>offset</key>
                <string>{39,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,125},{199,289}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,2},{161,273}}</string>
                <key>offset</key>
                <string>{11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,174},{161,273}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,670},{153,283}}</string>
                <key>offset</key>
                <string>{12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,170},{153,283}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,329},{165,325}}</string>
                <key>offset</key>
                <string>{10,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,144},{165,325}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,656},{205,317}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,149},{205,317}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,329},{215,323}}</string>
                <key>offset</key>
                <string>{-12,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,144},{215,323}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>hulu_skill_jump_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{227,325}}</string>
                <key>offset</key>
                <string>{-10,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,142},{227,325}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hulu_jump.png</string>
            <key>size</key>
            <string>{1451,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcd5760225f349d59fc2eef8841e424f$</string>
            <key>textureFileName</key>
            <string>hulu_jump.png</string>
        </dict>
    </dict>
</plist>
