<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dajinya_hudun_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1265},{492,421}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{492,421}}</string>
                <key>sourceSize</key>
                <string>{534,461}</string>
            </dict>
            <key>dajinya_hudun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,844},{492,421}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{492,421}}</string>
                <key>sourceSize</key>
                <string>{534,461}</string>
            </dict>
            <key>dajinya_hudun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1263},{492,423}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{492,423}}</string>
                <key>sourceSize</key>
                <string>{534,461}</string>
            </dict>
            <key>dajinya_hudun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,421},{498,421}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{498,421}}</string>
                <key>sourceSize</key>
                <string>{534,461}</string>
            </dict>
            <key>dajinya_hudun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{498,421}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{498,421}}</string>
                <key>sourceSize</key>
                <string>{534,461}</string>
            </dict>
            <key>dajinya_hudun_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,842},{494,421}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{494,421}}</string>
                <key>sourceSize</key>
                <string>{534,461}</string>
            </dict>
            <key>dajinya_hudun_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,0},{492,423}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{492,423}}</string>
                <key>sourceSize</key>
                <string>{534,461}</string>
            </dict>
            <key>dajinya_hudun_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,423},{492,421}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{492,421}}</string>
                <key>sourceSize</key>
                <string>{534,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dajinya_hudun.png</string>
            <key>size</key>
            <string>{991,1686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ef347e3704d0999d3aa645faee7c26b$</string>
            <key>textureFileName</key>
            <string>dajinya_hudun.png</string>
        </dict>
    </dict>
</plist>
