<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_xcssq_cq_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{39,21}}</string>
                <key>offset</key>
                <string>{-3,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,224},{39,21}}</string>
                <key>sourceSize</key>
                <string>{69,245}</string>
            </dict>
            <key>qp_xcssq_cq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{63,95}}</string>
                <key>offset</key>
                <string>{-3,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,150},{63,95}}</string>
                <key>sourceSize</key>
                <string>{69,245}</string>
            </dict>
            <key>qp_xcssq_cq_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{65,169}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{65,169}}</string>
                <key>sourceSize</key>
                <string>{69,245}</string>
            </dict>
            <key>qp_xcssq_cq_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,199}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,199}}</string>
                <key>sourceSize</key>
                <string>{69,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emptyToken.png</string>
            <key>size</key>
            <string>{494,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ae5c3d3245380b7da35468607742a06:1/1$</string>
            <key>textureFileName</key>
            <string>emptyToken.png</string>
        </dict>
    </dict>
</plist>
