<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_xcssq_lz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,66},{7,8}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,58},{7,8}}</string>
                <key>sourceSize</key>
                <string>{215,104}</string>
            </dict>
            <key>qp_xcssq_lz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,66},{189,48}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{189,48}}</string>
                <key>sourceSize</key>
                <string>{215,104}</string>
            </dict>
            <key>qp_xcssq_lz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,80},{175,34}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{175,34}}</string>
                <key>sourceSize</key>
                <string>{215,104}</string>
            </dict>
            <key>qp_xcssq_lz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{143,50}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{143,50}}</string>
                <key>sourceSize</key>
                <string>{215,104}</string>
            </dict>
            <key>qp_xcssq_lz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{141,76}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{141,76}}</string>
                <key>sourceSize</key>
                <string>{215,104}</string>
            </dict>
            <key>qp_xcssq_lz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{137,62}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{137,62}}</string>
                <key>sourceSize</key>
                <string>{215,104}</string>
            </dict>
            <key>qp_xcssq_lz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,64}}</string>
                <key>offset</key>
                <string>{-35,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{109,64}}</string>
                <key>sourceSize</key>
                <string>{215,104}</string>
            </dict>
            <key>qp_xcssq_lz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{189,52}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{189,52}}</string>
                <key>sourceSize</key>
                <string>{215,104}</string>
            </dict>
            <key>qp_xcssq_lz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,54},{137,44}}</string>
                <key>offset</key>
                <string>{23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{137,44}}</string>
                <key>sourceSize</key>
                <string>{215,104}</string>
            </dict>
            <key>qp_xcssq_lz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,56},{19,18}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,52},{19,18}}</string>
                <key>sourceSize</key>
                <string>{215,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>particle.png</string>
            <key>size</key>
            <string>{686,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b9b3b23a0de38acb5c88ad2f1b2f83d:1/1$</string>
            <key>textureFileName</key>
            <string>particle.png</string>
        </dict>
    </dict>
</plist>
