<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_lyem_xukong_bs_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{177,195}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{791,197},{177,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_lyem_xukong_bs_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{165,123}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{645,203},{165,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_lyem_xukong_bs_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{165,203}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{440,203},{165,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannon_lyem_xukong_bs_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{245,199}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{544,2},{245,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_lyem_xukong_bs_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{221,193}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{791,2},{221,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_lyem_xukong_bs_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{217,183}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{2,195},{217,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_lyem_xukong_bs_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{217,183}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{221,195},{217,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_lyem_xukong_bs_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{269,191}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{2,2},{269,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon_lyem_xukong_bs_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{269,191}</string>
                <key>spriteSourceSize</key>
                <string>{283,277}</string>
                <key>textureRect</key>
                <string>{{273,2},{269,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon_lyem_xukong_transform.png</string>
            <key>size</key>
            <string>{1014,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c2d6deacc5f90c4deb3ce606f8f6fcd:835776b1d303c9c557672e97dd3e0856:62ac48466c97c624f022ae7450c607b7$</string>
            <key>textureFileName</key>
            <string>cannon_lyem_xukong_transform.png</string>
        </dict>
    </dict>
</plist>
