<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_yxpf_bs_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{187,146}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,58},{187,146}}</string>
                <key>sourceSize</key>
                <string>{247,248}</string>
            </dict>
            <key>qp_yxpf_bs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{163,172}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,29},{163,172}}</string>
                <key>sourceSize</key>
                <string>{247,248}</string>
            </dict>
            <key>qp_yxpf_bs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{143,174}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,27},{143,174}}</string>
                <key>sourceSize</key>
                <string>{247,248}</string>
            </dict>
            <key>qp_yxpf_bs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{185,174}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{185,174}}</string>
                <key>sourceSize</key>
                <string>{247,248}</string>
            </dict>
            <key>qp_yxpf_bs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{247,216}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{247,216}}</string>
                <key>sourceSize</key>
                <string>{247,248}</string>
            </dict>
            <key>qp_yxpf_bs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{247,216}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{247,216}}</string>
                <key>sourceSize</key>
                <string>{247,248}</string>
            </dict>
            <key>qp_yxpf_bs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,216}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{247,216}}</string>
                <key>sourceSize</key>
                <string>{247,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_shadowHunter3_fire_transform.png</string>
            <key>size</key>
            <string>{220,1383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32859f8b4e400189e5e48f391bc698d3:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_shadowHunter3_fire_transform.png</string>
        </dict>
    </dict>
</plist>
