<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_lyem_pao_dragon_bs_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{282,240}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{282,240}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_bs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{282,240}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{282,240}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_bs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{280,240}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{280,240}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_bs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{280,238}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{280,238}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_bs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{280,238}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{280,238}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_bs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,240}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{282,240}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_bs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{280,238}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{280,238}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
            <key>cannon_lyem_pao_dragon_bs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{278,238}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{278,238}}</string>
                <key>sourceSize</key>
                <string>{294,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_lyem_dragon_transform.png</string>
            <key>size</key>
            <string>{286,1930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18b28517009ceb3833bd0cca91e07c68:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_lyem_dragon_transform.png</string>
        </dict>
    </dict>
</plist>
