<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_mry_dz1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1488},{198,138}}</string>
                <key>offset</key>
                <string>{43,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,209},{198,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,232},{254,142}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,215},{254,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,924},{244,152}}</string>
                <key>offset</key>
                <string>{19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,214},{244,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,2},{228,186}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,174},{228,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1778},{224,170}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,189},{224,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1488},{248,210}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,139},{248,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1350},{274,270}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,107},{274,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,1078},{274,270}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,107},{274,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1622},{272,272}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,107},{272,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1622},{272,272}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,107},{272,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1584},{272,272}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,107},{272,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{460,466}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{460,466}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,480},{466,474}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{466,474}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{468,476}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{468,476}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{466,478}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{466,478}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,480}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{466,480}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{466,472}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{466,472}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>qp_mry_dz3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1778},{146,78}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,127},{146,78}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1538},{358,238}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{358,238}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,536},{392,266}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{392,266}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{394,266}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{394,266}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{396,254}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{396,254}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,270},{394,264}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{394,264}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{394,266}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{394,266}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1222},{396,264}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{396,264}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,956},{396,264}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{396,264}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1268},{392,268}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{392,268}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1000},{392,266}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{392,266}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,476},{396,260}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{396,260}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,738},{394,260}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{394,260}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1066},{390,264}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{390,264}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,804},{392,260}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{392,260}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,536},{386,258}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,25},{386,258}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1332},{390,250}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{390,250}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
            <key>qp_mry_dz3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1700},{386,250}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{386,250}}</string>
                <key>sourceSize</key>
                <string>{410,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_meirenyu_dz.png</string>
            <key>size</key>
            <string>{1992,1956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dcc58e88784ce192d0b80005cb99339:1/1$</string>
            <key>textureFileName</key>
            <string>qp_meirenyu_dz.png</string>
        </dict>
    </dict>
</plist>
