<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_longgongduobao_lihua2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{384,970},{36,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{360,1118},{62,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{336,1248},{86,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{226,1248},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{128,132}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{226,1118},{128,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{146,156}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{226,970},{146,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{164,180}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{226,804},{164,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{172,198}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{232,416},{172,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{184,204}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{232,210},{184,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{192,206}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{232,2},{192,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{202,212}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{230,590},{202,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{208,212}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{224,1362},{208,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{214,220}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,1362},{214,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{220,222}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,1140},{220,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{222,224}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,914},{222,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{224,226}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,458},{224,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{226,228}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,230},{226,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{228,226}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{228,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{228,222}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,684},{228,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_longgongduobao_lihua2.png</string>
            <key>size</key>
            <string>{434,1578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0e3745005e8ef938dcad165b5a09ed8:c3dd43b4b1128923236396d66fae3327:bde622df34fc93bce5df61162bd2d684$</string>
            <key>textureFileName</key>
            <string>qp_longgongduobao_lihua2.png</string>
        </dict>
    </dict>
</plist>
