<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_longgongduobao_lihua1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{980,464},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1570,100},{68,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1570,2},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1544,364},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{140,144}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1398,364},{140,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{160,172}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1398,202},{160,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{178,198}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1390,2},{178,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{190,218}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1198,2},{190,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{202,226}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1194,236},{202,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{212,226}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{980,236},{212,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{220,232}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{976,2},{220,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{228,232}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{746,2},{228,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{236,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{742,250},{236,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{240,242}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{500,250},{240,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{244,246}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{500,2},{244,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{252,2},{246,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{248,248}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{250,254},{248,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_longgongduobao_lihua1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,248}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{250,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_longgongduobao_lihua1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,246}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{2,254},{250,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_longgongduobao_lihua1.png</string>
            <key>size</key>
            <string>{1666,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8eea5525db7f3721552f59c030211e9:042b02c971e2e4ae45381cde449cc2fd:198a852fae85cd14930cea6c67da2aab$</string>
            <key>textureFileName</key>
            <string>qp_longgongduobao_lihua1.png</string>
        </dict>
    </dict>
</plist>
