<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bosstanban_baozha_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1767},{150,122}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,179},{150,122}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1727},{240,242}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,122},{240,242}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1308},{418,418}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{418,418}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,889},{418,418}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{418,418}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1342},{418,424}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{418,424}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,901},{430,440}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{430,440}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1},{440,448}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{440,448}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{448,450}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{448,450}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,452},{448,448}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{448,448}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1342},{404,430}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{404,430}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,450},{430,436}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{430,436}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,901},{402,438}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{402,438}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,450},{402,438}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{402,438}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>qp_bosstanban_baozha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1},{372,406}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,14},{372,406}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_bosstanban_baozha.png</string>
            <key>size</key>
            <string>{1284,1970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3da265084b15d57efa8764987aa739c$</string>
            <key>textureFileName</key>
            <string>qp_bosstanban_baozha.png</string>
        </dict>
    </dict>
</plist>
