<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bosstanban_maisui_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1},{118,138}}</string>
                <key>offset</key>
                <string>{21,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,102},{118,138}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>qp_bosstanban_maisui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1},{134,158}}</string>
                <key>offset</key>
                <string>{13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,82},{134,158}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>qp_bosstanban_maisui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1},{140,192}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{140,192}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>qp_bosstanban_maisui_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{148,214}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{148,214}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>qp_bosstanban_maisui_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{156,238}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,238}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>qp_bosstanban_maisui_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{152,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{152,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_bosstanban_maisui.png</string>
            <key>size</key>
            <string>{860,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb2e46f3ac0f1d792fab5b78fcfbe4f5$</string>
            <key>textureFileName</key>
            <string>qp_bosstanban_maisui.png</string>
        </dict>
    </dict>
</plist>
