<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillboss_plate_bg_name_wj.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,982},{415,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,34}}</string>
                <key>sourceSize</key>
                <string>{415,34}</string>
            </dict>
            <key>skillboss_plate_pic_dunpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,153},{352,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{352,363}}</string>
                <key>sourceSize</key>
                <string>{354,363}</string>
            </dict>
            <key>skillboss_plate_pic_maisui_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,823},{149,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,245}}</string>
                <key>sourceSize</key>
                <string>{151,247}</string>
            </dict>
            <key>skillboss_plate_pic_maisui_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{149,245}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{149,245}}</string>
                <key>sourceSize</key>
                <string>{151,247}</string>
            </dict>
            <key>skillboss_plate_pic_qk.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1130},{135,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,75}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>skillboss_plate_pic_sidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{756,139}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{756,139}}</string>
                <key>sourceSize</key>
                <string>{774,139}</string>
            </dict>
            <key>skillboss_plate_qp_pic_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,518},{341,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,303}}</string>
                <key>sourceSize</key>
                <string>{341,303}</string>
            </dict>
            <key>skillboss_plate_txt_dazhangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1067},{165,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{165,61}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>skillboss_plate_txt_ddg.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,938},{169,63}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{169,63}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>skillboss_plate_txt_guiwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1181},{113,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{113,59}}</string>
                <key>sourceSize</key>
                <string>{123,63}</string>
            </dict>
            <key>skillboss_plate_txt_hdc.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1003},{169,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{169,62}}</string>
                <key>sourceSize</key>
                <string>{171,64}</string>
            </dict>
            <key>skillboss_plate_txt_meirenyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,809},{171,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,63}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>skillboss_plate_txt_najia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1181},{115,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{115,61}}</string>
                <key>sourceSize</key>
                <string>{123,63}</string>
            </dict>
            <key>skillboss_plate_txt_niumowang.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,874},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,62}}</string>
                <key>sourceSize</key>
                <string>{170,62}</string>
            </dict>
            <key>skillboss_plate_txt_qiuka.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,823},{135,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,75}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>skillboss_plate_txt_sunwukong.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,809},{171,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{171,63}}</string>
                <key>sourceSize</key>
                <string>{175,65}</string>
            </dict>
            <key>skillboss_plate_zg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{664,666}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{664,666}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>skillboss_plate_zoumadeng_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{426,370}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{426,370}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
            <key>skillboss_plate_zoumadeng_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1018},{368,286}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{368,286}}</string>
                <key>sourceSize</key>
                <string>{430,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillboss_plate.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4990d2384cca4075b2645a0945049368$</string>
            <key>textureFileName</key>
            <string>skillboss_plate.png</string>
        </dict>
    </dict>
</plist>
