<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bxy_kx_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,232},{221,147}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,81},{221,147}}</string>
                <key>sourceSize</key>
                <string>{289,229}</string>
            </dict>
            <key>qp_bxy_kx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,232},{223,167}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,61},{223,167}}</string>
                <key>sourceSize</key>
                <string>{289,229}</string>
            </dict>
            <key>qp_bxy_kx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1},{249,199}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{249,199}}</string>
                <key>sourceSize</key>
                <string>{289,229}</string>
            </dict>
            <key>qp_bxy_kx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,202},{243,199}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{243,199}}</string>
                <key>sourceSize</key>
                <string>{289,229}</string>
            </dict>
            <key>qp_bxy_kx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,226},{245,197}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{245,197}}</string>
                <key>sourceSize</key>
                <string>{289,229}</string>
            </dict>
            <key>qp_bxy_kx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{269,229}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{269,229}}</string>
                <key>sourceSize</key>
                <string>{289,229}</string>
            </dict>
            <key>qp_bxy_kx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1},{277,223}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{277,223}}</string>
                <key>sourceSize</key>
                <string>{289,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treachest_open.png</string>
            <key>size</key>
            <string>{946,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3f3efca1d024f03e3fcc9ce700b5909$</string>
            <key>textureFileName</key>
            <string>treachest_open.png</string>
        </dict>
    </dict>
</plist>
