<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tsy_plate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,734},{167,99}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{167,99}}</string>
                <key>sourceSize</key>
                <string>{183,103}</string>
            </dict>
            <key>tsy_plate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,565},{167,97}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{167,97}}</string>
                <key>sourceSize</key>
                <string>{183,103}</string>
            </dict>
            <key>tsy_plate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,396},{167,97}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{167,97}}</string>
                <key>sourceSize</key>
                <string>{183,103}</string>
            </dict>
            <key>tsy_plate_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,227},{167,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{167,99}}</string>
                <key>sourceSize</key>
                <string>{183,103}</string>
            </dict>
            <key>tsy_plate_baigujing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{302,423}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{302,423}}</string>
                <key>sourceSize</key>
                <string>{308,425}</string>
            </dict>
            <key>tsy_plate_bdyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,308},{240,177}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,54},{240,177}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_plate_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,715},{172,185}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{172,185}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_plate_csy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,711},{216,189}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,41},{216,189}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_plate_ddbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,480},{233,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{233,214}}</string>
                <key>sourceSize</key>
                <string>{233,218}</string>
            </dict>
            <key>tsy_plate_ddbx_dream.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,748},{221,196}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{221,196}}</string>
                <key>sourceSize</key>
                <string>{233,218}</string>
            </dict>
            <key>tsy_plate_dianman.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,237},{244,231}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{244,231}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_plate_doubledragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{300,233}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{300,233}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_plate_fdy.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,770},{292,183}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{292,183}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_plate_hdy.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,770},{268,177}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,48},{268,177}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_plate_longwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{397,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,309}}</string>
                <key>sourceSize</key>
                <string>{397,309}</string>
            </dict>
            <key>tsy_plate_magicbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,227},{204,251}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,6},{204,251}}</string>
                <key>sourceSize</key>
                <string>{388,263}</string>
            </dict>
            <key>tsy_plate_majiangzai.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,265},{362,273}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{362,273}}</string>
                <key>sourceSize</key>
                <string>{380,273}</string>
            </dict>
            <key>tsy_plate_nezha.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,308},{238,263}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{238,263}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_plate_nianshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,483},{225,226}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{225,226}}</string>
                <key>sourceSize</key>
                <string>{323,232}</string>
            </dict>
            <key>tsy_plate_palmleaffan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,550},{196,259}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,2},{196,259}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_plate_pigsy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{300,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{300,223}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_plate_qianting.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,540},{289,228}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{289,228}}</string>
                <key>sourceSize</key>
                <string>{307,248}</string>
            </dict>
            <key>tsy_plate_qp_bg_txy.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,133},{400,289}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{400,289}}</string>
                <key>sourceSize</key>
                <string>{404,299}</string>
            </dict>
            <key>tsy_plate_qp_light_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{374,261}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{374,261}}</string>
                <key>sourceSize</key>
                <string>{404,299}</string>
            </dict>
            <key>tsy_plate_qp_pic_hsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{597,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{597,129}}</string>
                <key>sourceSize</key>
                <string>{601,129}</string>
            </dict>
            <key>tsy_plate_qp_text_qtfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,2},{186,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{186,57}}</string>
                <key>sourceSize</key>
                <string>{188,59}</string>
            </dict>
            <key>tsy_plate_qp_text_tbl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,902},{129,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,50}}</string>
                <key>sourceSize</key>
                <string>{129,50}</string>
            </dict>
            <key>tsy_plate_qp_tsytb_cd_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,535},{387,273}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{387,273}}</string>
                <key>sourceSize</key>
                <string>{391,279}</string>
            </dict>
            <key>tsy_plate_qp_tsytb_cd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{337,243}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{337,243}}</string>
                <key>sourceSize</key>
                <string>{391,279}</string>
            </dict>
            <key>tsy_plate_qp_txt_qtybdsx.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,247},{315,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{315,59}}</string>
                <key>sourceSize</key>
                <string>{317,59}</string>
            </dict>
            <key>tsy_plate_text_beibaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,902},{138,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,51}}</string>
                <key>sourceSize</key>
                <string>{138,51}</string>
            </dict>
            <key>tsy_plate_treachests.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,548},{270,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{270,220}}</string>
                <key>sourceSize</key>
                <string>{272,222}</string>
            </dict>
            <key>tsy_plate_txt_bjjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,715},{175,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,48}}</string>
                <key>sourceSize</key>
                <string>{175,48}</string>
            </dict>
            <key>tsy_plate_txt_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,924},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tsy_plate.png</string>
            <key>size</key>
            <string>{1979,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e334ab32d825e235fd78d77a2c8a54a5$</string>
            <key>textureFileName</key>
            <string>tsy_plate.png</string>
        </dict>
    </dict>
</plist>
