<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tsy_bigplate_bg_gdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,263},{470,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,114}}</string>
                <key>sourceSize</key>
                <string>{470,114}</string>
            </dict>
            <key>tsy_bigplate_bsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,829},{256,205}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{256,205}}</string>
                <key>sourceSize</key>
                <string>{300,263}</string>
            </dict>
            <key>tsy_bigplate_caidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{805,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,144}}</string>
                <key>sourceSize</key>
                <string>{805,144}</string>
            </dict>
            <key>tsy_bigplate_chibang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1},{176,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,261}}</string>
                <key>sourceSize</key>
                <string>{176,261}</string>
            </dict>
            <key>tsy_bigplate_chibang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,829},{178,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,261}}</string>
                <key>sourceSize</key>
                <string>{178,261}</string>
            </dict>
            <key>tsy_bigplate_deng_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,378},{446,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{446,302}}</string>
                <key>sourceSize</key>
                <string>{500,332}</string>
            </dict>
            <key>tsy_bigplate_deng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,496},{500,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,332}}</string>
                <key>sourceSize</key>
                <string>{500,332}</string>
            </dict>
            <key>tsy_bigplate_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,146},{504,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,349}}</string>
                <key>sourceSize</key>
                <string>{504,349}</string>
            </dict>
            <key>tsy_bigplate_guang_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,681},{394,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,388}}</string>
                <key>sourceSize</key>
                <string>{394,388}</string>
            </dict>
            <key>tsy_bigplate_text_beibaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1035},{138,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,51}}</string>
                <key>sourceSize</key>
                <string>{138,51}</string>
            </dict>
            <key>tsy_bigplate_text_gx.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,681},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>tsy_bigplate_text_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,714},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tsy_bigplate.png</string>
            <key>size</key>
            <string>{984,1091}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:383b355b626a4bb99c624a27a60319f6$</string>
            <key>textureFileName</key>
            <string>tsy_bigplate.png</string>
        </dict>
    </dict>
</plist>
