<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_chengjiu_caizhuan_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{2,170},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_chengjiu_caizhuan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{2,2},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_chengjiu_caizhuan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{2,252},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_chengjiu_caizhuan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{2,86},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_chengjiu_caizhuan.png</string>
            <key>size</key>
            <string>{84,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c8768ff02e19f04bdae7698b2d6c21b:70ebc59a811468fc4c5c31eaa7645723:0bf7074d39b75847a99ee74f942d6e52$</string>
            <key>textureFileName</key>
            <string>qp_chengjiu_caizhuan.png</string>
        </dict>
    </dict>
</plist>
