<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bsd_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-42}</string>
                <key>spriteSize</key>
                <string>{244,312}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1660,288},{244,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_bsd_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-28}</string>
                <key>spriteSize</key>
                <string>{268,274}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1398,964},{268,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-42}</string>
                <key>spriteSize</key>
                <string>{284,300}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1660,534},{284,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_bsd_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,-41}</string>
                <key>spriteSize</key>
                <string>{304,332}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1092,820},{304,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-54}</string>
                <key>spriteSize</key>
                <string>{244,360}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1296,2},{244,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-66}</string>
                <key>spriteSize</key>
                <string>{224,368}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1070,2},{224,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-67}</string>
                <key>spriteSize</key>
                <string>{278,352}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{2,958},{278,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_bsd_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-62}</string>
                <key>spriteSize</key>
                <string>{302,324}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{356,936},{302,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_bsd_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-53}</string>
                <key>spriteSize</key>
                <string>{270,292}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1668,820},{270,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_bsd_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-71}</string>
                <key>spriteSize</key>
                <string>{284,312}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1660,2},{284,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_bsd_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-49}</string>
                <key>spriteSize</key>
                <string>{408,386}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{682,842},{408,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-4}</string>
                <key>spriteSize</key>
                <string>{370,406}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1012,412},{370,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,20}</string>
                <key>spriteSize</key>
                <string>{360,408}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{708,2},{360,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,26}</string>
                <key>spriteSize</key>
                <string>{382,410}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{628,430},{382,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,26}</string>
                <key>spriteSize</key>
                <string>{378,426}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{328,2},{378,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,20}</string>
                <key>spriteSize</key>
                <string>{348,446}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{278,488},{348,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{324,484}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{2,2},{324,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,15}</string>
                <key>spriteSize</key>
                <string>{274,468}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{2,488},{274,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-23}</string>
                <key>spriteSize</key>
                <string>{274,320}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1384,364},{274,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dead_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-17}</string>
                <key>spriteSize</key>
                <string>{252,276}</string>
                <key>spriteSourceSize</key>
                <string>{520,520}</string>
                <key>textureRect</key>
                <string>{{1398,686},{252,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_bsd_dead.png</string>
            <key>size</key>
            <string>{1974,1240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7984f723783f16668cf0d6cb184ab601:1182e549b2db37dcf883c22ad56d100f:7ec9ff0e291c735db4d2bf8eed6ac9ac$</string>
            <key>textureFileName</key>
            <string>qp_bsd_dead.png</string>
        </dict>
    </dict>
</plist>
