<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bsd_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,0},{113,145}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{113,145}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>qp_bsd_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,145},{109,141}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{109,141}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,0},{105,143}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,6},{105,143}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,145},{107,145}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,7},{107,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{107,147}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,7},{107,147}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{107,147}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{107,147}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{107,145}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{107,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{107,141}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{107,141}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,0},{107,139}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{107,139}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,0},{107,137}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{107,137}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,141},{111,135}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{111,135}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,0},{115,133}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{115,133}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,133},{119,133}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{119,133}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,0},{119,133}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{119,133}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,137},{117,135}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{117,135}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>qp_bsd_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,139},{115,137}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{115,137}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_bsd_low.png</string>
            <key>size</key>
            <string>{987,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fa0d9f29efb733ba206d9975104aa85$</string>
            <key>textureFileName</key>
            <string>qp_bsd_low.png</string>
        </dict>
    </dict>
</plist>
