<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bsd_dz_sc_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{272,273}</string>
                <key>spriteSourceSize</key>
                <string>{420,411}</string>
                <key>textureRect</key>
                <string>{{269,641},{272,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dz_sc_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{318,325}</string>
                <key>spriteSourceSize</key>
                <string>{420,411}</string>
                <key>textureRect</key>
                <string>{{2,2},{318,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dz_sc_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{256,271}</string>
                <key>spriteSourceSize</key>
                <string>{420,411}</string>
                <key>textureRect</key>
                <string>{{543,621},{256,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dz_sc_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,18}</string>
                <key>spriteSize</key>
                <string>{146,163}</string>
                <key>spriteSourceSize</key>
                <string>{420,411}</string>
                <key>textureRect</key>
                <string>{{567,2},{146,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_bsd_dz_sc_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-5}</string>
                <key>spriteSize</key>
                <string>{262,225}</string>
                <key>spriteSourceSize</key>
                <string>{420,411}</string>
                <key>textureRect</key>
                <string>{{556,280},{262,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_bsd_dz_sc_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-9}</string>
                <key>spriteSize</key>
                <string>{276,243}</string>
                <key>spriteSourceSize</key>
                <string>{420,411}</string>
                <key>textureRect</key>
                <string>{{322,2},{276,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_bsd_dz_sc_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-12}</string>
                <key>spriteSize</key>
                <string>{290,255}</string>
                <key>spriteSourceSize</key>
                <string>{420,411}</string>
                <key>textureRect</key>
                <string>{{299,329},{290,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_bsd_dz_sc_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-14}</string>
                <key>spriteSize</key>
                <string>{302,265}</string>
                <key>spriteSourceSize</key>
                <string>{420,411}</string>
                <key>textureRect</key>
                <string>{{2,641},{302,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_bsd_dz_sc_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-27}</string>
                <key>spriteSize</key>
                <string>{310,295}</string>
                <key>spriteSourceSize</key>
                <string>{420,411}</string>
                <key>textureRect</key>
                <string>{{2,329},{310,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_bsd_dz_sc.png</string>
            <key>size</key>
            <string>{801,945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cefe139381d9ca3b0766ad6180ba0ef6:a2463c6af5470894f83ed1516ae19668:f255aef3b0f6f0527c4686e29b7d8555$</string>
            <key>textureFileName</key>
            <string>qp_bsd_dz_sc.png</string>
        </dict>
    </dict>
</plist>
