<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_yxpf_sc_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,942},{180,170}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,43},{180,170}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>qp_yxpf_sc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,766},{184,174}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{184,174}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>qp_yxpf_sc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,582},{196,182}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{196,182}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>qp_yxpf_sc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,394},{204,186}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{204,186}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>qp_yxpf_sc_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,202},{218,190}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{218,190}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>qp_yxpf_sc_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{220,198}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{220,198}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>qp_yxpf_sc_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{230,202}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{230,202}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>qp_yxpf_sc_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{236,206}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{236,206}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>qp_yxpf_sc_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{240,212}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{240,212}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>qp_yxpf_sc_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{244,214}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{244,214}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>qp_yxpf_sc_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,214}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,214}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_shadowHunter3_fire_fl.png</string>
            <key>size</key>
            <string>{472,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efb9b1287c0344ca03de721f8a4bc054:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_shadowHunter3_fire_fl.png</string>
        </dict>
    </dict>
</plist>
