<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingchen_daiji_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,169},{33,33}}</string>
                <key>offset</key>
                <string>{0,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,18},{33,33}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,332},{45,45}}</string>
                <key>offset</key>
                <string>{-2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,19},{45,45}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{57,59}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,19},{57,59}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,140},{59,67}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,22},{59,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,71},{91,67}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,33},{91,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{101,67}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{101,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,63}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,59},{131,63}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{129,67}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{129,67}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{129,65}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,79},{129,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,201},{129,65}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,89},{129,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{129,65}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,100},{129,65}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{129,63}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,111},{129,63}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,335},{125,51}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,124},{125,51}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,204},{113,41}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,134},{113,41}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,140},{37,27}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,148},{37,27}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>xingchen_daiji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{1,1}}</string>
                <key>offset</key>
                <string>{-102,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_xingcheng_fl.png</string>
            <key>size</key>
            <string>{243,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2fb97a2b72ddda92d1ccbbe75bc506a$</string>
            <key>textureFileName</key>
            <string>cannon_xingcheng_fl.png</string>
        </dict>
    </dict>
</plist>
