<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_xkzj_dj_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{247,201}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{2,1611},{247,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_dj_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{243,209}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{2,1814},{243,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_dj_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,219}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{2,1390},{247,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_dj_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{247,223}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{2,1165},{247,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_dj_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{247,229}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{2,934},{247,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_dj_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{247,231}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{2,2},{247,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_dj_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{247,231}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{2,235},{247,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_dj_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{247,231}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{2,468},{247,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_xkzj_dj_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{247,231}</string>
                <key>spriteSourceSize</key>
                <string>{247,241}</string>
                <key>textureRect</key>
                <string>{{2,701},{247,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannon_lyem_xukong_fl.png</string>
            <key>size</key>
            <string>{251,2025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2310bd8b6ce0782d12e2199a5c73ac1c:e557880a62b921f56c9488ef4837d5a1:fdd36fd778470b38a115d6997238e651$</string>
            <key>textureFileName</key>
            <string>cannon_lyem_xukong_fl.png</string>
        </dict>
    </dict>
</plist>
