<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_ayls_jx_dj_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,196},{168,79}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,61},{168,79}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{168,129}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{168,129}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,395},{168,133}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{168,133}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{168,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{168,133}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,366},{168,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,36},{168,133}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,260},{176,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{176,133}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{186,131}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{186,131}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,129},{190,129}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{190,129}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{192,125}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{192,125}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,123}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{194,123}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{192,119}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{192,119}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>qp_ayls_jx_dj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{192,117}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,35},{192,117}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_ayls_jx_fl.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58a4c2d04c178944950ee350004c4d60$</string>
            <key>textureFileName</key>
            <string>cannon_ayls_jx_fl.png</string>
        </dict>
    </dict>
</plist>
