<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heijin_daiji_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,682},{204,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{204,168}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_daiji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{204,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{204,168}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_daiji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,512},{204,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{204,168}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_daiji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{204,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{204,168}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_daiji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,342},{204,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{204,168}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_daiji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{204,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{204,168}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_daiji_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,172},{204,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{204,168}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_daiji_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{204,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{204,168}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_daiji_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{204,168}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>heijin_daiji_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,168}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{204,168}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_shadowHunter3_goldenblack_fl.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1364f877390fdb9bde73090025e70374$</string>
            <key>textureFileName</key>
            <string>cannon_shadowHunter3_goldenblack_fl.png</string>
        </dict>
    </dict>
</plist>
