<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_ylpf_dj_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{247,197}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{247,197}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_dj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1029},{247,197}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{247,197}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_dj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1622},{247,191}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{247,191}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_dj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1427},{247,193}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{247,193}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_dj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{247,199}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{247,199}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_dj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{247,199}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{247,199}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_dj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{247,201}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,201}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_dj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{247,207}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,207}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
            <key>qp_ylpf_dj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,211}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,211}}</string>
                <key>sourceSize</key>
                <string>{247,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_specter_pharaoh_fl.png</string>
            <key>size</key>
            <string>{251,1815}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1d6ee81cee8684532444760dfc6ca56:1/1$</string>
            <key>textureFileName</key>
            <string>cannon_specter_pharaoh_fl.png</string>
        </dict>
    </dict>
</plist>
