<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qd_fl_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,236},{74,56}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,115},{74,56}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,168},{74,68}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,115},{74,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{94,78}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,116},{94,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,84},{114,84}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,122},{114,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,338},{140,84}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,134},{140,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,338},{154,84}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,145},{154,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{162,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,157},{162,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{168,84}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,169},{168,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,84}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,180},{170,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{170,80}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,192},{170,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,168},{170,68}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,204},{170,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>qd_fl_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,168},{170,58}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,214},{170,58}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flowlight_qd.png</string>
            <key>size</key>
            <string>{282,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eda4edf2f0e3801b60f72627fc0e3197$</string>
            <key>textureFileName</key>
            <string>flowlight_qd.png</string>
        </dict>
    </dict>
</plist>
