<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_sandengjiang_xc_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-29}</string>
                <key>spriteSize</key>
                <string>{96,74}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{250,2},{96,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_xc_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-21}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{250,78},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_xc_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{112,100}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{246,230},{112,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_xc_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{126,230},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_xc_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{122,114}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{122,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_xc_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{122,114}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{2,118},{122,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_xc_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{122,114}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{126,2},{122,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_xc_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{122,112}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{2,234},{122,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_xc_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{126,118},{120,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_sandengjiang_xc.png</string>
            <key>size</key>
            <string>{348,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b601296b5b19d15149cdf0134fc5e51:fb4aa27318498cbb14cf9f006e4e2542:6f9b9ce8f29419239fd8f877ba12be42$</string>
            <key>textureFileName</key>
            <string>qp_sandengjiang_xc.png</string>
        </dict>
    </dict>
</plist>
