<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_sandengjiang_xb_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{59,112},{53,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_xb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{59,2},{53,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_xb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{59,57},{53,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_xb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{2,2},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_xb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{2,64},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_xb_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{2,2},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_sandengjiang_xb_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{59,57},{53,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_xb_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{59,2},{53,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_sandengjiang_xb_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{59,112},{53,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_sandengjiang_xb.png</string>
            <key>size</key>
            <string>{167,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0743fea39eea34bab1e4830ed51147c3:ff9d91a765d2454c0e929e43ad0f7970:1a4155534dff490a438cf9b37ca69cd7$</string>
            <key>textureFileName</key>
            <string>qp_sandengjiang_xb.png</string>
        </dict>
    </dict>
</plist>
