<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hdpt_sg_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,0}</string>
                <key>spriteSize</key>
                <string>{76,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{852,2},{76,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_hdpt_sg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{118,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{648,2},{118,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_hdpt_sg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,0}</string>
                <key>spriteSize</key>
                <string>{156,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{364,2},{156,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_hdpt_sg_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{194,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{2,2},{194,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_hdpt_sg_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{164,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{198,2},{164,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_hdpt_sg_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,1}</string>
                <key>spriteSize</key>
                <string>{124,63}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{522,2},{124,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_hdpt_sg_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,1}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{768,2},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_hdpt_sg_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,1}</string>
                <key>spriteSize</key>
                <string>{62,61}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{930,2},{62,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_hdpt_sg.png</string>
            <key>size</key>
            <string>{993,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91383f243ef2474fdd0097b3593a101a:c036cf27a60c37387ce0325770cf02a0:d08ae4070c6e28d3e4b46876cef3bf3a$</string>
            <key>textureFileName</key>
            <string>qp_hdpt_sg.png</string>
        </dict>
    </dict>
</plist>
