<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sg_jlpt_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,0}</string>
                <key>spriteSize</key>
                <string>{76,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{848,2},{76,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_jlpt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{118,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{644,2},{118,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_jlpt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,0}</string>
                <key>spriteSize</key>
                <string>{156,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{362,2},{156,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_jlpt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{192,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{2,2},{192,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_jlpt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{164,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{196,2},{164,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_jlpt_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,0}</string>
                <key>spriteSize</key>
                <string>{122,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{520,2},{122,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_jlpt_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,1}</string>
                <key>spriteSize</key>
                <string>{82,63}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{764,2},{82,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg_jlpt_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,1}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{926,2},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sg_jlpt.png</string>
            <key>size</key>
            <string>{988,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7224fb7a741cf0bceb93870d8ac16430:42df833338ac4b4dfb873992db4c1082:6d99e94c4ce186b6779f2f69392743b2$</string>
            <key>textureFileName</key>
            <string>sg_jlpt.png</string>
        </dict>
    </dict>
</plist>
