<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thirdprize_caideng_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{506,186}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{506,186}}</string>
                <key>sourceSize</key>
                <string>{550,240}</string>
            </dict>
            <key>thirdprize_caideng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1},{430,186}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,33},{430,186}}</string>
                <key>sourceSize</key>
                <string>{550,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thirdprize_caideng.png</string>
            <key>size</key>
            <string>{939,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c9c2464186d506570e9c77e9dd3c9fe$</string>
            <key>textureFileName</key>
            <string>thirdprize_caideng.png</string>
        </dict>
    </dict>
</plist>
