<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_niumowang_rush_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,241},{262,241}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{262,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
            <key>qp_niumowang_rush_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,482},{260,241}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{260,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
            <key>qp_niumowang_rush_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{264,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{264,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
            <key>qp_niumowang_rush_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,482},{262,241}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{262,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
            <key>qp_niumowang_rush_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,482},{262,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{262,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
            <key>qp_niumowang_rush_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{262,241}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{262,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
            <key>qp_niumowang_rush_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,241},{264,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{264,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
            <key>qp_niumowang_rush_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{264,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{264,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
            <key>qp_niumowang_rush_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,241},{264,241}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{264,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
            <key>qp_niumowang_rush_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{264,241}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{264,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_niumowang_rush_low.png</string>
            <key>size</key>
            <string>{964,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de1a8b6070721716ccdffd23c8e4e3aa$</string>
            <key>textureFileName</key>
            <string>qp_niumowang_rush_low.png</string>
        </dict>
    </dict>
</plist>
