<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sj_jsdz_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,0}</string>
                <key>spriteSize</key>
                <string>{78,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{854,2},{78,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_jsdz_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{120,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{648,2},{120,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_jsdz_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{158,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{362,2},{158,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_jsdz_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{192,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{2,2},{192,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_jsdz_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{164,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{196,2},{164,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_jsdz_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,0}</string>
                <key>spriteSize</key>
                <string>{124,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{522,2},{124,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_jsdz_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,0}</string>
                <key>spriteSize</key>
                <string>{82,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{770,2},{82,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_jsdz_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{218,65}</string>
                <key>textureRect</key>
                <string>{{934,2},{62,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sj_jsdz.png</string>
            <key>size</key>
            <string>{998,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50ba0439e7ff65acdb781dd9d1dd727c:b0f12552167b634229dd9390eaf277e1:5346355b327b03956a47704a2da13c4d$</string>
            <key>textureFileName</key>
            <string>sj_jsdz.png</string>
        </dict>
    </dict>
</plist>
