<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_yidengjiang_cd_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,0}</string>
                <key>spriteSize</key>
                <string>{72,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{738,2},{72,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,0}</string>
                <key>spriteSize</key>
                <string>{106,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{630,2},{106,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{170,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{458,2},{170,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cd_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{224,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{232,2},{224,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_yidengjiang_cd_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{228,200}</string>
                <key>spriteSourceSize</key>
                <string>{260,200}</string>
                <key>textureRect</key>
                <string>{{2,2},{228,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_yidengjiang_cd.png</string>
            <key>size</key>
            <string>{812,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe5259d322ce4da9aa12e82cf40a91cf:b20984a6342ab2a0d08596286b03a377:9b402795121d7aea26978de618263fbe$</string>
            <key>textureFileName</key>
            <string>qp_yidengjiang_cd.png</string>
        </dict>
    </dict>
</plist>
