<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigsy_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,385},{174,125}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,153},{174,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,185},{130,181}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,95},{130,181}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,197}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,73},{128,197}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{104,185}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,78},{104,185}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,174},{84,173}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,83},{84,173}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,165},{88,163}}</string>
                <key>offset</key>
                <string>{-24,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,87},{88,163}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{92,171}}</string>
                <key>offset</key>
                <string>{-8,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,80},{92,171}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{148,165}}</string>
                <key>offset</key>
                <string>{5,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,211},{148,165}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,334},{146,165}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,218},{146,165}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,347},{148,165}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,223},{148,165}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,366},{146,165}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,226},{146,165}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,328},{154,161}}</string>
                <key>offset</key>
                <string>{2,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,224},{154,161}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,0},{168,147}}</string>
                <key>offset</key>
                <string>{18,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,223},{168,147}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,197},{188,145}}</string>
                <key>offset</key>
                <string>{23,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,217},{188,145}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,171},{170,123}}</string>
                <key>offset</key>
                <string>{14,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,208},{170,123}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,165},{130,109}}</string>
                <key>offset</key>
                <string>{-19,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,187},{130,109}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,168},{166,125}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,161},{166,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{174,123}}</string>
                <key>offset</key>
                <string>{-27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,157},{174,123}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pigsy_skill1_low.png</string>
            <key>size</key>
            <string>{804,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52942fdac9d45fd9c14a4c154415fef8$</string>
            <key>textureFileName</key>
            <string>pigsy_skill1_low.png</string>
        </dict>
    </dict>
</plist>
