<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigsy_flash_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{200,127}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,166},{200,127}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{194,147}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,160},{194,147}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{170,179}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,163},{170,179}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,167}}</string>
                <key>offset</key>
                <string>{-25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,158},{188,167}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,127},{120,159}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,145},{120,159}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,170},{132,189}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,137},{132,189}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,0},{154,175}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,132},{154,175}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,154},{140,167}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,117},{140,167}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,167},{160,195}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,111},{160,195}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{178,157}}</string>
                <key>offset</key>
                <string>{-25,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,126},{178,157}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,170},{174,137}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,138},{174,137}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,247},{156,123}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,150},{156,123}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,359},{150,125}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,145},{150,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,370},{152,121}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,152},{152,121}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,321},{160,125}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,150},{160,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,329},{168,123}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,153},{168,123}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,157},{172,125}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,153},{172,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,344},{164,125}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,153},{164,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,247},{134,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,159},{134,121}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_flash_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,381},{132,115}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,165},{132,115}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pigsy_flash_low.png</string>
            <key>size</key>
            <string>{983,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99212a53bd31d9af6db32246afe147b8$</string>
            <key>textureFileName</key>
            <string>pigsy_flash_low.png</string>
        </dict>
    </dict>
</plist>
