<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigsy_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,379},{374,265}}</string>
                <key>offset</key>
                <string>{-57,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,328},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{382,227}}</string>
                <key>offset</key>
                <string>{-31,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,373},{382,227}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,739},{318,247}}</string>
                <key>offset</key>
                <string>{31,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,370},{318,247}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,374},{248,363}}</string>
                <key>offset</key>
                <string>{46,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,215},{248,363}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{320,409}}</string>
                <key>offset</key>
                <string>{-56,185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,79},{320,409}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,413}}</string>
                <key>offset</key>
                <string>{-17,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,92},{268,413}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{204,375}}</string>
                <key>offset</key>
                <string>{2,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{525,125},{204,375}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,271},{206,313}}</string>
                <key>offset</key>
                <string>{3,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{525,142},{206,313}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{224,409}}</string>
                <key>offset</key>
                <string>{-19,150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,114},{224,409}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,386},{226,379}}</string>
                <key>offset</key>
                <string>{6,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{518,425},{226,379}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,806},{214,391}}</string>
                <key>offset</key>
                <string>{-15,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{503,421},{214,391}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,413},{228,391}}</string>
                <key>offset</key>
                <string>{-36,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,397},{228,391}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,767},{250,359}}</string>
                <key>offset</key>
                <string>{-50,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,376},{250,359}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,2},{312,267}}</string>
                <key>offset</key>
                <string>{-53,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,310},{312,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,750},{356,265}}</string>
                <key>offset</key>
                <string>{-33,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,289},{356,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{370,269}}</string>
                <key>offset</key>
                <string>{-34,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,293},{370,269}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{372,269}}</string>
                <key>offset</key>
                <string>{-44,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,305},{372,269}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,376},{372,267}}</string>
                <key>offset</key>
                <string>{-55,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,321},{372,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pigsy_skill2.png</string>
            <key>size</key>
            <string>{1789,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb949b849726dd2414dc4a09a6b53b35$</string>
            <key>textureFileName</key>
            <string>pigsy_skill2.png</string>
        </dict>
    </dict>
</plist>
