<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigsy_skill1_mirror_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,258},{374,265}}</string>
                <key>offset</key>
                <string>{-57,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,328},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,2},{280,389}}</string>
                <key>offset</key>
                <string>{14,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{499,201},{280,389}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{254,431}}</string>
                <key>offset</key>
                <string>{12,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{510,149},{254,431}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{338,389}}</string>
                <key>offset</key>
                <string>{-51,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,180},{338,389}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{376,341}}</string>
                <key>offset</key>
                <string>{-117,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,219},{376,341}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{392,321}}</string>
                <key>offset</key>
                <string>{-135,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,230},{392,321}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,361}}</string>
                <key>offset</key>
                <string>{-113,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,194},{368,361}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,525},{284,273}}</string>
                <key>offset</key>
                <string>{87,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{570,419},{284,273}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,588},{246,293}}</string>
                <key>offset</key>
                <string>{75,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,442},{246,293}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{240,289}}</string>
                <key>offset</key>
                <string>{70,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{575,454},{240,289}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,571},{242,293}}</string>
                <key>offset</key>
                <string>{68,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{572,458},{242,293}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,325},{244,261}}</string>
                <key>offset</key>
                <string>{68,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,455},{244,261}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,571},{266,243}}</string>
                <key>offset</key>
                <string>{75,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{567,447},{266,243}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,739},{298,257}}</string>
                <key>offset</key>
                <string>{87,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,430},{298,257}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,284},{374,285}}</string>
                <key>offset</key>
                <string>{113,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,376},{374,285}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,683},{280,301}}</string>
                <key>offset</key>
                <string>{41,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{526,325},{280,301}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,345},{336,289}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,323},{336,289}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_mirror_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,365},{372,263}}</string>
                <key>offset</key>
                <string>{-53,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,335},{372,263}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pigsy_skill1_mirror.png</string>
            <key>size</key>
            <string>{1998,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38f1f7c8bea07b420db4f3c3bf20384f$</string>
            <key>textureFileName</key>
            <string>pigsy_skill1_mirror.png</string>
        </dict>
    </dict>
</plist>
