<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigsy_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,803},{374,265}}</string>
                <key>offset</key>
                <string>{-57,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,328},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{374,265}}</string>
                <key>offset</key>
                <string>{-57,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,328},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,536},{374,265}}</string>
                <key>offset</key>
                <string>{-57,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,327},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1610},{374,267}}</string>
                <key>offset</key>
                <string>{-57,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,324},{374,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1608},{374,267}}</string>
                <key>offset</key>
                <string>{-57,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,323},{374,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,536},{374,265}}</string>
                <key>offset</key>
                <string>{-56,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,324},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{374,265}}</string>
                <key>offset</key>
                <string>{-56,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,323},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1608},{374,267}}</string>
                <key>offset</key>
                <string>{-56,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,321},{374,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1341},{374,267}}</string>
                <key>offset</key>
                <string>{-56,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,320},{374,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1339},{374,267}}</string>
                <key>offset</key>
                <string>{-56,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,320},{374,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1339},{374,267}}</string>
                <key>offset</key>
                <string>{-56,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,320},{374,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1072},{374,267}}</string>
                <key>offset</key>
                <string>{-56,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,320},{374,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1070},{374,267}}</string>
                <key>offset</key>
                <string>{-56,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,321},{374,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{374,267}}</string>
                <key>offset</key>
                <string>{-56,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,321},{374,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,269},{374,265}}</string>
                <key>offset</key>
                <string>{-56,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,323},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,269},{374,265}}</string>
                <key>offset</key>
                <string>{-57,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,324},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,803},{374,267}}</string>
                <key>offset</key>
                <string>{-57,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,323},{374,267}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{374,265}}</string>
                <key>offset</key>
                <string>{-57,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,326},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{374,265}}</string>
                <key>offset</key>
                <string>{-57,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,327},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{374,265}}</string>
                <key>offset</key>
                <string>{-57,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,328},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_idle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,265}}</string>
                <key>offset</key>
                <string>{-57,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,328},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pigsy_idle.png</string>
            <key>size</key>
            <string>{1130,1879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8938367c2c4084091ca17eb6ddaba13d$</string>
            <key>textureFileName</key>
            <string>pigsy_idle.png</string>
        </dict>
    </dict>
</plist>
