<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigsy_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,0},{174,125}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,153},{174,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{178,107}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,174},{178,107}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,355},{148,115}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,174},{148,115}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,335},{116,169}}</string>
                <key>offset</key>
                <string>{21,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,100},{116,169}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,191}}</string>
                <key>offset</key>
                <string>{-27,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,37},{150,191}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,191},{124,191}}</string>
                <key>offset</key>
                <string>{-8,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,45},{124,191}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,0},{94,175}}</string>
                <key>offset</key>
                <string>{1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,59},{94,175}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,239},{96,145}}</string>
                <key>offset</key>
                <string>{1,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,68},{96,145}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,191},{104,191}}</string>
                <key>offset</key>
                <string>{-9,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,54},{104,191}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,178},{104,177}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,199},{104,177}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,183},{100,183}}</string>
                <key>offset</key>
                <string>{-7,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,197},{100,183}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{106,183}}</string>
                <key>offset</key>
                <string>{-17,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,186},{106,183}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,123},{116,167}}</string>
                <key>offset</key>
                <string>{-23,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,177},{116,167}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,349},{146,125}}</string>
                <key>offset</key>
                <string>{-25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,145},{146,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{168,123}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,136},{168,123}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,175},{174,125}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,138},{174,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,382},{174,125}}</string>
                <key>offset</key>
                <string>{-21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,143},{174,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{174,125}}</string>
                <key>offset</key>
                <string>{-26,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,150},{174,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pigsy_skill2_low.png</string>
            <key>size</key>
            <string>{750,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec6b9ad96564e1b7910628959a42789b$</string>
            <key>textureFileName</key>
            <string>pigsy_skill2_low.png</string>
        </dict>
    </dict>
</plist>
