<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigsy_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{374,265}}</string>
                <key>offset</key>
                <string>{-57,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,328},{374,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,313},{280,389}}</string>
                <key>offset</key>
                <string>{10,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{495,201},{280,389}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,425}}</string>
                <key>offset</key>
                <string>{20,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{509,153},{272,425}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{222,397}}</string>
                <key>offset</key>
                <string>{2,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{516,166},{222,397}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{182,369}}</string>
                <key>offset</key>
                <string>{-32,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{502,177},{182,369}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{188,347}}</string>
                <key>offset</key>
                <string>{-52,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{479,187},{188,347}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,373},{196,367}}</string>
                <key>offset</key>
                <string>{-16,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{511,170},{196,367}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1177},{314,355}}</string>
                <key>offset</key>
                <string>{12,-159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{480,450},{314,355}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{310,355}}</string>
                <key>offset</key>
                <string>{-5,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,463},{310,355}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1493},{318,351}}</string>
                <key>offset</key>
                <string>{-7,-185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,478},{318,351}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{314,355}}</string>
                <key>offset</key>
                <string>{-4,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,481},{314,355}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1493},{330,345}}</string>
                <key>offset</key>
                <string>{5,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,479},{330,345}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,860},{362,315}}</string>
                <key>offset</key>
                <string>{38,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,475},{362,315}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{402,309}}</string>
                <key>offset</key>
                <string>{50,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,464},{402,309}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{364,265}}</string>
                <key>offset</key>
                <string>{31,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,443},{364,265}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,742},{276,233}}</string>
                <key>offset</key>
                <string>{-39,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,399},{276,233}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1020},{352,269}}</string>
                <key>offset</key>
                <string>{-54,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,342},{352,269}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
            <key>pigsy_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,595},{372,263}}</string>
                <key>offset</key>
                <string>{-57,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,335},{372,263}}</string>
                <key>sourceSize</key>
                <string>{1250,937}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pigsy_skill1.png</string>
            <key>size</key>
            <string>{1017,1881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef30b47c9e269c639125bcb5fa86983a$</string>
            <key>textureFileName</key>
            <string>pigsy_skill1.png</string>
        </dict>
    </dict>
</plist>
