<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigsy_leave_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,184},{176,113}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,169},{176,113}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_leave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,387},{172,111}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,172},{172,111}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_leave_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{168,105}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,180},{168,105}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_leave_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,387},{168,105}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,182},{168,105}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_leave_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,373},{170,125}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,182},{170,125}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_leave_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,184},{178,161}}</string>
                <key>offset</key>
                <string>{-11,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,182},{178,161}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_leave_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,0},{184,181}}</string>
                <key>offset</key>
                <string>{-12,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,182},{184,181}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_leave_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,197},{190,183}}</string>
                <key>offset</key>
                <string>{-9,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,192},{190,183}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_leave_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{188,183}}</string>
                <key>offset</key>
                <string>{-9,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,201},{188,183}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_leave_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,188},{178,185}}</string>
                <key>offset</key>
                <string>{-15,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,187},{178,185}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
            <key>pigsy_leave_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,197}}</string>
                <key>offset</key>
                <string>{-18,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,83},{176,197}}</string>
                <key>sourceSize</key>
                <string>{586,439}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pigsy_leave_low.png</string>
            <key>size</key>
            <string>{645,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6872f434c89d1c25d162cc11f86605e3$</string>
            <key>textureFileName</key>
            <string>pigsy_leave_low.png</string>
        </dict>
    </dict>
</plist>
