<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>target_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{130,122}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,263},{130,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,739},{130,116}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1203},{126,110}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{126,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,501},{120,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{120,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,973},{114,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{114,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1429},{108,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{108,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1623},{102,94}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1809},{96,90}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{96,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1900},{90,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{90,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1718},{96,90}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{96,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1528},{102,94}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1330},{108,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{108,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,870},{114,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{114,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,394},{120,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{120,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1076},{126,110}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{126,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,608},{130,116}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>target_effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,132},{130,120}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>target_effect.png</string>
            <key>size</key>
            <string>{124,1987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a872b96c349b7270adf11eaab4d788:1/1$</string>
            <key>textureFileName</key>
            <string>target_effect.png</string>
        </dict>
    </dict>
</plist>
