<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_fanche_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,997},{166,142}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,2},{166,142}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,851},{174,142}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,2},{174,142}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,985},{180,142}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,2},{180,142}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1127},{186,142}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,2},{186,142}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1163},{192,144}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,1},{192,144}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,653},{198,142}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,3},{198,142}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,511},{202,142}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{202,142}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1165},{208,140}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{208,140}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1165},{210,140}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{210,140}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,509},{214,140}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{214,140}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1235},{216,140}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{216,140}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1123},{218,138}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{218,138}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,857},{222,140}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{222,140}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,0},{224,142}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{224,142}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_fanche_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,847},{226,142}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{226,142}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>qp_hjdly_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1202},{204,172}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{204,172}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,989},{202,174}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{202,174}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,996},{202,174}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{202,174}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,820},{202,176}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{202,176}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1163},{200,176}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{200,176}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,653},{198,176}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{198,176}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1163},{198,174}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{198,174}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,991},{196,172}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{196,172}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,819},{198,172}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{198,172}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,649},{200,170}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{200,170}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,997},{204,168}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{204,168}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1029},{206,168}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{206,168}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,823},{206,168}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{206,168}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,617},{206,170}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{206,170}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjdly_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1170},{204,170}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{204,170}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_hjmoguiyu_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,197},{250,203}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{250,203}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,0},{256,197}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{256,197}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,193},{258,193}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{258,193}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{260,195}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{260,195}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{258,195}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{258,195}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{256,197}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{256,197}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,691},{254,197}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{254,197}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,363},{254,195}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,42},{254,195}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{258,193}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,51},{258,193}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,0},{260,193}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,54},{260,193}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{260,193}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,53},{260,193}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{258,197}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,45},{258,197}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,945},{254,201}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,35},{254,201}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,193},{248,207}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{248,207}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{246,211}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{246,211}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_hjmoguiyu_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{246,211}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{246,211}}</string>
                <key>sourceSize</key>
                <string>{274,255}</string>
            </dict>
            <key>qp_huangjindenglongyu_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1199},{208,176}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{208,176}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>qp_huangjinfancheyu_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,829},{182,156}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,3},{182,156}}</string>
                <key>sourceSize</key>
                <string>{250,162}</string>
            </dict>
            <key>qp_huangjinjixiesha_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,697},{247,123}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{247,123}}</string>
                <key>sourceSize</key>
                <string>{287,151}</string>
            </dict>
            <key>qp_huangjinjixiesha_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,388},{225,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{225,123}}</string>
                <key>sourceSize</key>
                <string>{227,123}</string>
            </dict>
            <key>qp_huangjinjixiesha_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,386},{225,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{225,123}}</string>
                <key>sourceSize</key>
                <string>{227,123}</string>
            </dict>
            <key>qp_huangjinjixiesha_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,734},{227,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,123}}</string>
                <key>sourceSize</key>
                <string>{227,123}</string>
            </dict>
            <key>qp_huangjinjixiesha_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,724},{227,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,123}}</string>
                <key>sourceSize</key>
                <string>{227,123}</string>
            </dict>
            <key>qp_huangjinjixiesha_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,142},{223,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{223,123}}</string>
                <key>sourceSize</key>
                <string>{227,123}</string>
            </dict>
            <key>qp_huangjinjixiesha_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,265},{225,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{225,123}}</string>
                <key>sourceSize</key>
                <string>{227,123}</string>
            </dict>
            <key>qp_huangjinmoguiyu_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{260,213}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{260,213}}</string>
                <key>sourceSize</key>
                <string>{274,279}</string>
            </dict>
            <key>qp_huangjinsha_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,424},{267,168}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{267,168}}</string>
                <key>sourceSize</key>
                <string>{279,200}</string>
            </dict>
            <key>qp_huangjinsha_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,197},{262,166}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{262,166}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,371},{260,160}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{260,160}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,541},{258,156}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{258,156}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,568},{252,156}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{252,156}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,631},{248,156}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{248,156}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,879},{244,156}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{244,156}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,211},{246,160}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{246,160}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,570},{250,164}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{250,164}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,400},{254,170}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{254,170}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,369},{260,172}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{260,172}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,197},{262,172}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{262,172}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>qp_huangjinsha_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,400},{260,168}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{260,168}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goldfish1.png</string>
            <key>size</key>
            <string>{2018,1375}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:917fe6589b255774efc696c5041579e1$</string>
            <key>textureFileName</key>
            <string>goldfish1.png</string>
        </dict>
    </dict>
</plist>
