<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bsd_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1},{242,310}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,13},{242,310}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>qp_bsd_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1},{244,310}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{244,310}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1},{234,314}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,8},{234,314}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1},{236,320}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,8},{236,320}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{236,322}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,8},{236,322}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1},{236,320}}</string>
                <key>offset</key>
                <string>{23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,10},{236,320}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1},{236,318}}</string>
                <key>offset</key>
                <string>{23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,11},{236,318}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1},{236,312}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,11},{236,312}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,313},{236,306}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,11},{236,306}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,317},{238,302}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,10},{238,302}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{246,294}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{246,294}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,313},{256,290}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{256,290}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,323},{262,290}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{262,290}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,323},{262,290}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{262,290}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,321},{258,298}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{258,298}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>qp_bsd_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,315},{252,300}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{252,300}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_bsd.png</string>
            <key>size</key>
            <string>{2026,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4ca6f37f690e80497f3a57f8be4843f$</string>
            <key>textureFileName</key>
            <string>qp_bsd.png</string>
        </dict>
    </dict>
</plist>
