<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bomb_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1},{164,154}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{164,154}}</string>
                <key>sourceSize</key>
                <string>{170,164}</string>
            </dict>
            <key>qp_zdy_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1},{168,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
            <key>qp_zdy_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1},{162,148}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{162,148}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
            <key>qp_zdy_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1},{146,152}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{146,152}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
            <key>qp_zdy_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1},{144,154}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{144,154}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
            <key>qp_zdy_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1},{146,154}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{146,154}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
            <key>qp_zdy_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1},{150,150}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{150,150}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
            <key>qp_zdy_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1},{158,152}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{158,152}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
            <key>qp_zdy_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{164,154}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{164,154}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
            <key>qp_zdy_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{168,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{168,156}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_bomb.png</string>
            <key>size</key>
            <string>{1590,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d867f0137f6833f45a1829f9f07da763$</string>
            <key>textureFileName</key>
            <string>qp_bomb.png</string>
        </dict>
    </dict>
</plist>
