<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bsd_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{122,156}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{122,156}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>qp_bsd_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,0},{117,149}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{117,149}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,0},{113,151}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{113,151}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,0},{113,155}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{113,155}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,0},{113,157}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{113,157}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{113,157}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{113,157}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{113,155}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,7},{113,155}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,0},{115,151}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{115,151}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,149},{113,147}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{113,147}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,151},{113,145}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{113,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,151},{119,143}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{119,143}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,155},{123,141}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{123,141}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,156},{125,141}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{125,141}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,157},{125,141}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{125,141}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,157},{125,143}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{125,143}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>qp_bsd_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,155},{121,145}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{121,145}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_bsd_low.png</string>
            <key>size</key>
            <string>{1024,297}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a261fbf8276480e163c6882e6e695dd$</string>
            <key>textureFileName</key>
            <string>qp_bsd_low.png</string>
        </dict>
    </dict>
</plist>
