<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bdyu_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{149,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{149,87}}</string>
                <key>sourceSize</key>
                <string>{153,97}</string>
            </dict>
            <key>qp_bdyu_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{152,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{152,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{152,93}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,399},{152,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,437},{152,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{152,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,247},{152,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,247},{152,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,152},{152,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,918},{152,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,97}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,855},{152,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,97}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,821},{152,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,97}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,703},{152,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,97}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{152,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,97}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,627},{152,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,97}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,551},{152,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,97}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
            <key>qp_bdyu_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,0},{152,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_bdyu_low.png</string>
            <key>size</key>
            <string>{249,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f695e1d553a9fdf3dd699605f61524bc$</string>
            <key>textureFileName</key>
            <string>qp_bdyu_low.png</string>
        </dict>
    </dict>
</plist>
