<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_csy_dead_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,645},{95,107}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{95,107}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>qp_csy_dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,645},{99,109}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{99,109}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>qp_csy_dead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,740},{109,115}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{109,115}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>qp_csy_dead_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{171,159}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{171,159}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>qp_csy_dead_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{159,157}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{159,157}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>qp_csy_dead_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,0},{163,163}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{163,163}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>qp_csy_dead_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{157,157}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>qp_csy_dead_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,157},{153,151}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{153,151}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>qp_csy_dead_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,163},{151,147}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{151,147}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>qp_csy_dead_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,308},{125,143}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{125,143}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>qp_csy_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{109,131}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,17},{109,131}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>qp_csy_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,543},{102,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{102,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,640},{104,128}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{104,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,534},{106,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{106,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,433},{108,126}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{108,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,433},{110,122}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{110,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,425},{110,124}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{110,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,310},{112,130}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{112,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,422},{112,126}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{112,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,535},{110,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{110,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,645},{108,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{108,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,744},{104,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{104,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,541},{104,128}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{104,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,744},{102,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{102,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qp_csy_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,753},{98,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{98,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_csy_low.png</string>
            <key>size</key>
            <string>{508,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a2c01c5c81c4f13ec255d81e6d379c1$</string>
            <key>textureFileName</key>
            <string>qp_csy_low.png</string>
        </dict>
    </dict>
</plist>
