<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dafeilong_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1},{290,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,266}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1},{290,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,266}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1},{290,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,266}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,537},{290,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,266}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,269},{290,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,266}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,269},{290,262}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{290,262}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,269},{290,262}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{290,262}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,791},{262,224}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{262,224}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,533},{290,262}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{290,262}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1},{290,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,266}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,537},{290,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,266}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,533},{290,260}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{290,260}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,533},{290,256}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{290,256}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,269},{290,262}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{290,262}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,269},{290,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,266}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
            <key>qp_dafeilong_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{290,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,266}}</string>
                <key>sourceSize</key>
                <string>{290,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dafeilong.png</string>
            <key>size</key>
            <string>{1460,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621f2ecd1e79147108a2ae63be342239$</string>
            <key>textureFileName</key>
            <string>qp_dafeilong.png</string>
        </dict>
    </dict>
</plist>
