<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dianman_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{121,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{121,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>qp_dm_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,47},{119,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{119,44}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>qp_dm_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,415},{117,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{117,42}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>qp_dm_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,91},{119,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,42}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>qp_dm_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{119,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{119,40}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>qp_dm_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{119,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{119,40}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>qp_dm_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,291},{119,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{119,38}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>qp_dm_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,253},{119,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{119,38}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>qp_dm_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{119,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{119,40}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>qp_dm_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,457},{117,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{117,40}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>qp_dm_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,373},{117,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{117,42}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
            <key>qp_dm_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{117,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{117,44}}</string>
                <key>sourceSize</key>
                <string>{121,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dianman_low.png</string>
            <key>size</key>
            <string>{121,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:060457f6505741fde456fa9db31b1c54$</string>
            <key>textureFileName</key>
            <string>qp_dianman_low.png</string>
        </dict>
    </dict>
</plist>
