<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dazhangyu_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{126,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{126,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{128,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{126,128}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{124,128}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,382},{126,126}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,382},{126,126}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,254},{128,126}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,128},{128,126}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,128},{128,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{126,128}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>qp_dazhangyu_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,256},{126,126}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dazhangyu_low.png</string>
            <key>size</key>
            <string>{380,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:640ed8d12bc367e0b27cab7434492f3f$</string>
            <key>textureFileName</key>
            <string>qp_dazhangyu_low.png</string>
        </dict>
    </dict>
</plist>
