<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_doubledragon_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,195},{258,201}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,19},{258,201}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,623},{270,233}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{270,233}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,394},{244,213}}</string>
                <key>offset</key>
                <string>{-33,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{244,213}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,404},{238,219}}</string>
                <key>offset</key>
                <string>{-38,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{238,219}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,396},{230,217}}</string>
                <key>offset</key>
                <string>{-39,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{230,217}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,195},{238,209}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{238,209}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,0},{254,193}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{254,193}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{209,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,151}}</string>
                <key>sourceSize</key>
                <string>{209,151}</string>
            </dict>
            <key>qp_doubledragon_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,0},{264,195}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{264,195}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,195},{260,199}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{260,199}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,0},{256,195}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{256,195}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,607},{254,229}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{254,229}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,613},{252,229}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{252,229}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{248,201}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,28},{248,201}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
            <key>qp_doubledragon_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,193},{262,195}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{262,195}}</string>
                <key>sourceSize</key>
                <string>{356,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_doubledragon_low.png</string>
            <key>size</key>
            <string>{1018,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75f9db01e142486bc65928c5becfb4eb$</string>
            <key>textureFileName</key>
            <string>qp_doubledragon_low.png</string>
        </dict>
    </dict>
</plist>
