<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_ddg_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,613},{269,282}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,17},{269,282}}</string>
                <key>sourceSize</key>
                <string>{383,342}</string>
            </dict>
            <key>qp_ddg_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,613},{340,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,307},{340,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,613},{338,304}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,307},{340,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,307},{340,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,307},{340,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1},{340,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,613},{338,304}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1},{340,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1},{340,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{340,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
            <key>qp_ddg_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,613},{338,304}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,304}}</string>
                <key>sourceSize</key>
                <string>{340,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_ddg.png</string>
            <key>size</key>
            <string>{1633,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:920d8d7db26ffdcf100ae6363e8c34bd$</string>
            <key>textureFileName</key>
            <string>qp_ddg.png</string>
        </dict>
    </dict>
</plist>
