<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dajinya_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{204,166}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{204,166}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>dajinya_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,166},{204,164}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{204,164}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>dajinya_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{208,164}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{208,164}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>dajinya_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,162},{204,160}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{204,160}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>dajinya_back_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{204,146}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{204,146}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>dajinya_back_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{204,158}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{204,158}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>dajinya_back_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{204,162}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{204,162}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>dajinya_back_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{208,166}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{208,166}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>qp_dajinya_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,302},{176,142}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{176,142}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>qp_dajinya_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{176,144}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{176,144}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>qp_dajinya_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,158},{176,144}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{176,144}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>qp_dajinya_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,330},{178,144}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{178,144}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>qp_dajinya_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,316},{178,142}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{178,142}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>qp_dajinya_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,322},{178,140}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{178,140}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>qp_dajinya_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,176},{176,140}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{176,140}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dajinya_low.png</string>
            <key>size</key>
            <string>{971,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d3a2a82007c966d6236acb206ec521$</string>
            <key>textureFileName</key>
            <string>qp_dajinya_low.png</string>
        </dict>
    </dict>
</plist>
