<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_doubledragon_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,399},{522,403}}</string>
                <key>offset</key>
                <string>{-19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,38},{522,403}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1312},{546,473}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,2},{546,473}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,804},{492,431}}</string>
                <key>offset</key>
                <string>{-66,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{492,431}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,867},{484,443}}</string>
                <key>offset</key>
                <string>{-77,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{484,443}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,399},{466,439}}</string>
                <key>offset</key>
                <string>{-78,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,31},{466,439}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,804},{482,421}}</string>
                <key>offset</key>
                <string>{-61,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,40},{482,421}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{512,391}}</string>
                <key>offset</key>
                <string>{-36,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,45},{512,391}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,302}}</string>
                <key>sourceSize</key>
                <string>{418,302}</string>
            </dict>
            <key>qp_doubledragon_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{534,397}}</string>
                <key>offset</key>
                <string>{-25,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,44},{534,397}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,399},{530,403}}</string>
                <key>offset</key>
                <string>{-21,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{530,403}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{518,395}}</string>
                <key>offset</key>
                <string>{-32,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,51},{518,395}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1227},{516,461}}</string>
                <key>offset</key>
                <string>{-34,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,52},{516,461}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1237},{510,461}}</string>
                <key>offset</key>
                <string>{-32,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,52},{510,461}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{504,411}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,52},{504,411}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
            <key>qp_doubledragon_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{528,395}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,48},{528,395}}</string>
                <key>sourceSize</key>
                <string>{712,513}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_doubledragon.png</string>
            <key>size</key>
            <string>{2035,1787}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48f68b0941d29c3582681bff9129ed4d$</string>
            <key>textureFileName</key>
            <string>qp_doubledragon.png</string>
        </dict>
    </dict>
</plist>
