<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_ddbx_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{76,76}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>qp_ddbx_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,65},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,0},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{69,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{69,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{67,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,65},{67,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,0},{67,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,65},{67,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{67,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,65},{67,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{67,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,65},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>qp_ddbx_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,65},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_ddbx_low.png</string>
            <key>size</key>
            <string>{480,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9c43139c5060fd5a8cfe50cd00bfcfe$</string>
            <key>textureFileName</key>
            <string>qp_ddbx_low.png</string>
        </dict>
    </dict>
</plist>
