<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dianman_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,92},{255,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{255,98}}</string>
                <key>sourceSize</key>
                <string>{287,100}</string>
            </dict>
            <key>qp_dm_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,90},{250,93}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{250,93}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
            <key>qp_dm_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,86},{250,91}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,91}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
            <key>qp_dm_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,88},{252,91}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{252,91}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
            <key>qp_dm_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1},{252,87}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{252,87}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
            <key>qp_dm_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{252,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{252,85}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
            <key>qp_dm_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,83}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{250,83}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
            <key>qp_dm_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1},{250,85}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{250,85}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
            <key>qp_dm_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1},{250,87}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{250,87}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
            <key>qp_dm_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1},{250,89}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{250,89}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
            <key>qp_dm_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,88},{248,91}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{248,91}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
            <key>qp_dm_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,90},{248,93}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{248,93}}</string>
                <key>sourceSize</key>
                <string>{258,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dianman.png</string>
            <key>size</key>
            <string>{1516,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19ca8b2436dbceb9be0947f47043f05c$</string>
            <key>textureFileName</key>
            <string>qp_dianman.png</string>
        </dict>
    </dict>
</plist>
