<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_fdy_dead_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,796},{84,66}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,56},{84,66}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,366},{72,80}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,34},{72,80}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,768},{84,62}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,46},{84,62}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,862},{84,56}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,53},{84,56}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,830},{70,64}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,53},{70,64}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,438},{80,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{80,64}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,502},{78,62}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{78,62}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,298},{76,68}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{76,68}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,634},{74,70}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,41},{74,70}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,564},{74,70}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,41},{74,70}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{82,90}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,27},{82,90}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,616},{84,86}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{84,86}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,218},{96,80}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{96,80}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_dead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,830},{64,46}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,54},{64,46}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>qp_fdy_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,830},{84,61}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{84,61}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>qp_fdy_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,766},{85,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{85,64}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,538},{87,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{87,64}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,730},{85,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{85,66}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,490},{87,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{87,64}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{87,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{87,66}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,700},{85,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{85,66}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,298},{89,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{89,64}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{87,64}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{87,64}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,664},{85,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{85,66}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,426},{87,64}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{87,64}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,704},{85,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{85,64}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,602},{87,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{87,62}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,554},{87,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{87,62}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{87,64}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{87,64}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,362},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{87,64}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>qp_fdy_xz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,115},{103,103}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{103,103}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>qp_fdy_xz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{107,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{107,115}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>qp_fdy_xz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,135},{129,127}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{129,127}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>qp_fdy_xz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{147,135}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{147,135}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_fdy_low.png</string>
            <key>size</key>
            <string>{255,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dc4c3b3c29b1dd456a95ba7f2edd6a2$</string>
            <key>textureFileName</key>
            <string>qp_fdy_low.png</string>
        </dict>
    </dict>
</plist>
