<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_guideng_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1},{64,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{64,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guideng_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,485},{118,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guideng_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,245},{118,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guideng_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,123},{118,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guideng_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guideng_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guideng_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,123},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guideng_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guideng_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,123},{118,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guideng_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,123},{118,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guideng_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,367},{118,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qp_guiwang_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,303},{284,296}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{284,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_guiwang_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,303},{288,300}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{288,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_guiwang_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1},{288,300}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{288,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_guiwang_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,303},{290,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{290,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_guiwang_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,303},{288,300}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{288,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_guiwang_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{288,300}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{288,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_guiwang_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{290,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{290,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_guiwang_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1},{284,300}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{284,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_guiwang_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,303},{284,300}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{284,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_guiwang_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1},{284,300}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{284,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qp_guiwang_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{298,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{298,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_guiwang.png</string>
            <key>size</key>
            <string>{1934,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b7339f740b71685d0032dc70f7e3a8$</string>
            <key>textureFileName</key>
            <string>qp_guiwang.png</string>
        </dict>
    </dict>
</plist>
