<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hdc_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{193,161}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{193,161}}</string>
                <key>sourceSize</key>
                <string>{199,169}</string>
            </dict>
            <key>qp_hdc_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,781},{187,153}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{187,153}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{187,155}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{187,155}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,620},{187,155}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{187,155}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,471},{187,155}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{187,155}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,465},{187,155}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{187,155}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{189,155}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{189,155}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,310},{191,155}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{191,155}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,155},{193,155}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{193,155}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{197,155}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{197,155}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{197,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,155}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,781},{187,153}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{187,153}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>qp_hdc_yl.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,775},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_hdc_low.png</string>
            <key>size</key>
            <string>{432,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67fe28168757b287e4907d3220af46f2$</string>
            <key>textureFileName</key>
            <string>qp_hdc_low.png</string>
        </dict>
    </dict>
</plist>
