<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hollowbaigujing_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,814},{362,398}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,95},{362,398}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,416},{364,396}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,95},{364,396}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{362,398}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,96},{362,398}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,424},{358,406}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,97},{358,406}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,420}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,97},{354,420}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{352,418}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,96},{352,418}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,832},{350,414}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,97},{350,414}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,402},{346,416}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,97},{346,416}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{350,412}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,96},{350,412}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{342,412}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,94},{342,412}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,362},{348,410}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,93},{348,410}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{350,412}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,90},{350,412}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,712},{346,410}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,90},{346,410}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,750},{352,408}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{352,408}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
            <key>qp_hollowbaigujing_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{358,402}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,94},{358,402}}</string>
                <key>sourceSize</key>
                <string>{500,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_hollowbaigujing.png</string>
            <key>size</key>
            <string>{1934,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:945badf269b2a7d14e1f1db2eec4c14c$</string>
            <key>textureFileName</key>
            <string>qp_hollowbaigujing.png</string>
        </dict>
    </dict>
</plist>
