<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hdy_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1487},{314,260}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{314,260}}</string>
                <key>sourceSize</key>
                <string>{350,264}</string>
            </dict>
            <key>qp_hdy_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1},{317,260}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{317,260}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,517},{317,242}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{317,242}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,511},{317,242}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{317,242}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,509},{317,242}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{317,242}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1481},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1479},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1245},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1239},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1237},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1003},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,997},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,995},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,263},{317,246}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,246}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,263},{317,244}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,244}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,761},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,755},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,753},{317,240}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,240}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,263},{317,252}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{317,252}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1},{317,260}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,260}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
            <key>qp_hdy_move_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{317,260}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{317,260}}</string>
                <key>sourceSize</key>
                <string>{325,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_hdy.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2c9e6e23a07aa95df754aa32363f57b$</string>
            <key>textureFileName</key>
            <string>qp_hdy.png</string>
        </dict>
    </dict>
</plist>
