<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hdc_dead_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{470,400}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{470,400}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,382}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{474,382}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_dead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{462,386}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{462,386}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_dead_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{442,400}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{442,400}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_dead_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,404},{434,398}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{434,398}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_dead_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,396},{436,396}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{436,396}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_dead_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{438,392}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{438,392}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_dead_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{434,388}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{434,388}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_dead_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,404},{434,382}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{434,382}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_dead_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,788},{432,372}}</string>
                <key>offset</key>
                <string>{-30,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{432,372}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,804},{416,378}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{416,378}}</string>
                <key>sourceSize</key>
                <string>{492,402}</string>
            </dict>
            <key>qp_hdc_kl_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,47},{53,49}}</string>
                <key>offset</key>
                <string>{31,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,52},{53,49}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>qp_hdc_kl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,132},{101,63}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,33},{101,63}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>qp_hdc_kl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,366},{105,65}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,29},{105,65}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>qp_hdc_kl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,345},{119,67}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{119,67}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>qp_hdc_kl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,235},{129,69}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{129,69}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>qp_hdc_kl_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,205},{139,71}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{139,71}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>qp_hdc_kl_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,132},{147,71}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{147,71}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>qp_hdc_kl_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,67},{155,63}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{155,63}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>qp_hdc_kl_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,2},{159,63}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{159,63}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>qp_hdc_kl_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,278},{123,65}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,65}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>qp_hdc_kl_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,2},{43,51}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,10},{43,51}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_hdc_dead.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c345e262d8dbc3d7d3f046c8a48d8b7c:1/1$</string>
            <key>textureFileName</key>
            <string>qp_hdc_dead.png</string>
        </dict>
    </dict>
</plist>
