<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hulu_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{293,281}}</string>
                <key>offset</key>
                <string>{-19,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,181},{293,281}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,295},{279,283}}</string>
                <key>offset</key>
                <string>{-18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,179},{279,283}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,580},{267,283}}</string>
                <key>offset</key>
                <string>{-17,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,178},{267,283}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,596},{249,283}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,175},{249,283}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,612},{225,287}}</string>
                <key>offset</key>
                <string>{-7,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,169},{225,287}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,604},{191,291}}</string>
                <key>offset</key>
                <string>{3,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,162},{191,291}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,604},{191,291}}</string>
                <key>offset</key>
                <string>{3,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,162},{191,291}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,612},{225,287}}</string>
                <key>offset</key>
                <string>{-7,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,169},{225,287}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,596},{249,283}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,175},{249,283}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,580},{267,283}}</string>
                <key>offset</key>
                <string>{-17,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,178},{267,283}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,295},{279,283}}</string>
                <key>offset</key>
                <string>{-18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,179},{279,283}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_catch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{293,281}}</string>
                <key>offset</key>
                <string>{-19,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,181},{293,281}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,2},{295,275}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,183},{295,275}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{299,283}}</string>
                <key>offset</key>
                <string>{-18,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,179},{299,283}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{295,285}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,176},{295,285}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,2},{279,291}}</string>
                <key>offset</key>
                <string>{-7,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,167},{279,291}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,303},{249,299}}</string>
                <key>offset</key>
                <string>{10,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,157},{249,299}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{199,305}}</string>
                <key>offset</key>
                <string>{34,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,150},{199,305}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,319},{187,315}}</string>
                <key>offset</key>
                <string>{33,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,145},{187,315}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,668},{181,325}}</string>
                <key>offset</key>
                <string>{25,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,148},{181,325}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,335}}</string>
                <key>offset</key>
                <string>{29,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,153},{215,335}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{205,331}}</string>
                <key>offset</key>
                <string>{30,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,156},{205,331}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{177,325}}</string>
                <key>offset</key>
                <string>{23,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,149},{177,325}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,339},{195,327}}</string>
                <key>offset</key>
                <string>{29,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,141},{195,327}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{211,315}}</string>
                <key>offset</key>
                <string>{29,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,140},{211,315}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,309},{241,301}}</string>
                <key>offset</key>
                <string>{15,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,150},{241,301}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,299},{275,295}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,163},{275,295}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
            <key>qp_hulu_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,299},{293,285}}</string>
                <key>offset</key>
                <string>{-15,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,175},{293,285}}</string>
                <key>sourceSize</key>
                <string>{975,731}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_hulu.png</string>
            <key>size</key>
            <string>{2046,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644517690a265c8a548851eda83875b7$</string>
            <key>textureFileName</key>
            <string>qp_hulu.png</string>
        </dict>
    </dict>
</plist>
