<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hulu_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{146,140}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,91},{146,140}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,242},{140,140}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,91},{140,140}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{134,142}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,89},{134,142}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,296},{124,142}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,87},{124,142}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,308},{112,142}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,86},{112,142}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,146},{96,146}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,81},{96,146}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,146},{96,146}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,81},{96,146}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,308},{112,142}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,86},{112,142}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,296},{124,142}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,87},{124,142}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{134,142}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,89},{134,142}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,242},{140,140}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,91},{140,140}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_catch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{146,140}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,91},{146,140}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{150,138}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,92},{150,138}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,158},{150,140}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,91},{150,140}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{148,142}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,88},{148,142}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,146},{140,146}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,83},{140,146}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,150},{124,150}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,78},{124,150}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,316},{100,152}}</string>
                <key>offset</key>
                <string>{16,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,76},{100,152}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,158},{94,158}}</string>
                <key>offset</key>
                <string>{16,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,73},{94,158}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{92,162}}</string>
                <key>offset</key>
                <string>{12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,74},{92,162}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,166}}</string>
                <key>offset</key>
                <string>{14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,78},{108,166}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{102,166}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,78},{102,166}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{88,162}}</string>
                <key>offset</key>
                <string>{12,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,75},{88,162}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,166},{98,164}}</string>
                <key>offset</key>
                <string>{14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,71},{98,164}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{104,158}}</string>
                <key>offset</key>
                <string>{15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,70},{104,158}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,300},{120,150}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,76},{120,150}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,148},{136,148}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,82},{136,148}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
            <key>qp_hulu_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{146,142}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,88},{146,142}}</string>
                <key>sourceSize</key>
                <string>{488,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_hulu_low.png</string>
            <key>size</key>
            <string>{1000,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:418556cf15143c67461d4bc64353ee76$</string>
            <key>textureFileName</key>
            <string>qp_hulu_low.png</string>
        </dict>
    </dict>
</plist>
