<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hollowbaigujing_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,330},{168,184}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,46},{168,184}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,322},{168,184}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,46},{168,184}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,160},{168,184}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,47},{168,184}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{166,190}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,46},{166,190}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,322},{164,196}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,46},{164,196}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,330},{164,194}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,47},{164,194}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,160},{162,192}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,46},{162,192}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,194}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{158,194}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,160},{162,192}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,46},{162,192}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{158,188}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,46},{158,188}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,0},{160,190}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,45},{160,190}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{162,192}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,43},{162,192}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{160,190}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,44},{160,190}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,166},{164,190}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,45},{164,190}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>qp_hollowbaigujing_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,0},{166,188}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,44},{166,188}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_hollowbaigujing_low.png</string>
            <key>size</key>
            <string>{950,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c65ddc20ee395282c504eeca1567831$</string>
            <key>textureFileName</key>
            <string>qp_hollowbaigujing_low.png</string>
        </dict>
    </dict>
</plist>
