<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_hdc_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,376},{464,381}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{464,381}}</string>
                <key>sourceSize</key>
                <string>{478,405}</string>
            </dict>
            <key>qp_hdc_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1134},{458,373}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{458,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1509},{456,373}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{456,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1501},{454,373}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{454,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1509},{456,373}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{456,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1126},{454,373}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{454,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1126},{454,373}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{454,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,759},{458,373}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{458,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,376},{464,373}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{464,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1},{470,373}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{470,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{476,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{476,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,751},{458,373}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{458,373}}</string>
                <key>sourceSize</key>
                <string>{478,373}</string>
            </dict>
            <key>qp_hdc_yl.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1},{362,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,303}}</string>
                <key>sourceSize</key>
                <string>{362,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_hdc.png</string>
            <key>size</key>
            <string>{1375,1883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:067928e68748f53b03b44466e42cfc4b$</string>
            <key>textureFileName</key>
            <string>qp_hdc.png</string>
        </dict>
    </dict>
</plist>
