<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jinli_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,231}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{259,231}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,511},{239,197}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{239,197}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,346},{239,215}}</string>
                <key>offset</key>
                <string>{27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,17},{239,215}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,382},{241,215}}</string>
                <key>offset</key>
                <string>{27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,17},{241,215}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{243,201}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,26},{243,201}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{241,185}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{241,185}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,205},{243,175}}</string>
                <key>offset</key>
                <string>{32,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,51},{243,175}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,171},{251,173}}</string>
                <key>offset</key>
                <string>{28,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,63},{251,173}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,165},{253,169}}</string>
                <key>offset</key>
                <string>{25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,68},{253,169}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{255,167}}</string>
                <key>offset</key>
                <string>{23,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,64},{255,167}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{255,161}}</string>
                <key>offset</key>
                <string>{21,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,63},{255,161}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,336},{249,173}}</string>
                <key>offset</key>
                <string>{23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{249,173}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
            <key>qp_jinli_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{239,197}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{239,197}}</string>
                <key>sourceSize</key>
                <string>{307,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jinli.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cc3117a5bfac288e84a79376915f42a$</string>
            <key>textureFileName</key>
            <string>qp_jinli.png</string>
        </dict>
    </dict>
</plist>
