<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jcg_freeze.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,717},{238,222}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{238,222}}</string>
                <key>sourceSize</key>
                <string>{290,268}</string>
            </dict>
            <key>qp_jcg_move_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,219},{224,206}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{224,206}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,1},{224,204}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{224,204}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,631},{224,196}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{224,196}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,607},{224,190}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{224,190}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,799},{222,188}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{222,188}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,403},{222,190}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{222,190}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1},{222,194}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{222,194}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1},{220,216}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{220,216}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,473},{220,222}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{220,222}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,697},{220,216}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{220,216}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1},{222,202}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{222,202}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,205},{222,196}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{222,196}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,409},{222,196}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{222,196}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,207},{226,200}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{226,200}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcg_move_00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,427},{226,202}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{226,202}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>qp_jcr_freeze.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,717},{238,222}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{238,222}}</string>
                <key>sourceSize</key>
                <string>{298,278}</string>
            </dict>
            <key>qp_jcr_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,725},{280,238}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{280,238}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,479},{282,236}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{282,236}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,237},{282,234}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{282,234}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1},{286,234}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{286,234}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,243},{288,234}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{288,234}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,727},{292,234}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{292,234}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,485},{284,238}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{284,238}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,727},{282,240}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{282,240}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1},{280,240}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{280,240}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,485},{282,240}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{282,240}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1},{284,240}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{284,240}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,485},{288,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{288,240}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{292,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{292,240}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{288,240}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{288,240}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
            <key>qp_jcr_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,243},{284,240}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{284,240}}</string>
                <key>sourceSize</key>
                <string>{298,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jc.png</string>
            <key>size</key>
            <string>{2046,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83a32aaec49454d8bad14f43b516a2c3$</string>
            <key>textureFileName</key>
            <string>qp_jc.png</string>
        </dict>
    </dict>
</plist>
