<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jcg_freeze.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,111},{119,110}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{119,110}}</string>
                <key>sourceSize</key>
                <string>{145,134}</string>
            </dict>
            <key>qp_jcg_move_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,113},{113,102}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{113,102}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{113,102}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{113,102}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,411},{113,98}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{113,98}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,415},{113,96}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{113,96}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{113,94}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{113,94}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,415},{113,96}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{113,96}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,337},{111,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{111,98}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,331},{111,108}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{111,108}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,221},{111,110}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{111,110}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,226},{111,108}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{111,108}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,113},{113,102}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{113,102}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,413},{113,98}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{113,98}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,226},{111,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{111,98}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,411},{113,100}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{113,100}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcg_move_00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{113,102}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{113,102}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>qp_jcr_freeze.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,0},{119,111}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{119,111}}</string>
                <key>sourceSize</key>
                <string>{149,139}</string>
            </dict>
            <key>qp_jcr_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,137},{137,116}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{137,116}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{137,116}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{137,116}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,274},{137,114}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{137,114}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{139,114}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{139,114}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,137},{137,114}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{137,114}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{137,114}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{137,114}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,276},{137,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{137,116}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,274},{137,114}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,114}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,278},{137,118}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,118}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{137,114}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{137,114}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,139},{137,116}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{137,116}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{139,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{139,116}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,139},{139,114}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{139,114}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{139,114}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{139,114}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
            <key>qp_jcr_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{139,114}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{139,114}}</string>
                <key>sourceSize</key>
                <string>{149,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jc_low.png</string>
            <key>size</key>
            <string>{900,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6678538d82a9e0e2a3ad8759463c4c5$</string>
            <key>textureFileName</key>
            <string>qp_jc_low.png</string>
        </dict>
    </dict>
</plist>
