<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_leidianlong_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1430},{375,279}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{375,279}}</string>
                <key>sourceSize</key>
                <string>{405,353}</string>
            </dict>
            <key>qp_leidianlong_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1711},{367,277}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,41},{367,277}}</string>
                <key>sourceSize</key>
                <string>{405,353}</string>
            </dict>
            <key>qp_leidianlong_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1139},{361,279}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{361,279}}</string>
                <key>sourceSize</key>
                <string>{405,353}</string>
            </dict>
            <key>qp_leidianlong_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,312},{353,283}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,48},{353,283}}</string>
                <key>sourceSize</key>
                <string>{405,353}</string>
            </dict>
            <key>qp_leidianlong_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,842},{353,295}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{353,295}}</string>
                <key>sourceSize</key>
                <string>{405,353}</string>
            </dict>
            <key>qp_leidianlong_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1729},{351,303}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{351,303}}</string>
                <key>sourceSize</key>
                <string>{405,353}</string>
            </dict>
            <key>qp_leidianlong_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1},{351,309}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{351,309}}</string>
                <key>sourceSize</key>
                <string>{405,353}</string>
            </dict>
            <key>qp_leidianlong_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1420},{353,307}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{353,307}}</string>
                <key>sourceSize</key>
                <string>{405,353}</string>
            </dict>
            <key>qp_leidianlong_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,597},{359,243}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{359,243}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,288},{403,285}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{403,285}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,862},{397,283}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{397,283}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1149},{397,285}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{397,285}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,575},{397,285}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{397,285}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,862},{397,285}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{397,285}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,288},{397,285}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{397,285}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,575},{401,285}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{401,285}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1436},{395,283}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{395,283}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1},{401,285}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{401,285}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1147},{399,281}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{399,281}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1721},{401,279}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{401,279}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
            <key>qp_leidianlong_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{405,285}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,285}}</string>
                <key>sourceSize</key>
                <string>{405,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_leidianlong.png</string>
            <key>size</key>
            <string>{1163,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60176dfa76a17d2ef34a7a04c6d5893f$</string>
            <key>textureFileName</key>
            <string>qp_leidianlong.png</string>
        </dict>
    </dict>
</plist>
