<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_longwang_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1366},{346,266}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,69},{346,266}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1634},{394,316}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,44},{394,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,324},{396,316}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,44},{396,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,648},{396,316}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,43},{396,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1290},{398,318}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{398,318}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,970},{398,318}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{398,318}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{402,320}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{402,320}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{402,320}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{402,320}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{402,322}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{402,322}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{404,322}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{404,322}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{404,324}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{404,324}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,324}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{404,324}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{402,324}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{402,324}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{402,322}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{402,322}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,326},{402,322}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,36},{402,322}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,326},{402,320}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,38},{402,320}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{400,320}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,39},{400,320}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,650},{398,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,41},{398,318}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{398,316}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,44},{398,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1610},{396,316}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,44},{396,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,970},{394,316}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,44},{394,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,1510},{392,316}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,44},{392,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1510},{392,316}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{392,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1192},{392,316}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{392,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,966},{392,316}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,44},{392,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,798},{392,316}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,44},{392,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,642},{394,316}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,44},{394,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
            <key>qp_longwang_move_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,402},{394,316}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,44},{394,316}}</string>
                <key>sourceSize</key>
                <string>{420,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_longwang.png</string>
            <key>size</key>
            <string>{1940,1952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:746569e19efd7f4754841ba1d42d5ea0$</string>
            <key>textureFileName</key>
            <string>qp_longwang.png</string>
        </dict>
    </dict>
</plist>
