<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_majiangzai_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,810},{164,196}}</string>
                <key>offset</key>
                <string>{9,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,203},{164,196}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{180,176}}</string>
                <key>offset</key>
                <string>{11,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,226},{180,176}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,648},{208,160}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,237},{208,160}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,188},{222,206}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,99},{222,206}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{184,226}}</string>
                <key>offset</key>
                <string>{9,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,51},{184,226}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,362},{168,234}}</string>
                <key>offset</key>
                <string>{11,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,38},{168,234}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{222,248}}</string>
                <key>offset</key>
                <string>{11,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,52},{222,248}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,212},{148,242}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,90},{148,242}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{176,220}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,128},{176,220}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,444},{216,202}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,161},{216,202}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,532},{214,194}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,175},{214,194}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,396},{218,194}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,180},{218,194}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,592},{210,180}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,184},{210,180}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,774},{196,172}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,191},{196,172}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{196,212}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,148},{196,212}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{220,248}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,114},{220,248}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,272}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,98},{198,272}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{208,268}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,103},{208,268}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,224},{218,236}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,136},{218,236}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,728},{200,194}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,168},{200,194}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,924},{194,182}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,178},{194,182}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1288},{190,180}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,179},{190,180}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,976},{192,180}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,179},{192,180}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{198,184}}</string>
                <key>offset</key>
                <string>{-28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,180},{198,184}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_catch_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{180,190}}</string>
                <key>offset</key>
                <string>{-14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,187},{180,190}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1326},{176,172}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,183},{176,172}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,966},{192,180}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,178},{192,180}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{192,178}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,176},{192,178}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1148},{190,176}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,173},{190,176}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,774},{190,174}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,171},{190,174}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1470},{188,176}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,169},{188,176}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1342},{188,178}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,169},{188,178}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1158},{190,182}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,169},{190,182}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1318},{188,186}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,171},{188,186}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1130},{190,186}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,174},{190,186}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{192,182}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,177},{192,182}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1108},{192,178}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,180},{192,178}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
            <key>qp_majiangzai_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,948},{192,180}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,179},{192,180}}</string>
                <key>sourceSize</key>
                <string>{450,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_majiangzai.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:209ab7de240d4d1c3ab52cbeaa1aed2a$</string>
            <key>textureFileName</key>
            <string>qp_majiangzai.png</string>
        </dict>
    </dict>
</plist>
