<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_magicbook_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,28},{153,88}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,149},{145,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{145,92}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,292},{123,98}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{123,98}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,312},{111,102}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{111,102}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{111,104}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,13},{111,104}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,241},{85,106}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,11},{85,106}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,124},{49,112}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,8},{49,112}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{97,120}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,5},{97,120}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{121,124}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{121,124}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,262},{117,122}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{117,122}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,251},{91,114}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{91,114}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{53,108}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,14},{53,108}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,335},{65,106}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,19},{65,106}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,328},{81,106}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,20},{81,106}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,150},{89,106}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,20},{89,106}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_catch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,57},{91,106}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,20},{91,106}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>qp_magicbook_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,149},{141,75}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,35},{141,75}}</string>
                <key>sourceSize</key>
                <string>{161,115}</string>
            </dict>
            <key>qp_magicbook_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,157},{153,86}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,29},{153,86}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,155},{151,86}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,28},{151,86}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{145,88}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{145,88}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,141},{135,96}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{135,96}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,133},{127,100}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{127,100}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,296},{119,100}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{119,100}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,115},{111,100}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,5},{111,100}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,228},{105,100}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{105,100}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,308},{107,102}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{107,102}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{113,102}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{113,102}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,128},{121,104}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{121,104}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{129,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{129,100}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{137,98}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{137,98}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{145,92}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{145,92}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{151,88}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{151,88}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
            <key>qp_magicbook_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{153,86}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,29},{153,86}}</string>
                <key>sourceSize</key>
                <string>{161,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_magicbook_low.png</string>
            <key>size</key>
            <string>{1006,417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d88cc5709551786b82731643534ec1a$</string>
            <key>textureFileName</key>
            <string>qp_magicbook_low.png</string>
        </dict>
    </dict>
</plist>
