<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_meirenyu_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{234,222}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{234,222}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>qp_meirenyu_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1},{235,247}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{235,247}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>qp_meirenyu_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,230},{237,239}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{237,239}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>qp_meirenyu_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,226},{239,233}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{239,233}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>qp_meirenyu_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1},{237,227}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{237,227}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>qp_meirenyu_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{235,223}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{235,223}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>qp_meirenyu_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1},{233,225}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{233,225}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>qp_meirenyu_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1},{235,231}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{235,231}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>qp_meirenyu_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,228},{237,239}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{237,239}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>qp_meirenyu_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,234},{241,245}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{241,245}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>qp_meirenyu_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,250},{241,251}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{241,251}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_meirenyu.png</string>
            <key>size</key>
            <string>{1421,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57f127a440a83bb589fe46835be0f48e$</string>
            <key>textureFileName</key>
            <string>qp_meirenyu.png</string>
        </dict>
    </dict>
</plist>
