<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_nianshou_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,23}</string>
                <key>spriteSize</key>
                <string>{314,224}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,1},{314,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,20}</string>
                <key>spriteSize</key>
                <string>{296,234}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{621,1},{296,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{270,244}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1209,1},{270,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{264,252}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,227},{264,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{276,258}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{283,481},{276,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,9}</string>
                <key>spriteSize</key>
                <string>{300,254}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1179,247},{300,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,20}</string>
                <key>spriteSize</key>
                <string>{302,246}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1779,1},{302,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,45}</string>
                <key>spriteSize</key>
                <string>{276,256}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1481,247},{276,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,102}</string>
                <key>spriteSize</key>
                <string>{288,294}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,741},{288,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,129}</string>
                <key>spriteSize</key>
                <string>{290,302}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{297,757},{290,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,148}</string>
                <key>spriteSize</key>
                <string>{286,294}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1151,503},{286,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,162}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1737,569},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,165}</string>
                <key>spriteSize</key>
                <string>{290,294}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{601,777},{290,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,162}</string>
                <key>spriteSize</key>
                <string>{286,288}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1447,505},{286,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,148}</string>
                <key>spriteSize</key>
                <string>{278,292}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{857,497},{278,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,113}</string>
                <key>spriteSize</key>
                <string>{264,294}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{561,491},{264,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,65}</string>
                <key>spriteSize</key>
                <string>{244,296}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1481,1},{244,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,47}</string>
                <key>spriteSize</key>
                <string>{246,330}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{267,233},{246,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,32}</string>
                <key>spriteSize</key>
                <string>{252,302}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{599,237},{252,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,21}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,481},{256,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{262,266}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1759,305},{262,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_attack_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,15}</string>
                <key>spriteSize</key>
                <string>{274,252}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{903,243},{274,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_attack_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,16}</string>
                <key>spriteSize</key>
                <string>{288,240}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{919,1},{288,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_attack_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,18}</string>
                <key>spriteSize</key>
                <string>{302,230}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{317,1},{302,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_nianshou_gongji.png</string>
            <key>size</key>
            <string>{2026,1068}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d1539bd954564692666c24e0c3038ec:688ee9e4f9a29098c39664ad75afaf4b:b9a4e82cc784d46152d207be4f6dbe83$</string>
            <key>textureFileName</key>
            <string>qp_nianshou_gongji.png</string>
        </dict>
    </dict>
</plist>
