<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_nianshou_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,399},{150,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,149},{150,127}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,635},{140,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,143},{140,139}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,763},{110,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,151},{110,123}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,115},{104,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,155},{104,115}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{104,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,155},{104,115}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,266},{110,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,146},{110,133}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,513},{122,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,137},{122,151}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,881},{134,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,144},{134,137}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,471},{152,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,137},{152,151}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{158,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,146},{158,133}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,137},{156,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,151},{156,123}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,526},{150,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,151},{150,123}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,866},{134,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,151},{134,123}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,616},{148,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,153},{148,119}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,781},{122,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,147},{122,131}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,135},{110,155}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,260},{110,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,135},{110,155}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{110,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,134},{110,157}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,363},{108,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,135},{108,155}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,649},{114,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,139},{114,147}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,399},{126,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,146},{126,133}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,881},{136,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,146},{136,133}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,881},{138,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,151},{138,123}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,123},{156,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,148},{156,129}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,243},{156,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,150},{156,125}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{160,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,144},{160,137}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,146},{162,133}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{158,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,151},{158,123}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,252},{156,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,157},{156,111}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,668},{142,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,156},{142,113}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_catch_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,886},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,146},{130,133}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,509},{152,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,153},{152,119}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,368},{154,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,151},{154,123}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,137},{156,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,148},{156,129}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{154,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,144},{154,137}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,370},{154,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,143},{154,139}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,0},{156,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,144},{156,137}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,110},{156,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,146},{156,133}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,266},{154,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,146},{154,133}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,491},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,150},{150,125}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,622},{144,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,150},{144,125}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,881},{136,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,150},{136,125}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,749},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,147},{134,131}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,747},{134,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,143},{134,139}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,532},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,144},{136,137}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,735},{140,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,147},{140,131}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
            <key>qp_nianshou_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,628},{144,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,152},{144,121}}</string>
                <key>sourceSize</key>
                <string>{500,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_nianshou_low.png</string>
            <key>size</key>
            <string>{898,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52929b8740e3c2802d7ffb119e871043$</string>
            <key>textureFileName</key>
            <string>qp_nianshou_low.png</string>
        </dict>
    </dict>
</plist>
