<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_nezha_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,715},{219,225}}</string>
                <key>offset</key>
                <string>{-28,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,204},{219,225}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,713},{233,239}}</string>
                <key>offset</key>
                <string>{-28,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,198},{233,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,478},{239,239}}</string>
                <key>offset</key>
                <string>{-27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,196},{239,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,239},{241,239}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,193},{241,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,239},{243,239}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,192},{243,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{247,239}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,190},{247,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{249,239}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{249,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{249,237}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,191},{249,237}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{247,239}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,192},{247,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,249},{247,239}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,194},{247,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,0},{245,239}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,194},{245,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,237},{243,239}}</string>
                <key>offset</key>
                <string>{-26,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,195},{243,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,476},{239,239}}</string>
                <key>offset</key>
                <string>{-27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,196},{239,239}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
            <key>qp_nezha_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,478},{235,241}}</string>
                <key>offset</key>
                <string>{-27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,196},{235,241}}</string>
                <key>sourceSize</key>
                <string>{813,609}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_nezha_low.png</string>
            <key>size</key>
            <string>{980,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:475c984de5bb41bb16a47c4df03dca40$</string>
            <key>textureFileName</key>
            <string>qp_nezha_low.png</string>
        </dict>
    </dict>
</plist>
