<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_najia_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,649},{253,250}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{253,250}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,339},{281,326}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{281,326}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,339},{279,324}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{279,324}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1},{279,324}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{279,324}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1},{279,324}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{279,324}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,329},{277,322}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{277,322}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,665},{275,316}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{275,316}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,653},{277,320}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{277,320}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,667},{275,314}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{275,314}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,667},{273,314}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{273,314}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,651},{273,316}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{273,316}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,327},{279,322}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{279,322}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{287,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,336}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,327},{277,320}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{277,320}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1},{279,326}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{279,326}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
            <key>qp_najia_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1},{279,324}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{279,324}}</string>
                <key>sourceSize</key>
                <string>{287,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_najia.png</string>
            <key>size</key>
            <string>{1638,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ead0a7906145d467d391e23581db497a$</string>
            <key>textureFileName</key>
            <string>qp_najia.png</string>
        </dict>
    </dict>
</plist>
