<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_niumowang_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{246,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{246,184}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,212},{268,206}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{268,206}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{268,210}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{268,210}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{270,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{270,212}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{270,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{270,212}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{270,216}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{268,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{268,218}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{268,218}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{268,218}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,418},{266,220}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{266,220}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,212},{264,218}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{264,218}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,268},{262,216}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{262,216}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,530},{260,212}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{260,212}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,430},{260,208}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{260,208}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,638},{262,208}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{262,208}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>qp_niumowang_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,638},{264,208}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{264,208}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_niumowang_low.png</string>
            <key>size</key>
            <string>{1020,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14f154f79dffae7366a66cc1184f9efb$</string>
            <key>textureFileName</key>
            <string>qp_niumowang_low.png</string>
        </dict>
    </dict>
</plist>
