<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_nianshou_catch_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,100}</string>
                <key>spriteSize</key>
                <string>{304,256}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{951,761},{304,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,104}</string>
                <key>spriteSize</key>
                <string>{284,280}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1605,593},{284,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,52}</string>
                <key>spriteSize</key>
                <string>{222,250}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{819,1737},{222,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,38}</string>
                <key>spriteSize</key>
                <string>{210,232}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1091,1501},{210,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,40}</string>
                <key>spriteSize</key>
                <string>{210,234}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{879,1501},{210,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,74}</string>
                <key>spriteSize</key>
                <string>{222,268}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1303,1481},{222,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,189}</string>
                <key>spriteSize</key>
                <string>{248,306}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1271,705},{248,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,64}</string>
                <key>spriteSize</key>
                <string>{272,276}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{601,1463},{272,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{306,304}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,1065},{306,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,12}</string>
                <key>spriteSize</key>
                <string>{320,270}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,271},{320,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,1}</string>
                <key>spriteSize</key>
                <string>{316,248}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1295,1},{316,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{304,250}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{627,963},{304,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{547,1737},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-4}</string>
                <key>spriteSize</key>
                <string>{300,240}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{309,1095},{300,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{248,264}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1043,1737},{248,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,32}</string>
                <key>spriteSize</key>
                <string>{222,312}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{957,537},{222,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,33}</string>
                <key>spriteSize</key>
                <string>{222,314}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{641,517},{222,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,33}</string>
                <key>spriteSize</key>
                <string>{224,316}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1295,251},{224,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,32}</string>
                <key>spriteSize</key>
                <string>{220,312}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{637,741},{220,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{230,298}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{933,1019},{230,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,11}</string>
                <key>spriteSize</key>
                <string>{254,268}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,1737},{254,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,5}</string>
                <key>spriteSize</key>
                <string>{274,268}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1309,1705},{274,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_catch_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,15}</string>
                <key>spriteSize</key>
                <string>{280,248}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{905,1251},{280,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,13}</string>
                <key>spriteSize</key>
                <string>{316,262}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{655,253},{316,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{316,252}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{323,279},{316,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{324,276}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{329,1},{324,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{326,268}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,1},{326,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{320,250}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{655,1},{320,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,23}</string>
                <key>spriteSize</key>
                <string>{314,226}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1289,477},{314,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,7}</string>
                <key>spriteSize</key>
                <string>{288,228}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,1371},{288,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_catch_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,18}</string>
                <key>spriteSize</key>
                <string>{262,270}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1579,1653},{262,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,20}</string>
                <key>spriteSize</key>
                <string>{306,240}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1579,875},{306,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,19}</string>
                <key>spriteSize</key>
                <string>{312,248}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,815},{312,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,14}</string>
                <key>spriteSize</key>
                <string>{314,262}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{973,273},{314,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{310,276}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{315,817},{310,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{312,282}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{323,533},{312,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{314,276}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1613,277},{314,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,17}</string>
                <key>spriteSize</key>
                <string>{316,270}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{977,1},{316,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,16}</string>
                <key>spriteSize</key>
                <string>{312,270}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1,543},{312,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{304,252}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1257,955},{304,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,23}</string>
                <key>spriteSize</key>
                <string>{290,252}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{309,1337},{290,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{274,252}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{271,1737},{274,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{272,266}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1579,1385},{272,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,13}</string>
                <key>spriteSize</key>
                <string>{270,280}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1233,1209},{270,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{274,278}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1613,1},{274,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qp_nianshou_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,8}</string>
                <key>spriteSize</key>
                <string>{282,266}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{1563,1117},{282,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qp_nianshou_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,15}</string>
                <key>spriteSize</key>
                <string>{292,246}</string>
                <key>spriteSourceSize</key>
                <string>{1000,850}</string>
                <key>textureRect</key>
                <string>{{611,1215},{292,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qp_nianshou.png</string>
            <key>size</key>
            <string>{1892,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ba2c9a3407b1aef883a1c06e6fea37b:f90c5adaa3068fbe55a2af692a48f792:0fd71cb6cfd18426ef11f14b3cf45e04$</string>
            <key>textureFileName</key>
            <string>qp_nianshou.png</string>
        </dict>
    </dict>
</plist>
