<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_palmleaffan_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,924},{334,172}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,240},{334,172}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1216},{296,254}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,200},{296,254}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,852},{226,294}}</string>
                <key>offset</key>
                <string>{-17,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,140},{226,294}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,1078},{272,228}}</string>
                <key>offset</key>
                <string>{3,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,124},{272,228}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{262,338}}</string>
                <key>offset</key>
                <string>{-60,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,104},{262,338}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,816},{190,400}}</string>
                <key>offset</key>
                <string>{22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,104},{190,400}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,170},{218,342}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,111},{218,342}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,0},{170,354}}</string>
                <key>offset</key>
                <string>{-19,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,117},{170,354}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,816},{116,388}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,120},{116,388}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{168,412}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,119},{168,412}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{210,412}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,120},{210,412}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,404}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,122},{220,404}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_catch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{220,396}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,124},{220,396}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,404},{346,182}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,232},{346,182}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,742},{336,180}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,233},{336,180}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,922},{336,178}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,235},{336,178}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,736},{336,174}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,238},{336,174}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,590},{336,166}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,242},{336,166}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,396},{340,158}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,237},{340,158}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,0},{352,180}}</string>
                <key>offset</key>
                <string>{-23,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,219},{352,180}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,180},{328,232}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,200},{328,232}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,0},{324,210}}</string>
                <key>offset</key>
                <string>{-18,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,192},{324,210}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,168},{358,188}}</string>
                <key>offset</key>
                <string>{-31,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,204},{358,188}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,750},{336,136}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,232},{336,136}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,852},{324,130}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,249},{324,130}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,922},{328,184}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,251},{328,184}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,728},{328,196}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,251},{328,196}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1086},{326,192}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,253},{326,192}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1096},{326,184}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,257},{326,184}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1280},{326,180}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,257},{326,180}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1286},{326,174}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,256},{326,174}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,756},{326,166}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,254},{326,166}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1306},{326,158}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,252},{326,158}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1106},{324,166}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,241},{324,166}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1100},{324,186}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,220},{324,186}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,356},{320,208}}</string>
                <key>offset</key>
                <string>{-14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,201},{320,208}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,324},{314,210}}</string>
                <key>offset</key>
                <string>{-18,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,194},{314,210}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1272},{314,194}}</string>
                <key>offset</key>
                <string>{-17,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,208},{314,194}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,564},{318,164}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,237},{318,164}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,338},{326,148}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,254},{326,148}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,698},{332,154}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,251},{332,154}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,534},{334,164}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,244},{334,164}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,568},{336,174}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,239},{336,174}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,412},{336,178}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,238},{336,178}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>qp_palmleaffan_move_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,388},{336,180}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,237},{336,180}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_palmleaffan.png</string>
            <key>size</key>
            <string>{2045,1471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cf727d71dda1becf0865086cff5d2ef$</string>
            <key>textureFileName</key>
            <string>qp_palmleaffan.png</string>
        </dict>
    </dict>
</plist>
