<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_pigsy_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,842},{211,133}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,179},{211,133}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{213,139}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,167},{213,139}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{217,143}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,159},{217,143}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,0},{215,145}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,158},{215,145}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,0},{211,143}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,159},{211,143}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,822},{195,121}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,184},{195,121}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,633},{213,137}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,176},{213,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,413},{213,137}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,177},{213,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,282},{213,137}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,175},{213,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,550},{211,135}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,175},{211,135}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{213,137}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,172},{213,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,419},{211,137}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,171},{211,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,633},{211,137}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,170},{211,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,633},{209,137}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,168},{209,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,844},{209,139}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,166},{209,139}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,685},{209,137}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,167},{209,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,628},{209,139}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,167},{209,139}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,419},{209,139}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,167},{209,139}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,846},{211,139}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,168},{211,139}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,419},{211,139}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,169},{211,139}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,422},{211,139}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,170},{211,139}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,143},{213,139}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,171},{213,139}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,211},{211,139}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,173},{211,139}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,276},{213,137}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,175},{213,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,145},{213,137}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,176},{213,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
            <key>qp_pigsy_move_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,139},{213,137}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,176},{213,137}}</string>
                <key>sourceSize</key>
                <string>{625,469}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_pigsy_low.png</string>
            <key>size</key>
            <string>{807,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e3eba3a0a406a33a7dd0da7dec6e6f0$</string>
            <key>textureFileName</key>
            <string>qp_pigsy_low.png</string>
        </dict>
    </dict>
</plist>
