<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_palmleaffan_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,476},{139,71}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,101},{139,71}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,813},{123,105}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,84},{123,105}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,579},{95,121}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{95,121}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,700},{113,95}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,52},{113,95}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,247},{109,141}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,43},{109,141}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{79,167}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,43},{79,167}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,235},{91,143}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,46},{91,143}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{69,147}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,49},{69,147}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{49,163}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,49},{49,163}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{69,171}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,50},{69,171}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{87,173}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,49},{87,173}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,69},{91,169}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,50},{91,169}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_catch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,79},{91,165}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,51},{91,165}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,170},{145,77}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,96},{145,77}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,326},{141,75}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,97},{141,75}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{139,75}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,97},{139,75}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,170},{141,71}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,100},{141,71}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,504},{139,69}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,101},{139,69}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{143,65}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,99},{143,65}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,160},{147,75}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,91},{147,75}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{137,97}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,83},{137,97}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,689},{135,87}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,80},{135,87}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{149,77}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,86},{149,77}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,347},{141,57}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,96},{141,57}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,864},{135,53}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,104},{135,53}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,612},{137,77}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,104},{137,77}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,311},{137,81}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,105},{137,81}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,573},{137,79}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,106},{137,79}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,719},{135,77}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,107},{135,77}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,776},{135,75}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,107},{135,75}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,791},{135,73}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,106},{135,73}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,645},{137,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,106},{137,69}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,652},{137,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,104},{137,67}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,796},{135,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,101},{135,69}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{135,77}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,92},{135,77}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,865},{133,87}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,83},{133,87}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,448},{131,89}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,80},{131,89}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,912},{131,81}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,87},{131,81}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,917},{133,67}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,100},{133,67}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,851},{135,61}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,106},{135,61}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,547},{139,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,104},{139,65}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,479},{139,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,101},{139,69}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,431},{139,73}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,99},{139,73}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,401},{139,75}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,98},{139,75}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qp_palmleaffan_move_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,356},{139,75}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,99},{139,75}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_palmleaffan_low.png</string>
            <key>size</key>
            <string>{512,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ba02b8acab062a5b2c5a52207ddaab$</string>
            <key>textureFileName</key>
            <string>qp_palmleaffan_low.png</string>
        </dict>
    </dict>
</plist>
