<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_qt_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,413},{152,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{152,139}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,413},{152,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{152,139}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,411},{150,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{150,139}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,685},{150,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,685},{150,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,763},{150,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,685},{150,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,550},{150,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,548},{150,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_attack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,548},{150,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,411},{150,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{150,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,411},{156,137}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,137},{156,139}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{156,139}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,274},{156,137}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,274},{156,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,276},{156,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{156,137}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,274},{156,137}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,137},{156,137}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,137},{156,137}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,139},{156,137}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,137},{156,137}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{156,137}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,137}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,0},{156,137}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{156,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{156,137}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_ch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{156,139}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,139}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,552},{138,117}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{138,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,138},{138,119}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{138,119}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{138,119}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{138,119}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,276},{136,119}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{136,119}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,822},{138,117}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{138,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,822},{138,117}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{138,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,822},{138,117}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{138,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,687},{134,117}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{134,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,687},{136,117}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{136,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,646},{136,117}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{136,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,822},{138,117}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{138,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,529},{136,117}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{136,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,822},{138,117}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{138,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{140,117}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{140,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{138,117}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{138,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>qp_qt_fh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,412},{136,117}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{136,117}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_qianting_low.png</string>
            <key>size</key>
            <string>{904,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4414c8949f491637882b4ab00c4fa97$</string>
            <key>textureFileName</key>
            <string>qp_qianting_low.png</string>
        </dict>
    </dict>
</plist>
