<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_qt_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1144},{313,283}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{313,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1140},{313,283}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{313,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{313,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{313,285}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1714},{311,283}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{311,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,572},{313,285}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{313,285}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1427},{311,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{311,285}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1136},{313,283}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{313,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{311,283}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{311,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{313,283}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{313,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_attack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,859},{313,283}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{313,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,855},{313,283}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{313,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{325,283}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,283}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{323,281}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,281}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{325,281}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,281}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,570},{323,283}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,287},{323,283}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{323,283}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,287},{323,283}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,285},{323,283}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,855},{323,281}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,281}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,285},{323,283}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,853},{323,281}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,281}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,572},{323,281}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,281}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,570},{323,281}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,281}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{323,283}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,283}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_ch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{325,281}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,281}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,863},{285,233}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{285,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,572},{289,235}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{289,235}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1150},{275,233}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{275,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1421},{279,233}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{279,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1702},{279,233}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{279,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1421},{279,233}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{279,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1702},{277,233}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{277,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1712},{281,231}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,23},{281,231}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,287},{283,231}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{283,231}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1694},{271,231}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{271,231}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1417},{275,233}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{275,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1138},{277,233}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{277,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1706},{279,233}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{279,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1429},{281,233}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{281,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1425},{279,233}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{279,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
            <key>qp_qt_fh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1429},{283,233}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{283,233}}</string>
                <key>sourceSize</key>
                <string>{327,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_qianting.png</string>
            <key>size</key>
            <string>{1864,2027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f746ff5fc97986dc52c6db7aaa2367d:1/1$</string>
            <key>textureFileName</key>
            <string>qp_qianting.png</string>
        </dict>
    </dict>
</plist>
