<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_santoulong_catch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,753},{236,304}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{236,304}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_catch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1065},{216,298}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{216,298}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_catch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,1615},{234,302}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{234,302}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_catch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,1059},{232,298}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{232,298}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_catch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1365},{234,290}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{234,290}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_catch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,1601},{234,298}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{234,298}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_catch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,441},{236,310}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{236,310}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_catch_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1603},{238,306}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{238,306}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_catch_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,755},{236,308}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{236,308}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_catch_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,443},{236,310}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{236,310}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1615},{234,310}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{234,310}}</string>
                <key>sourceSize</key>
                <string>{260,320}</string>
            </dict>
            <key>qp_santoulong_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1295},{318,398}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{318,398}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,453},{370,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,450}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1},{368,450}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{368,450}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1357},{358,450}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{358,450}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,453},{358,450}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{358,450}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,905},{366,450}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{366,450}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1},{370,444}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{370,444}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,1},{370,438}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{370,438}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,453},{370,424}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{370,424}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,879},{370,414}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,414}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,1231},{370,384}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,384}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,845},{370,384}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{370,384}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1337},{370,384}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,384}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,447},{370,396}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,396}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,905},{370,430}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,430}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1},{370,440}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,440}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
            <key>qp_santoulong_move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{370,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,450}}</string>
                <key>sourceSize</key>
                <string>{370,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_santoulong.png</string>
            <key>size</key>
            <string>{1981,1850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15b34b3328ab81ada7f4cf8aa6bb4fc6$</string>
            <key>textureFileName</key>
            <string>qp_santoulong.png</string>
        </dict>
    </dict>
</plist>
