<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_sunwukong_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,767},{145,119}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{145,119}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,475},{167,157}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{167,157}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,157},{167,157}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{167,157}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{167,159}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{167,159}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,314},{165,157}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{165,157}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{163,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{163,157}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,471},{161,155}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{161,155}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,626},{163,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{163,153}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,463},{163,151}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{163,151}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,310},{163,153}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{163,153}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,157},{163,153}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{163,153}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,632},{167,155}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{167,155}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{167,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{167,157}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,614},{161,153}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{161,153}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,0},{167,157}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{167,157}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>qp_sunwukong_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{167,159}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{167,159}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_sunwukong_low.png</string>
            <key>size</key>
            <string>{497,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea31a2d9a8412a42e763106e6ce0508a$</string>
            <key>textureFileName</key>
            <string>qp_sunwukong_low.png</string>
        </dict>
    </dict>
</plist>
