<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_sunwukong_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,776},{239,199}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,64},{239,199}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,531},{279,263}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{279,263}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,266},{279,263}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{279,263}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,268},{279,265}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{279,265}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1},{277,263}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{277,263}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,266},{275,263}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{275,263}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,531},{271,261}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{271,261}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,260},{273,257}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{273,257}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,258},{275,253}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{275,253}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1},{275,257}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{275,257}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1},{275,255}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{275,255}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,531},{279,259}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{279,259}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,535},{281,263}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{281,263}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,519},{271,255}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{271,255}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1},{279,263}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{279,263}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>qp_sunwukong_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{279,265}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{279,265}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_sunwukong.png</string>
            <key>size</key>
            <string>{1395,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b03fa74048e1e3d1930e5acb670c248a$</string>
            <key>textureFileName</key>
            <string>qp_sunwukong.png</string>
        </dict>
    </dict>
</plist>
