<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bx_dead_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,535},{238,254}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{238,254}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,267},{236,266}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,15},{236,266}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,541},{226,260}}</string>
                <key>offset</key>
                <string>{35,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,15},{226,260}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,535},{230,250}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,17},{230,250}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,791},{238,220}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{238,220}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,815},{240,198}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,42},{240,198}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,787},{238,218}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,44},{238,218}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,531},{232,242}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{232,242}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,775},{230,240}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,50},{230,240}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,529},{192,216}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,70},{192,216}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,813},{190,202}}</string>
                <key>offset</key>
                <string>{7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,82},{190,202}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,803},{190,200}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,85},{190,200}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,821},{190,194}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,92},{190,194}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,747},{190,190}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,97},{190,190}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_dead_00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,821},{190,190}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,98},{190,190}}</string>
                <key>sourceSize</key>
                <string>{298,300}</string>
            </dict>
            <key>qp_bx_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,549},{253,270}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{253,270}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,275},{253,272}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{253,272}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{253,272}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{253,272}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,543},{251,270}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{251,270}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,271},{247,268}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{247,268}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,543},{247,268}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{247,268}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,267},{247,266}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{247,266}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,265},{249,264}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{249,264}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1},{251,264}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{251,264}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,265},{249,262}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{249,262}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1},{251,262}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{251,262}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1},{253,262}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{253,262}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1},{255,264}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{255,264}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1},{257,268}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,268}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_bx_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,271},{255,270}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,270}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
            <key>qp_treachests_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1},{258,255}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{258,255}}</string>
                <key>sourceSize</key>
                <string>{340,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_treachests.png</string>
            <key>size</key>
            <string>{1916,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f80c122deabbe3a24ca3fa184173fded$</string>
            <key>textureFileName</key>
            <string>qp_treachests.png</string>
        </dict>
    </dict>
</plist>
