<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_bx_dead_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,253},{119,128}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{119,128}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,0},{117,134}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{117,134}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,253},{113,132}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{113,132}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,366},{115,126}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{115,126}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,234},{119,110}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{119,110}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,383},{119,100}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{119,100}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,115},{119,110}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{119,110}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,117},{117,122}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{117,122}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,0},{115,120}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,25},{115,120}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,383},{97,108}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,35},{97,108}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,389},{95,102}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,40},{95,102}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,389},{95,100}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,42},{95,100}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,381},{95,98}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,45},{95,98}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,353},{95,96}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,48},{95,96}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_dead_00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,0},{95,96}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,48},{95,96}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>qp_bx_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{127,133}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{127,133}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,266},{127,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{127,135}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{127,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,133},{125,135}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,125},{125,133}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{125,133}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,258},{125,133}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{125,133}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,0},{125,133}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{125,133}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,125},{125,131}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{125,131}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,258},{125,131}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{125,131}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{125,131}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{125,131}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,131},{127,131}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{127,131}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,258},{127,131}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{127,131}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{127,131}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{127,131}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{129,133}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,133}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_bx_move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{129,133}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,133}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>qp_treachests_frozen.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,125},{126,128}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{126,128}}</string>
                <key>sourceSize</key>
                <string>{170,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_treachests_low.png</string>
            <key>size</key>
            <string>{1006,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcc319f8df6591dcb8baf79b214d4027$</string>
            <key>textureFileName</key>
            <string>qp_treachests_low.png</string>
        </dict>
    </dict>
</plist>
