<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caijin_yx_effect_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1130},{60,62}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,344},{60,62}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caijin_yx_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,0},{168,172}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,292},{168,172}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caijin_yx_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,928},{394,340}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,201},{394,340}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caijin_yx_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,628},{402,300}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,241},{402,300}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caijin_yx_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,628},{502,408}}</string>
                <key>offset</key>
                <string>{9,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,169},{502,408}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caijin_yx_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,718},{652,548}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,118},{652,548}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caijin_yx_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{676,576}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,104},{676,576}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caijin_yx_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{718,602}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,91},{718,602}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caijin_yx_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,0},{628,602}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,91},{628,602}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caijin_yx_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,676},{542,570}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,109},{542,570}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caijin_effect.png</string>
            <key>size</key>
            <string>{2004,1268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b73334432eb7fefe53c17ce3a9284afb$</string>
            <key>textureFileName</key>
            <string>caijin_effect.png</string>
        </dict>
    </dict>
</plist>
