<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jcr_fz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,636},{328,281}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{328,281}}</string>
                <key>sourceSize</key>
                <string>{442,317}</string>
            </dict>
            <key>qp_jcr_fz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{358,265}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,5},{358,265}}</string>
                <key>sourceSize</key>
                <string>{442,317}</string>
            </dict>
            <key>qp_jcr_fz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,362},{326,269}}</string>
                <key>offset</key>
                <string>{18,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{326,269}}</string>
                <key>sourceSize</key>
                <string>{442,317}</string>
            </dict>
            <key>qp_jcr_fz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,317},{426,317}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{426,317}}</string>
                <key>sourceSize</key>
                <string>{442,317}</string>
            </dict>
            <key>qp_jcr_fz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{440,317}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{440,317}}</string>
                <key>sourceSize</key>
                <string>{442,317}</string>
            </dict>
            <key>qp_jcr_fz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,317}}</string>
                <key>sourceSize</key>
                <string>{442,317}</string>
            </dict>
            <key>qp_jcr_fz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{430,313}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{430,313}}</string>
                <key>sourceSize</key>
                <string>{442,317}</string>
            </dict>
            <key>qp_jcr_fz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,690},{258,177}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,94},{258,177}}</string>
                <key>sourceSize</key>
                <string>{442,317}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>summonToad.png</string>
            <key>size</key>
            <string>{1020,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84e6f36f6b76e99d60717f49a5723b21:1/1$</string>
            <key>textureFileName</key>
            <string>summonToad.png</string>
        </dict>
    </dict>
</plist>
