<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_bravePioneer.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{104,32}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>bullet_bravePioneer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{104,32}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>bullet_bravePioneer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,252},{104,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{104,38}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>bullet_bravePioneer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>bullet_cannon_armour_leiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,168},{120,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,29}}</string>
                <key>sourceSize</key>
                <string>{120,29}</string>
            </dict>
            <key>bullet_cannon_armour_leiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,176},{120,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,59}}</string>
                <key>sourceSize</key>
                <string>{120,59}</string>
            </dict>
            <key>bullet_cannon_armour_leiting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{150,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,69}}</string>
                <key>sourceSize</key>
                <string>{150,69}</string>
            </dict>
            <key>bullet_cannon_armour_leiting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{107,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{107,20}}</string>
                <key>sourceSize</key>
                <string>{113,20}</string>
            </dict>
            <key>bullet_cannon_lyem_pao_dragon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,358},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>bullet_cannon_lyem_pao_dragon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,528},{98,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,57}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>bullet_cannon_lyem_pao_dragon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,413},{113,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>bullet_cannon_lyem_xukong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,152},{94,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{94,39}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>bullet_cannon_lyem_xukong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,466},{96,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{96,49}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>bullet_cannon_lyem_xukong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,255},{107,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{107,66}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>bullet_coldBlade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,449},{150,62}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{150,62}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>bullet_coldBlade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{152,56}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{152,56}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>bullet_coldBlade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,286},{161,71}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{161,71}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>bullet_flameKnight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,430},{143,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,68}}</string>
                <key>sourceSize</key>
                <string>{147,68}</string>
            </dict>
            <key>bullet_flameKnight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,489},{137,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{137,60}}</string>
                <key>sourceSize</key>
                <string>{147,68}</string>
            </dict>
            <key>bullet_flameKnight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,469},{152,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,71}}</string>
                <key>sourceSize</key>
                <string>{156,71}</string>
            </dict>
            <key>bullet_flashChain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,64}}</string>
                <key>sourceSize</key>
                <string>{304,64}</string>
            </dict>
            <key>bullet_fox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,576},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>bullet_fox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,161},{92,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{92,45}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>bullet_fox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,255},{105,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{105,58}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>bullet_iceGuard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,414},{132,70}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{132,70}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>bullet_iceGuard_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,479},{148,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{148,80}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>bullet_iceGuard_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,270},{142,73}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{142,73}}</string>
                <key>sourceSize</key>
                <string>{156,85}</string>
            </dict>
            <key>bullet_lszc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,364},{102,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,47}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>bullet_lszc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,114},{92,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{92,45}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>bullet_lszc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,413},{103,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{103,56}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>bullet_lyem_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,188},{118,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,56}</string>
            </dict>
            <key>bullet_lyem_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,139},{114,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{114,57}}</string>
                <key>sourceSize</key>
                <string>{120,63}</string>
            </dict>
            <key>bullet_lyem_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,180},{123,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{123,71}}</string>
                <key>sourceSize</key>
                <string>{131,85}</string>
            </dict>
            <key>bullet_phenix_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,409},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>bullet_phenix_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,118},{76,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,61}}</string>
                <key>sourceSize</key>
                <string>{76,61}</string>
            </dict>
            <key>bullet_phenix_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,548},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>bullet_qd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,149},{114,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{114,69}}</string>
                <key>sourceSize</key>
                <string>{120,71}</string>
            </dict>
            <key>bullet_qd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,166},{114,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{114,90}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>bullet_qd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,154},{114,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{114,83}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>bullet_qp_ayls_jx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,302},{165,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,28},{165,57}}</string>
                <key>sourceSize</key>
                <string>{181,113}</string>
            </dict>
            <key>bullet_qp_ayls_jx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,298},{165,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,29},{165,55}}</string>
                <key>sourceSize</key>
                <string>{181,113}</string>
            </dict>
            <key>bullet_qp_ayls_jx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,308},{179,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{179,71}}</string>
                <key>sourceSize</key>
                <string>{181,113}</string>
            </dict>
            <key>bullet_qp_slzj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,249},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{98,37}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>bullet_qp_slzj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,528},{98,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,55}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>bullet_qp_slzj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,413},{111,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{111,74}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>bullet_shadowHunter3_goldenblack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
            <key>bullet_shadowHunter3_goldenblack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,486},{135,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,65}}</string>
                <key>sourceSize</key>
                <string>{135,65}</string>
            </dict>
            <key>bullet_shadowHunter3_goldenblack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,430},{144,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,65}}</string>
                <key>sourceSize</key>
                <string>{144,65}</string>
            </dict>
            <key>bullet_shandowHunter1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{162,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,37},{162,54}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>bullet_shandowHunter1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{164,54}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,37},{164,54}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>bullet_shandowHunter1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,306},{178,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{178,69}}</string>
                <key>sourceSize</key>
                <string>{186,79}</string>
            </dict>
            <key>bullet_shandowHunter3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{176,54}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,37},{176,54}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>bullet_shandowHunter3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{172,52}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,38},{172,52}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>bullet_shandowHunter3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{189,67}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{189,67}}</string>
                <key>sourceSize</key>
                <string>{207,75}</string>
            </dict>
            <key>bullet_shandowHunter3_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,518},{96,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>bullet_shandowHunter3_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,193},{88,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{88,57}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>bullet_shandowHunter3_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{97,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{97,76}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>bullet_shengguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{130,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{130,32}}</string>
                <key>sourceSize</key>
                <string>{138,50}</string>
            </dict>
            <key>bullet_shengguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,265},{130,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{130,48}}</string>
                <key>sourceSize</key>
                <string>{138,50}</string>
            </dict>
            <key>bullet_shengguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{145,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,59}}</string>
                <key>sourceSize</key>
                <string>{145,63}</string>
            </dict>
            <key>bullet_slzk_hh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,499},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{126,30}}</string>
                <key>sourceSize</key>
                <string>{138,50}</string>
            </dict>
            <key>bullet_slzk_hh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{126,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{126,42}}</string>
                <key>sourceSize</key>
                <string>{138,50}</string>
            </dict>
            <key>bullet_slzk_hh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,489},{137,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{137,57}}</string>
                <key>sourceSize</key>
                <string>{145,65}</string>
            </dict>
            <key>bullet_slzk_hh_vio_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,601},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{118,26}</string>
            </dict>
            <key>bullet_spaceGhost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,305},{172,74}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{172,74}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>bullet_spaceGhost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{174,74}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{174,74}}</string>
                <key>sourceSize</key>
                <string>{206,128}</string>
            </dict>
            <key>bullet_spaceGhost_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{184,82}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{184,82}}</string>
                <key>sourceSize</key>
                <string>{214,86}</string>
            </dict>
            <key>bullet_specter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,249},{98,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,47}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>bullet_specter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,196},{100,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,57}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>bullet_specter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,42},{109,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{109,70}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>bullet_xingchen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,168},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{116,33}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>bullet_xingchen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,178},{122,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{122,64}}</string>
                <key>sourceSize</key>
                <string>{134,64}</string>
            </dict>
            <key>bullet_xingchen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,282},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{158,80}</string>
            </dict>
            <key>bullet_xingchen_vio_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,601},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{118,26}</string>
            </dict>
            <key>bullet_ylpu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,208},{88,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{88,39}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>bullet_ylpu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,101},{86,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{86,49}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>bullet_ylpu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,526},{101,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{101,64}}</string>
                <key>sourceSize</key>
                <string>{117,76}</string>
            </dict>
            <key>bullet_ys_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,255},{114,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{114,31}}</string>
                <key>sourceSize</key>
                <string>{120,37}</string>
            </dict>
            <key>bullet_ys_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,188},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,33}}</string>
                <key>sourceSize</key>
                <string>{120,35}</string>
            </dict>
            <key>bullet_ys_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,255},{114,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{114,37}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
            <key>bullet_ys_vio_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,413},{112,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{112,21}}</string>
                <key>sourceSize</key>
                <string>{120,25}</string>
            </dict>
            <key>qp_lszc_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,38}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>qp_slzj_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,371},{110,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bulletAtlas.png</string>
            <key>size</key>
            <string>{1018,629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f4af440ac0cfc930397940390904f6:1556bf3cb4fcc3a2caed1ddddf962a1c:80a84a7ae9e1679134d317cc8351eef6$</string>
            <key>textureFileName</key>
            <string>bulletAtlas.png</string>
        </dict>
    </dict>
</plist>
