<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nj_bz_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,905},{114,118}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,135},{114,118}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1504},{194,192}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,92},{194,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1720},{270,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,54},{270,254}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1323},{342,328}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{342,328}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1359},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,661},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,300},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1359},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,691},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,998},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1339},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,330},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_bz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1666},{332,326}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{332,326}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>nj_sd_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1},{545,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,88}}</string>
                <key>sourceSize</key>
                <string>{545,94}</string>
            </dict>
            <key>nj_sd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1720},{545,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,94}}</string>
                <key>sourceSize</key>
                <string>{545,94}</string>
            </dict>
            <key>nj_sd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1022},{531,92}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{531,92}}</string>
                <key>sourceSize</key>
                <string>{545,94}</string>
            </dict>
            <key>nj_sd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1115},{545,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,90}}</string>
                <key>sourceSize</key>
                <string>{545,94}</string>
            </dict>
            <key>nj_sd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1206},{529,86}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{529,86}}</string>
                <key>sourceSize</key>
                <string>{545,94}</string>
            </dict>
            <key>nj_sd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1075},{497,88}}</string>
                <key>offset</key>
                <string>{24,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{497,88}}</string>
                <key>sourceSize</key>
                <string>{545,94}</string>
            </dict>
            <key>nj_sd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1906},{545,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,88}}</string>
                <key>sourceSize</key>
                <string>{545,94}</string>
            </dict>
            <key>nj_sd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,547},{527,88}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{527,88}}</string>
                <key>sourceSize</key>
                <string>{545,94}</string>
            </dict>
            <key>nj_sd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1815},{545,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,90}}</string>
                <key>sourceSize</key>
                <string>{545,94}</string>
            </dict>
            <key>nj_sd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,330},{574,135}}</string>
                <key>offset</key>
                <string>{29,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,10},{574,135}}</string>
                <key>sourceSize</key>
                <string>{632,145}</string>
            </dict>
            <key>nj_xl_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,1293},{292,210}}</string>
                <key>offset</key>
                <string>{16,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,116},{292,210}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1700},{328,212}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,116},{328,212}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1052},{412,270}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,70},{412,270}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1},{418,298}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{418,298}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,669},{418,328}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{418,328}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1010},{418,328}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{418,328}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1010},{418,328}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{418,328}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,336},{418,332}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{418,332}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,677},{418,332}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{418,332}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,340},{418,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{418,336}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1},{418,334}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{418,334}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1},{418,328}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{418,328}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
            <key>nj_xl_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{418,338}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{418,338}}</string>
                <key>sourceSize</key>
                <string>{418,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_najia_dz.png</string>
            <key>size</key>
            <string>{1829,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7ddbbc632adea44fc603192d93e87b4:1/1$</string>
            <key>textureFileName</key>
            <string>qp_najia_dz.png</string>
        </dict>
    </dict>
</plist>
