<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_najia_special_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,311},{295,326}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,93},{295,326}}</string>
                <key>sourceSize</key>
                <string>{491,554}</string>
            </dict>
            <key>qp_najia_special_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1},{351,316}}</string>
                <key>offset</key>
                <string>{47,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,104},{351,316}}</string>
                <key>sourceSize</key>
                <string>{491,554}</string>
            </dict>
            <key>qp_najia_special_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{355,308}}</string>
                <key>offset</key>
                <string>{66,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,112},{355,308}}</string>
                <key>sourceSize</key>
                <string>{491,554}</string>
            </dict>
            <key>qp_najia_special_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,683},{291,288}}</string>
                <key>offset</key>
                <string>{36,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,122},{291,288}}</string>
                <key>sourceSize</key>
                <string>{491,554}</string>
            </dict>
            <key>qp_najia_special_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,319},{273,306}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,104},{273,306}}</string>
                <key>sourceSize</key>
                <string>{491,554}</string>
            </dict>
            <key>qp_najia_special_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,319},{253,362}}</string>
                <key>offset</key>
                <string>{16,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,47},{253,362}}</string>
                <key>sourceSize</key>
                <string>{491,554}</string>
            </dict>
            <key>qp_najia_special_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,639},{255,382}}</string>
                <key>offset</key>
                <string>{14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,33},{255,382}}</string>
                <key>sourceSize</key>
                <string>{491,554}</string>
            </dict>
            <key>qp_najia_special_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,639},{251,382}}</string>
                <key>offset</key>
                <string>{13,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,34},{251,382}}</string>
                <key>sourceSize</key>
                <string>{491,554}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_najia_special.png</string>
            <key>size</key>
            <string>{827,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b5e1d443a38a3a7e9cbcc1746ab3386$</string>
            <key>textureFileName</key>
            <string>qp_najia_special.png</string>
        </dict>
    </dict>
</plist>
