<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dajineng_bdchixu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{316,218}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{316,218}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdchixu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{312,222}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{312,222}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdchixu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{312,236}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{312,236}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdchixu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{314,226}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{314,226}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdchixu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{314,224}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{314,224}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdchixu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{316,216}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{316,216}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdchixu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{314,218}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{314,218}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdchixu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,218}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{316,218}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dajineng_bdchixu.png</string>
            <key>size</key>
            <string>{320,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:721e6a5c383e585ce405d7dc6a8bf419:1/1$</string>
            <key>textureFileName</key>
            <string>qp_dajineng_bdchixu.png</string>
        </dict>
    </dict>
</plist>
