<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dajineng_bdfashe_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{330,218}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,42},{330,218}}</string>
                <key>sourceSize</key>
                <string>{340,260}</string>
            </dict>
            <key>qp_dajineng_bdfashe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{306,234}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{306,234}}</string>
                <key>sourceSize</key>
                <string>{340,260}</string>
            </dict>
            <key>qp_dajineng_bdfashe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{300,260}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{300,260}}</string>
                <key>sourceSize</key>
                <string>{340,260}</string>
            </dict>
            <key>qp_dajineng_bdfashe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{290,260}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{290,260}}</string>
                <key>sourceSize</key>
                <string>{340,260}</string>
            </dict>
            <key>qp_dajineng_bdfashe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{294,260}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{294,260}}</string>
                <key>sourceSize</key>
                <string>{340,260}</string>
            </dict>
            <key>qp_dajineng_bdfashe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{288,134}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,126},{288,134}}</string>
                <key>sourceSize</key>
                <string>{340,260}</string>
            </dict>
            <key>qp_dajineng_bdfashe_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,134}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,126},{288,134}}</string>
                <key>sourceSize</key>
                <string>{340,260}</string>
            </dict>
            <key>qp_dajineng_bdfashe_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{288,130}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,130},{288,130}}</string>
                <key>sourceSize</key>
                <string>{340,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dajineng_bdfashe.png</string>
            <key>size</key>
            <string>{292,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f953cb90014ee5f3b7411f8df96b36e0:1/1$</string>
            <key>textureFileName</key>
            <string>qp_dajineng_bdfashe.png</string>
        </dict>
    </dict>
</plist>
