<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dajineng_bdbaokai_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{278,238}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,51},{278,238}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>qp_dajineng_bdbaokai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,686},{334,318}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{334,318}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>qp_dajineng_bdbaokai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,344},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{340,340}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>qp_dajineng_bdbaokai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,686},{340,334}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{340,334}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>qp_dajineng_bdbaokai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{342,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{342,340}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>qp_dajineng_bdbaokai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{342,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{342,340}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>qp_dajineng_bdbaokai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{342,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{342,340}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>qp_dajineng_bdbaokai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{342,340}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dajineng_bdbaokai.png</string>
            <key>size</key>
            <string>{1002,1028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:663e36594b9233ca02dc672358c9154b:1/1$</string>
            <key>textureFileName</key>
            <string>qp_dajineng_bdbaokai.png</string>
        </dict>
    </dict>
</plist>
