<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_dajineng_bdbianchu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{272,164}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{272,164}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdbianchu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{310,214}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{310,214}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdbianchu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{312,234}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{312,234}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdbianchu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{318,238}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{318,238}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdbianchu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{318,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{318,238}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>qp_dajineng_bdbianchu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,244}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{318,244}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_dajineng_bdbianchu.png</string>
            <key>size</key>
            <string>{1862,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc5c93e54e6ded6810e2aac08c545973:1/1$</string>
            <key>textureFileName</key>
            <string>qp_dajineng_bdbianchu.png</string>
        </dict>
    </dict>
</plist>
