<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jgp_jg_js_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{168,1182}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{168,1182}}</string>
                <key>sourceSize</key>
                <string>{184,1214}</string>
            </dict>
            <key>qp_jgp_jg_js_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,1214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,1214}}</string>
                <key>sourceSize</key>
                <string>{184,1214}</string>
            </dict>
            <key>qp_jgp_jg_js_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{120,1152}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,62},{120,1152}}</string>
                <key>sourceSize</key>
                <string>{184,1214}</string>
            </dict>
            <key>qp_jgp_jg_js_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{118,1202}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{118,1202}}</string>
                <key>sourceSize</key>
                <string>{184,1214}</string>
            </dict>
            <key>qp_jgp_jg_js_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{114,1086}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,104},{114,1086}}</string>
                <key>sourceSize</key>
                <string>{184,1214}</string>
            </dict>
            <key>qp_jgp_jg_js_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{116,1080}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,107},{116,1080}}</string>
                <key>sourceSize</key>
                <string>{184,1214}</string>
            </dict>
            <key>qp_jgp_jg_js_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{112,1072}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,108},{112,1072}}</string>
                <key>sourceSize</key>
                <string>{184,1214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jgp_jg_js.png</string>
            <key>size</key>
            <string>{948,1218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d90666a37cd06a1215eb441ebae3a94a:1/1$</string>
            <key>textureFileName</key>
            <string>qp_jgp_jg_js.png</string>
        </dict>
    </dict>
</plist>
