<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jgp_jg_fs_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,231}}</string>
                <key>offset</key>
                <string>{-7,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,224},{141,231}}</string>
                <key>sourceSize</key>
                <string>{179,455}</string>
            </dict>
            <key>qp_jgp_jg_fs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{155,221}}</string>
                <key>offset</key>
                <string>{-4,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,222},{155,221}}</string>
                <key>sourceSize</key>
                <string>{179,455}</string>
            </dict>
            <key>qp_jgp_jg_fs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{155,223}}</string>
                <key>offset</key>
                <string>{-4,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,222},{155,223}}</string>
                <key>sourceSize</key>
                <string>{179,455}</string>
            </dict>
            <key>qp_jgp_jg_fs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{153,455}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{153,455}}</string>
                <key>sourceSize</key>
                <string>{179,455}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jgp_jg_fs.png</string>
            <key>size</key>
            <string>{916,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9928a3ab080fc5d4886ead3bfc607454:1/1$</string>
            <key>textureFileName</key>
            <string>qp_jgp_jg_fs.png</string>
        </dict>
    </dict>
</plist>
