<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jgp_jg_cx_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,692},{251,686}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{251,686}}</string>
                <key>sourceSize</key>
                <string>{263,688}</string>
            </dict>
            <key>qp_jgp_jg_cx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{251,688}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{251,688}}</string>
                <key>sourceSize</key>
                <string>{263,688}</string>
            </dict>
            <key>qp_jgp_jg_cx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{251,688}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{251,688}}</string>
                <key>sourceSize</key>
                <string>{263,688}</string>
            </dict>
            <key>qp_jgp_jg_cx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,688}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{251,688}}</string>
                <key>sourceSize</key>
                <string>{263,688}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jgp_jg_cx.png</string>
            <key>size</key>
            <string>{508,1382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59229bcff928f5482b52e6c92c51c15a:1/1$</string>
            <key>textureFileName</key>
            <string>qp_jgp_jg_cx.png</string>
        </dict>
    </dict>
</plist>
