<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jgp_dc_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{195,189}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{195,189}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,953},{195,189}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{195,189}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{201,189}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{201,189}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,581},{205,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{205,191}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dc_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{207,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{207,191}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dc_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,388},{209,191}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,191}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dc_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1144},{207,177}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{207,177}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dj_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{185,175}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{185,175}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,774},{209,177}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{209,177}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{209,191}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,191}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,195},{209,191}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,191}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{209,191}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,191}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{209,191}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,191}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>qp_jgp_dj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,191}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,191}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jgp_dc.png</string>
            <key>size</key>
            <string>{424,1333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3de01abdd479ab338ab10d40e6149a8:1/1$</string>
            <key>textureFileName</key>
            <string>qp_jgp_dc.png</string>
        </dict>
    </dict>
</plist>
