<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>palmleaffan_skill_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,0},{112,202}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,68},{112,202}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{108,204}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,74},{108,204}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,212},{128,184}}</string>
                <key>offset</key>
                <string>{-39,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,99},{128,184}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{168,150}}</string>
                <key>offset</key>
                <string>{-44,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,121},{168,150}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,202},{178,136}}</string>
                <key>offset</key>
                <string>{-43,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,128},{178,136}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,206},{184,122}}</string>
                <key>offset</key>
                <string>{-43,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,133},{184,122}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,202},{194,120}}</string>
                <key>offset</key>
                <string>{-43,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,133},{194,120}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{202,144}}</string>
                <key>offset</key>
                <string>{-43,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,118},{202,144}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,228}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,51},{88,228}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{204,90}}</string>
                <key>offset</key>
                <string>{22,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,210},{204,90}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,204},{178,138}}</string>
                <key>offset</key>
                <string>{14,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,200},{178,138}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{206,104}}</string>
                <key>offset</key>
                <string>{38,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,203},{206,104}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{220,52}}</string>
                <key>offset</key>
                <string>{45,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,205},{220,52}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{212,54}}</string>
                <key>offset</key>
                <string>{49,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,188},{212,54}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,208},{186,110}}</string>
                <key>offset</key>
                <string>{44,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,141},{186,110}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{114,176}}</string>
                <key>offset</key>
                <string>{23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,81},{114,176}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,176},{100,200}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,61},{100,200}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_right_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{114,208}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,66},{114,208}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>palmleaffan_skill_right_low.png</string>
            <key>size</key>
            <string>{1018,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:984367425f262aebd29040834d767579$</string>
            <key>textureFileName</key>
            <string>palmleaffan_skill_right_low.png</string>
        </dict>
    </dict>
</plist>
