<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>palmleaffan_skill_crit_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,0},{114,202}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,67},{114,202}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,202},{108,198}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,72},{108,198}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,216},{104,182}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,94},{104,182}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{128,166}}</string>
                <key>offset</key>
                <string>{37,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,113},{128,166}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,98},{132,158}}</string>
                <key>offset</key>
                <string>{38,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,121},{132,158}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,230},{134,150}}</string>
                <key>offset</key>
                <string>{40,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,128},{134,150}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,230},{142,148}}</string>
                <key>offset</key>
                <string>{42,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,131},{142,148}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{142,174}}</string>
                <key>offset</key>
                <string>{44,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,113},{142,174}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,226}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,47},{106,226}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{216,180}}</string>
                <key>offset</key>
                <string>{-55,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,164},{216,180}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{162,98}}</string>
                <key>offset</key>
                <string>{27,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,169},{162,98}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,212},{142,176}}</string>
                <key>offset</key>
                <string>{33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,82},{142,176}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,216},{80,184}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,63},{80,184}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,204},{86,172}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,74},{86,172}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,204},{74,192}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,73},{74,192}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{76,210}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,63},{76,210}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{104,212}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,61},{104,212}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{112,204}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,65},{112,204}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>palmleaffan_skill_crit_left_low.png</string>
            <key>size</key>
            <string>{1012,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:256f2294b16aaa9250c693dc832aec63$</string>
            <key>textureFileName</key>
            <string>palmleaffan_skill_crit_left_low.png</string>
        </dict>
    </dict>
</plist>
