<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>palmleaffan_rotate_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,0},{273,499}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,161},{273,499}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{275,505}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,152},{275,505}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,0},{251,507}}</string>
                <key>offset</key>
                <string>{-17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,143},{251,507}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,507},{147,493}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,145},{147,493}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,507},{119,483}}</string>
                <key>offset</key>
                <string>{12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,144},{119,483}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,499},{257,485}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,142},{257,485}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,503},{269,495}}</string>
                <key>offset</key>
                <string>{-31,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,144},{269,495}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,505},{123,507}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,147},{123,507}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,503},{155,515}}</string>
                <key>offset</key>
                <string>{29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,149},{155,515}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,505},{243,513}}</string>
                <key>offset</key>
                <string>{38,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,152},{243,513}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,0},{271,503}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,158},{271,503}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_rotate_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{273,499}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,161},{273,499}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>palmleaffan_rotate.png</string>
            <key>size</key>
            <string>{1346,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fbe632fce6c2b21e66aadbef8ac6fc1$</string>
            <key>textureFileName</key>
            <string>palmleaffan_rotate.png</string>
        </dict>
    </dict>
</plist>
