<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>palmleaffan_skill_crit_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{273,487}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,160},{273,487}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,735},{263,471}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,176},{263,471}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,998},{277,421}}</string>
                <key>offset</key>
                <string>{-97,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,230},{277,421}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1608},{351,369}}</string>
                <key>offset</key>
                <string>{-114,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,282},{351,369}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1608},{367,353}}</string>
                <key>offset</key>
                <string>{-116,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,296},{367,353}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1275},{377,333}}</string>
                <key>offset</key>
                <string>{-116,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,309},{377,333}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1465},{403,327}}</string>
                <key>offset</key>
                <string>{-116,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,312},{403,327}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1082},{415,383}}</string>
                <key>offset</key>
                <string>{-124,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,274},{415,383}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,0},{213,531}}</string>
                <key>offset</key>
                <string>{-13,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,113},{213,531}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{543,409}}</string>
                <key>offset</key>
                <string>{113,-204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,412},{543,409}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1465},{409,223}}</string>
                <key>offset</key>
                <string>{-107,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,409},{409,223}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,966},{295,459}}</string>
                <key>offset</key>
                <string>{-83,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,200},{295,459}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,891},{191,459}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,143},{191,459}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,523},{267,443}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,166},{267,443}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,409},{209,499}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{344,164},{209,499}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,0},{171,523}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,146},{171,523}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,213},{249,513}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,144},{249,513}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_right_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,462},{273,491}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,156},{273,491}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>palmleaffan_skill_crit_right.png</string>
            <key>size</key>
            <string>{1260,1977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70af7f7030457f250653b0cf6b232feb$</string>
            <key>textureFileName</key>
            <string>palmleaffan_skill_crit_right.png</string>
        </dict>
    </dict>
</plist>
