<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>palmleaffan_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{275,495}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,153},{275,495}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,0},{277,501}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,152},{277,501}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,0},{277,513}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,148},{277,513}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,277},{281,523}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,145},{281,523}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,558},{283,519}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,145},{283,519}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,277},{285,503}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,145},{285,503}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,558},{287,487}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,148},{287,487}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,845},{287,479}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,150},{287,479}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,841},{287,479}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,150},{287,479}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,847},{287,489}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,147},{287,489}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,562},{285,505}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,144},{285,505}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,835},{283,521}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,145},{283,521}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{281,525}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,145},{281,525}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,275},{277,515}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,148},{277,515}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,277},{277,503}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,151},{277,503}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_idle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,0},{275,497}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,153},{275,497}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>palmleaffan_idle.png</string>
            <key>size</key>
            <string>{2044,1134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fb5739bc58f368bcb57dbb7b755c456$</string>
            <key>textureFileName</key>
            <string>palmleaffan_idle.png</string>
        </dict>
    </dict>
</plist>
