<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>palmleaffan_skill_crit_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,491},{273,487}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,158},{273,487}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,0},{261,475}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,174},{261,475}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,918},{249,439}}</string>
                <key>offset</key>
                <string>{73,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,224},{249,439}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,744},{305,399}}</string>
                <key>offset</key>
                <string>{89,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,272},{305,399}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,363},{317,381}}</string>
                <key>offset</key>
                <string>{92,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,291},{317,381}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,0},{325,363}}</string>
                <key>offset</key>
                <string>{95,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,306},{325,363}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,842},{341,359}}</string>
                <key>offset</key>
                <string>{101,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,312},{341,359}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,423},{341,419}}</string>
                <key>offset</key>
                <string>{105,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,270},{341,419}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{255,543}}</string>
                <key>offset</key>
                <string>{-24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,111},{255,543}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,543},{519,429}}</string>
                <key>offset</key>
                <string>{-132,-198}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,396},{519,429}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,413},{389,237}}</string>
                <key>offset</key>
                <string>{66,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,403},{389,237}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,0},{343,423}}</string>
                <key>offset</key>
                <string>{79,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,196},{343,423}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,475},{193,443}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,150},{193,443}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,0},{207,413}}</string>
                <key>offset</key>
                <string>{-40,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,178},{207,413}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1016},{177,465}}</string>
                <key>offset</key>
                <string>{-52,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,173},{177,465}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,511},{183,505}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,149},{183,505}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{251,511}}</string>
                <key>offset</key>
                <string>{28,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,144},{251,511}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_crit_left_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{273,491}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,155},{273,491}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>palmleaffan_skill_crit_left.png</string>
            <key>size</key>
            <string>{1999,1201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a52444844fb56c4ad717dfd590f0bfc$</string>
            <key>textureFileName</key>
            <string>palmleaffan_skill_crit_left.png</string>
        </dict>
    </dict>
</plist>
