<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>palmleaffan_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,216},{114,204}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,65},{114,204}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,208},{114,208}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,64},{114,208}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{116,214}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,61},{116,214}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{116,218}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,60},{116,218}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{118,216}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,60},{118,216}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,210},{118,210}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,60},{118,210}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{118,202}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,62},{118,202}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,214},{120,200}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,62},{120,200}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,218},{120,200}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,62},{120,200}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,216},{120,204}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,61},{120,204}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{118,210}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,60},{118,210}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{118,216}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,61},{118,216}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,218}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,60},{116,218}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{116,214}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,62},{116,214}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{114,208}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,64},{114,208}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_idle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,214},{114,206}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,64},{114,206}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>palmleaffan_idle_low.png</string>
            <key>size</key>
            <string>{938,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a25861da041fdcc6f717a1932f9e2931$</string>
            <key>textureFileName</key>
            <string>palmleaffan_idle_low.png</string>
        </dict>
    </dict>
</plist>
