<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>palmleaffan_rotate_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{112,206}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,68},{112,206}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,210}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,63},{114,210}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,210},{104,210}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,60},{104,210}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,270},{62,204}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,61},{62,204}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{50,200}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,61},{50,200}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,370},{106,202}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,59},{106,202}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{112,206}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,60},{112,206}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{52,210}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,63},{52,210}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,206},{64,214}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,63},{64,214}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,270},{100,214}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,63},{100,214}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{112,210}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,65},{112,210}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
            <key>palmleaffan_rotate_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{112,208}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,67},{112,208}}</string>
                <key>sourceSize</key>
                <string>{344,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>palmleaffan_rotate_low.png</string>
            <key>size</key>
            <string>{500,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dce3cbcf4a9795dfe9d8b23420341b6f$</string>
            <key>textureFileName</key>
            <string>palmleaffan_rotate_low.png</string>
        </dict>
    </dict>
</plist>
