<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>palmleaffan_skill_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,273},{273,487}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,159},{273,487}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,546},{261,475}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,175},{261,475}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,834},{249,439}}</string>
                <key>offset</key>
                <string>{73,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,225},{249,439}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,375},{305,399}}</string>
                <key>offset</key>
                <string>{89,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,273},{305,399}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,666},{317,381}}</string>
                <key>offset</key>
                <string>{92,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,291},{317,381}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,0},{325,363}}</string>
                <key>offset</key>
                <string>{95,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,306},{325,363}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,325},{341,359}}</string>
                <key>offset</key>
                <string>{101,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,313},{341,359}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,415},{343,419}}</string>
                <key>offset</key>
                <string>{106,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,271},{343,419}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{255,551}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,116},{255,551}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,680},{445,281}}</string>
                <key>offset</key>
                <string>{-90,-200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,472},{445,281}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{381,415}}</string>
                <key>offset</key>
                <string>{-83,-202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,407},{381,415}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{419,375}}</string>
                <key>offset</key>
                <string>{-137,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,402},{419,375}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,807},{441,259}}</string>
                <key>offset</key>
                <string>{-156,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,414},{441,259}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1066},{467,165}}</string>
                <key>offset</key>
                <string>{-143,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,436},{467,165}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,983},{429,229}}</string>
                <key>offset</key>
                <string>{-121,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,358},{429,229}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,834},{237,435}}</string>
                <key>offset</key>
                <string>{-80,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,205},{237,435}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,551},{255,501}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,146},{255,501}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
            <key>palmleaffan_skill_left_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,0},{273,491}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,154},{273,491}}</string>
                <key>sourceSize</key>
                <string>{825,825}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>palmleaffan_skill_left.png</string>
            <key>size</key>
            <string>{1918,1273}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:441a9fbc5204319c8a441025e631d202$</string>
            <key>textureFileName</key>
            <string>palmleaffan_skill_left.png</string>
        </dict>
    </dict>
</plist>
