<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mh_pao01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,272},{246,232}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,60},{246,232}}</string>
                <key>sourceSize</key>
                <string>{428,428}</string>
            </dict>
            <key>mh_pao01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{254,238}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,56},{254,238}}</string>
                <key>sourceSize</key>
                <string>{428,428}</string>
            </dict>
            <key>mh_pao01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,262},{260,246}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,52},{260,246}}</string>
                <key>sourceSize</key>
                <string>{428,428}</string>
            </dict>
            <key>mh_pao01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{268,252}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,49},{268,252}}</string>
                <key>sourceSize</key>
                <string>{428,428}</string>
            </dict>
            <key>mh_pao01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{276,258}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,46},{276,258}}</string>
                <key>sourceSize</key>
                <string>{428,428}</string>
            </dict>
            <key>mh_pao01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,266}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,42},{282,266}}</string>
                <key>sourceSize</key>
                <string>{428,428}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dream_cannon_normal.png</string>
            <key>size</key>
            <string>{818,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c244197a5f8718df74b6eb783c2d3cd$</string>
            <key>textureFileName</key>
            <string>dream_cannon_normal.png</string>
        </dict>
    </dict>
</plist>
