<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daiji01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{221,87}}</string>
                <key>offset</key>
                <string>{1,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,101},{221,87}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>daiji01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{221,87}}</string>
                <key>offset</key>
                <string>{1,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,101},{221,87}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>daiji01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{241,107}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,104},{241,107}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>daiji01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{241,107}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,104},{241,107}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>daiji01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{243,101}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,141},{243,101}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>daiji01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{243,101}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,141},{243,101}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>daiji01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,123}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,165},{245,123}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>daiji01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{241,137}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,189},{241,137}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>daiji01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{241,137}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,189},{241,137}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>daiji01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{233,119}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,210},{233,119}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dream_cannon_normal_fl.png</string>
            <key>size</key>
            <string>{249,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5973a7739a29d2914128fa00b2b54dc2$</string>
            <key>textureFileName</key>
            <string>dream_cannon_normal_fl.png</string>
        </dict>
    </dict>
</plist>
