<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qp_jackpot_jl_sg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,1},{47,30}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,106},{47,30}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
            <key>qp_jackpot_jl_sg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1},{193,118}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{193,118}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
            <key>qp_jackpot_jl_sg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,210},{269,194}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{269,194}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
            <key>qp_jackpot_jl_sg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1},{273,206}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{273,206}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
            <key>qp_jackpot_jl_sg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1},{273,208}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{273,208}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
            <key>qp_jackpot_jl_sg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{273,208}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{273,208}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
            <key>qp_jackpot_jl_sg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1},{273,206}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{273,206}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
            <key>qp_jackpot_jl_sg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,208},{273,204}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{273,204}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
            <key>qp_jackpot_jl_sg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,210},{271,202}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{271,202}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
            <key>qp_jackpot_jl_sg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,210},{267,198}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{267,198}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
            <key>qp_jackpot_jl_sg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,208},{259,190}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{259,190}}</string>
                <key>sourceSize</key>
                <string>{297,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qp_jackpot_sg.png</string>
            <key>size</key>
            <string>{1349,413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:029c4045d94d45e13d21bc074bfce0fd$</string>
            <key>textureFileName</key>
            <string>qp_jackpot_sg.png</string>
        </dict>
    </dict>
</plist>
