<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sj_msy_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{46,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{76,326},{46,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_msy_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{50,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{74,2},{50,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_msy_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{56,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{68,164},{56,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_msy_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{64,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{2,164},{64,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_msy_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{2,2},{70,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sj_msy_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{72,156}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{2,326},{72,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sj_msy.png</string>
            <key>size</key>
            <string>{126,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851b96888397887c31c44ea1b31f8311:4195396d556826cdfe349256e8968d4b:605b9ddf0a3446185b9285889dbf054e$</string>
            <key>textureFileName</key>
            <string>sj_msy.png</string>
        </dict>
    </dict>
</plist>
