<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sj_ms_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{64,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{326,78},{64,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sj_ms_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{68,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2,78},{68,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sj_ms_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{70,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{164,76},{70,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sj_ms_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{72,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{164,2},{72,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sj_ms_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,160}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{2,2},{74,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sj_ms_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{74,156}</string>
                <key>spriteSourceSize</key>
                <string>{80,160}</string>
                <key>textureRect</key>
                <string>{{326,2},{74,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sj_ms.png</string>
            <key>size</key>
            <string>{488,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b168e3e66ddc519a4893f967921d59a:2fc460587c0da08694c2f8069dae8fd5:f50fca48764743822d4ac8f77ff2dd53$</string>
            <key>textureFileName</key>
            <string>sj_ms.png</string>
        </dict>
    </dict>
</plist>
